%section.container_transparent
  %ul
    %li
      .blue_background_container_li
        .li-holder
          .li-content
            .text-content
              .text-v4
                .row
                  .col-md-10.col-md-offset-1.center_align_desktop
                    .col-md-6
                      %h1{style: 'line-height: 35px'}
                        = t('general.seo.header_block_1', city_name: @city_name)
                      %br
                      %p
                        Zoek jij naar de beste
                        %strong matrassen in #{@city_name}?
                        Dan heb je de juiste site gevonden. Tenzen is namelijk
                        een matrassenproducten die perfect op maat gemaakte matrassen maakt. Door een aantal simpele
                        vragen weten wij welke materialen het beste bij jouw lichaam, slaappositie en slaapgewoonten past.
                        Wij stellen dan het beste matras voor jou samen.
                      %p
                        Je matras wordt verpakt in een doos geleverd bij je thuis. De droomservice van Tenzen houdt ook in dat de bezorging helemaal gratis is. Dus geen verassingen met betrekking tot de kosten. Een Tenzen matras is ontzettend scherp geprijsd. Een betere nachtrust was nog nooit zo goedkoop.
                      %p
                        Bovendien ben je geen uren kwijt aan het zoeken naar termen waar je toch weinig aan hebt. Online kun je je
                        %strong matras in #{@city_name}
                        heel makkelijk bestellen. Wij zorgen daarna dat jij een betere nachtrust krijgt. Je zult slapen zoals nooit tevoren. Het maximale slaapcomfort.
                      .checkout_button.title-v4.text-center
                        = cta_button_block_1
                    .col-md-6
                      = video_seo_block_1

    %li
      .li-holder
        .li-content
          .text-content
            .text-v4
              .row
                .col-md-10.col-md-offset-1.center_align_desktop
                  .col-md-6
                    = image_seo_block_2
                  .col-md-6
                    %h2
                      = t('general.seo.header_block_2', city_name: @city_name)
                    %p
                      Bij Tenzen kun je gemakkelijk een
                      %strong matras kopen in #{@city_name}.
                      Normaal ben je uren kwijt aan het zoeken
                      van een goed matras. Bij Tenzen kun je je matras eenvoudig en snel samenstellen. Wij zorgen dat je
                      het beste matras voor jouw lichaam krijgt.
                    %p
                      Je slaapt een derde van je leven. Waarom zou je dat niet op een goed matras doen? Tenzen staat
                      garant voor een betere nachtrust. Je kunt proefslapen op je matras om te kijken of het wel echt bij je
                      past. En geloof ons, een wereld zal voor je opengaan.
                    %p
                      Vind je het moeilijk om een matras te vinden dat bij jou past en heb je nog geen
                      %strong matras gekocht in #{@city_name}?
                      Dan is Tenzen perfect voor jou. Je kunt uitgebreid proefslapen op een perfect matras. Je kunt
                      je matras gemakkelijk online bestellen.
                    .checkout_button.title-v4.text-center
                      = cta_button_block_2
    %li
      .blue_background_container_li
        .li-holder
          .li-content
            .text-content
              .text-v4
                .row
                  .col-md-10.col-md-offset-1.center_align_desktop
                    .col-md-6
                      %h2= t('general.seo.header_block_3', city_name: @city_name)
                      %p
                        Wat heb je aan kortingen en acties als je uiteindelijk toch duur uit bent. De
                        %strong goedkoopste matrassen in #{@city_name}
                        vind je niet zomaar. Je moet ook letten op de kwaliteit van de matrassen. Een Tenzen matras
                        biedt je de beste oplossing. Perfecte matrassen voor een zeer lage prijs.
                      %p
                        Met Tenzen weet je zeker dat je het beste matras in huis hebt. Tenzen is niet als andere
                        %strong goedkope matrassen in #{@city_name}.
                        Tenzen wordt speciaal voor jouw lichaam gemaakt. Je geniet van een lange
                        garantieperiode. Bovendien worden alle Tenzen matrassen onder strenge kwaliteitsnormen
                        gemaakt.
                      .checkout_button.title-v4.text-center
                        = cta_button_block_3
                    .col-md-6
                      = image_seo_block_3
    %li
      .li-holder
        .li-content
          .text-content
            .text-v4
              .row
                .col-md-10.col-md-offset-1.center_align_desktop
                  .col-md-6
                    = image_seo_block_4
                  .col-md-6
                    %ul
                      %h3= t('general.seo.header_block_4')
                      -@city_group_2.each do |city|
                        %li.other_cities
                          %a{href: "/matrassen/#{city.downcase.gsub(' ', '-')}", title: "Matras #{city.titleize}"}= city.titleize
                      .checkout_button.title-v4.text-center
                        = cta_button_block_4
