%section.container_transparent
  %ul
    %li
      .blue_background_container_li
        .li-holder
          .li-content
            .text-content
              .text-v4
                .row
                  .col-md-10.col-md-offset-1.center_align_desktop
                    .col-md-6
                      %h1{style: 'line-height: 35px'}
                        = t('general.seo.header_block_1', city_name: @city_name)
                      %br
                      %p
                        Het bestellen van een
                        %strong matras in #{@city_name}
                        was nog nooit zo makkelijk. Je doet het bij Tenzen gewoon
                        online. Wat voor matras krijg je dan? Het allerbeste matras voor jouw lichaam. Tenzen is namelijk
                        een persoonlijke matras. Door een vragenlijst in te vullen weten wij precies wat voor eigenschappen
                        jouw matras moet bezitten.
                      %p
                        Wij stellen dan je matras zo samen dat het perfect bij je past. Het
                        invullen van de matraswijzer duurt slechts een paar minuten. Je krijgt dan een gratis adviesrapport
                        en een prijsindicatie van jouw matras. Een Tenzen matras houdt rekening met de belangrijkste
                        eigenschappen van matrassen. Zo wordt er gekeken naar de stevigheid, elasticiteit en luchtdoorvoer.
                        Deze eigenschappen van het matras worden optimaal gemaakt voor jouw lichaam.
                      %p
                        Andere
                        %strong matrassen in #{@city_name}
                        kunnen niet op tegen een dergelijk comfort. Wil jij ook goed slapen? Bestel
                        jouw Tenzen matras direct online.
                      .checkout_button.title-v4.text-center
                        = cta_button_block_1
                    .col-md-6
                      = video_seo_block_1
    %li
      .li-holder
        .li-content
          .text-content
            .text-v4
              .row
                .col-md-10.col-md-offset-1.center_align_desktop
                  .col-md-6
                    = image_seo_block_2
                  .col-md-6
                    %h2
                      = t('general.seo.header_block_2', city_name: @city_name)
                    %p
                      Een
                      %strong matras kopen in #{@city_name}
                      was nog nooit zo makkelijk. Je kunt direct aan de slag met onze
                      samenstelfunctie. Je stelt dan in een mum van tijd je eigen matras samen. Een matras dat perfect bij
                      jouw lichaam en slaapgewoonten past.
                    %p
                      Ontzettend veel termen waar je geen raad mee weet. Moet je nou een koudschuim of traagschuim
                      matras kopen. Wat is de punt-elasticiteit van je matras. Wat is de stevigheid. Enzovoort. Bij Tenzen
                      hoef je dit allemaal niet te weten. Onze vragenlijst is zo opgebouwd dat we precies weten welke
                      matras bij jouw lichaam past. Zo weet je ook zeker dat je niet de verkeerde keuze maakt.
                    %p
                      Is Tenzen iets voor jou en heb je nog geen
                      %strong matras gekocht in #{@city_name}?
                      Bestel dan direct jouw matras
                      online. Zorg dat jij heel snel beter kunt slapen. Je kunt proefslapen op je Tenzen matras en testen of
                      het iets voor jou is.
                    .checkout_button.title-v4.text-center
                      = cta_button_block_2
    %li
      .blue_background_container_li
        .li-holder
          .li-content
            .text-content
              .text-v4
                .row
                  .col-md-10.col-md-offset-1.center_align_desktop
                    .col-md-6
                      %h2= t('general.seo.header_block_3', city_name: @city_name)
                      %p
                        De beste matrassen zijn helemaal niet duur. Vaak betaal je onnodige kosten voor een matras dat
                        helemaal niet bij jouw lichaam past. Tenzen matrassen zijn dan ook een uitzondering. De prijzen zijn
                        ontzettend laag.
                        %strong Goedkope matrassen in #{@city_name}
                        zijn dus niet ver weg meer.
                      %p
                        Het is belangrijk dat je bij de
                        %strong goedkope matrassen in #{@city_name}
                        let op de kwaliteit. Tenzen biedt je de
                        beste kwaliteit voor de laagste prijs. De garantieperiode geeft je zekerheid. Je kunt ontzettend lang
                        van je matras genieten en hoeft niet bang te zijn deze snel weer te moeten vervangen.
                      .checkout_button.title-v4.text-center
                        = cta_button_block_3
                    .col-md-6
                      = image_seo_block_3
    %li
      .li-holder
        .li-content
          .text-content
            .text-v4
              .row
                .col-md-10.col-md-offset-1.center_align_desktop
                  .col-md-6
                    = image_seo_block_4
                  .col-md-6
                    %ul
                      %h3= t('general.seo.header_block_4')
                      -@city_group_8.each do |city|
                        %li.other_cities
                          %a{href: "/matrassen/#{city.downcase.gsub(' ', '-')}", title: "Matras #{city.titleize}"}= city.titleize
                      .checkout_button.title-v4.text-center
                        = cta_button_block_4
