%section.container_transparent
  %ul
    %li
      .blue_background_container_li
        .li-holder
          .li-content
            .text-content
              .text-v4
                .row
                  .col-md-10.col-md-offset-1.center_align_desktop
                    .col-md-6
                      %h1{style: 'line-height: 35px'}
                        = t('general.seo.header_block_1', city_name: @city_name)
                      %br
                      %p
                        Beter slapen willen we allemaal wel. Maar hoe moeten we dat voor elkaar krijgen? Een goede eerste
                        stap is te kijken naar je matras. Vaak kopen mensen een goedkoop matras, zonder te weten dat dit
                        ontzettend veel invloed heeft op zijn of haar slaap. Elk lichaam is anders. Een matras moet daarom
                        ook zo zijn. Het moet je ondersteunen waar dat nodig is en het moet jou een betere nachtrust
                        opleveren.
                      %p
                        Het vinden van een goede
                        %strong matras in #{@city_name}
                        is helemaal niet
                        moeilijk. Tenzen stelt je namelijk in staat om een persoonlijke matras samen te stellen. Door de juiste
                        stevigheid, flexibiliteit en materialen te gebruiken krijg jij een matras waar andere
                        %strong matrassen in #{@city_name}
                        niet tegen opgewassen zijn. Ongekende comfort.
                      %p
                        Je kunt je matras
                        gratis samenstellen en kijken wat het advies voor jouw lichaam is. Dit duurt slechts enkele minuten.
                      .checkout_button.title-v4.text-center
                        = cta_button_block_1
                    .col-md-6
                      = video_seo_block_1
    %li
      .li-holder
        .li-content
          .text-content
            .text-v4
              .row
                .col-md-10.col-md-offset-1.center_align_desktop
                  .col-md-6
                    = image_seo_block_2
                  .col-md-6
                    %h2
                      = t('general.seo.header_block_2', city_name: @city_name)
                    %p
                      Een
                      %strong matras kopen in #{@city_name}
                      was nog nooit zo makkelijk. Je kunt direct aan de slag met onze
                      samenstelfunctie. Je stelt dan in een mum van tijd je eigen matras samen. Een matras dat perfect bij
                      jouw lichaam en slaapgewoonten past.
                    %p
                      Slapen is ontzettend belangrijk. Een goede nachtrust kan helpen tegen een tal van kwalen. Van
                      moeheid tot depressies. Een Tenzen matras zorgt dat jij beter kan slapen. Hierdoor heb je niet alleen
                      meer uren nachtrust, maar ook betere dagen. Door een goede nachtrust ben je namelijk energieker
                      en productiever overdag.
                    %p
                      Het is niet te laat om een verandering te brengen in je leven. Heb jij nog geen
                      %strong matras gekocht in #{@city_name}?
                      Bestel dan direct jouw persoonlijke matras online. Je zult niet alleen beter nachten, maar ook
                      betere, opgewekte dagen hebben. Ervaar het verschil en bestel direct.
                    .checkout_button.title-v4.text-center
                      = cta_button_block_2
    %li
      .blue_background_container_li
        .li-holder
          .li-content
            .text-content
              .text-v4
                .row
                  .col-md-10.col-md-offset-1.center_align_desktop
                    .col-md-6
                      %h2= t('general.seo.header_block_3', city_name: @city_name)
                      %p
                        De beste matrassen zijn helemaal niet duur. Vaak betaal je onnodige kosten voor een matras dat
                        helemaal niet bij jouw lichaam past. Tenzen matrassen zijn dan ook een uitzondering. De prijzen zijn
                        ontzettend laag.
                        %strong Goedkope matrassen in #{@city_name}
                        zijn dus niet ver weg meer.
                      %p
                        Je wilt bij het kopen van een
                        %strong goedkope matras in #{@city_name}
                        niet tegen onverwachte kosten aanlopen.
                        Zorg daarom altijd dat je een matras koopt die je niet vaak hoeft te vervangen. Bij een Tenzen matras
                        geniet je van een lange garantieperiode. Zo weet je zeker dat je matras lang mee gaat.
                      .checkout_button.title-v4.text-center
                        = cta_button_block_3
                    .col-md-6
                      = image_seo_block_3
    %li
      .li-holder
        .li-content
          .text-content
            .text-v4
              .row
                .col-md-10.col-md-offset-1.center_align_desktop
                  .col-md-6
                    = image_seo_block_4
                  .col-md-6
                    %ul
                      %h3= t('general.seo.header_block_4')
                      -@city_group_5.each do |city|
                        %li.other_cities
                          %a{href: "/matrassen/#{city.downcase.gsub(' ', '-')}", title: "Matras #{city.titleize}"}= city.titleize
                      .checkout_button.title-v4.text-center
                        = cta_button_block_4
