%section.container_transparent
  %ul
    %li
      .blue_background_container_li
        .li-holder
          .li-content
            .text-content
              .text-v4
                .row
                  .col-md-10.col-md-offset-1.center_align_desktop
                    .col-md-6
                      %h1{style: 'line-height: 35px'}
                        = t('general.seo.header_block_1', city_name: @city_name)
                      %br
                      %p
                        Op zoek naar een goed matras? Bij Tenzen kun je snel en eenvoudig een persoonlijke matras
                        samenstellen. Door een simpele vragenlijst in te vullen krijg je een gratis adviesrapport. Wij zullen
                        aan de hand van dit rapport het beste matras voor je samenstellen. Je krijgt direct een prijsindicatie
                        zodat je weet wat je te wachten staat.
                      %p
                        Geen verborgen kosten. Dit betekent ook dat de bezorging
                        van je
                        %strong matras in #{@city_name}
                        helemaal gratis is. Tegenwoordig is het heel makkelijk om een matras te
                        bestellen. Dit kan natuurlijk gewoon online. Vaak zijn mensen dan bang om een miskoop te begaan.
                        Wij bieden je zekerheid daartegen.
                      %p
                        Je kunt namelijk uitgebreid proefslapen op je Tenzen matras. En
                        is het nou niet wat je er van had verwacht? Dan komen wij het gratis weer ophalen en krijg jij het
                        volledige aankoopbedrag terug. Alle Tenzen
                        %strong matrassen in #{@city_name}
                        worden in een doos verstuurd. Zo
                        zorgen wij dat je droommatras betaalbaar is.
                      .checkout_button.title-v4.text-center
                        = cta_button_block_1
                    .col-md-6
                      = video_seo_block_1
    %li
      .li-holder
        .li-content
          .text-content
            .text-v4
              .row
                .col-md-10.col-md-offset-1.center_align_desktop
                  .col-md-6
                    = image_seo_block_2
                  .col-md-6
                    %h2
                      = t('general.seo.header_block_2', city_name: @city_name)
                    %p
                      Een
                      %strong matras kopen in #{@city_name}?
                      Het is niet altijd eenvoudig om een goed matras te vinden. Daarom is
                      Tenzen in het leven geroepen. Je beantwoordt een aantal korte vragen en je krijgt direct het beste
                      matras voor jouw persoonlijke situatie.
                    %p
                      Je geniet van een lange garantieperiode omdat alleen de beste materialen voor je matras worden
                      gebruikt. Om je lichaam goed te ondersteunen is dit ook wel nodig. Je slaapt immers een derde van
                      je leven. Een goed matras is dus geen overbodige luxe.
                    %p
                      Dus wil jij beter slapen en heb jij nog geen
                      %strong matras gekocht in #{@city_name}?
                      Dan is het hoog tijd een stap in
                      de goede richting te zetten. Je kunt met een Tenzen matras gegarandeerd beter slapen. Door de
                      proefslaapperiode weet je altijd zeker of Tenzen bij je past. Je matras in
                      %strong #{@city_name}
                      koop je direct online.
                    .checkout_button.title-v4.text-center
                      = cta_button_block_2
    %li
      .blue_background_container_li
        .li-holder
          .li-content
            .text-content
              .text-v4
                .row
                  .col-md-10.col-md-offset-1.center_align_desktop
                    .col-md-6
                      %h2= t('general.seo.header_block_3', city_name: @city_name)
                      %p
                        Jij wilt natuurlijk niet te veel betalen voor je matras. Een goed matras vinden voor een voordelige
                        prijs is vaak lastig. Ben jij op zoek naar
                        %strong goedkope matrassen in #{@city_name}?
                        Dan hoef je niet verder te
                        zoeken. De matrassen van Tenzen zijn namelijk ontzettend scherp geprijsd.
                      %p
                        Na het kopen van een van de
                        %strong goedkope matrassen in #{@city_name}
                        wil je natuurlijk niet voor een verassing
                        komen te staan. Je wilt zeker weten dat de kwaliteit goed is. De meeste bedrijven kunnen je deze
                        garantie dan ook niet geven. Tenzen wel. Bij Tenzen geniet je van een lange garantieperiode. De
                        materialen die gebruikt worden zijn van hoogwaardige kwaliteit.
                      .checkout_button.title-v4.text-center
                        = cta_button_block_3
                    .col-md-6
                      = image_seo_block_3
    %li
      .li-holder
        .li-content
          .text-content
            .text-v4
              .row
                .col-md-10.col-md-offset-1.center_align_desktop
                  .col-md-6
                    = image_seo_block_4
                  .col-md-6
                    %ul
                      %h3= t('general.seo.header_block_4')
                      -@city_group_8.each do |city|
                        %li.other_cities
                          %a{href: "/matrassen/#{city.downcase.gsub(' ', '-')}", title: "Matras #{city.titleize}"}= city.titleize
                      .checkout_button.title-v4.text-center
                        = cta_button_block_4
