%section.container_transparent
  %ul
    %li
      .blue_background_container_li
        .li-holder
          .li-content
            .text-content
              .text-v4
                .row
                  .col-md-10.col-md-offset-1.center_align_desktop
                    .col-md-6
                      %h1{style: 'line-height: 35px'}
                        = t('general.seo.header_block_1', city_name: @city_name)
                      %br
                      %p
                        De beste
                        %strong matrassen in #{@city_name}
                        vind je natuurlijk bij Tenzen. Matrassen die volledig aan je
                        lichaam worden aangepast. Zo weet je zeker dat je goed en comfortabel slaapt.
                      %p
                        Wil jij ook beter slapen? Stel dan direct je eigen Tenzen matras samen. Het is zo geregeld. Het samenstellen gebeurt in slechts minuten. De uren die je extra aan slaapt hebt zijn deze minuten zeker waard.
                      %p
                        Je Tenzen matras kan op alle soorten bedbodems gebruikt worden. Je kunt het zelfs gewoon op de vloer
                        leggen. Voor de prijs hoef je het zeker niet te laten. Voor deze prijs kun je nergens een matras van
                        dezelfde kwaliteit vinden.
                      %p
                        Wil jij echt je nachtrust verbeteren? Bestel dan direct je
                        %strong matras in #{@city_name}.
                        Een dag langer wachten is een dag minder goed slapen. Dat willen we natuurlijk vermijden.
                      .checkout_button.title-v4.text-center
                        = cta_button_block_1
                    .col-md-6
                      = video_seo_block_1

    %li
      .li-holder
        .li-content
          .text-content
            .text-v4
              .row
                .col-md-10.col-md-offset-1.center_align_desktop
                  .col-md-6
                    = image_seo_block_2
                  .col-md-6
                    %h2
                      = t('general.seo.header_block_2', city_name: @city_name)
                    %p
                      Het beste matras kopen is niet altijd eenvoudig. Bij Tenzen kun je een perfect matras samenstellen
                      voor jouw lichaam. Je kunt onze vragenlijst eenvoudig en snel invullen. Je matras wordt speciaal
                      gefabriceerd in Duitsland. Een
                      %strong matras kopen in #{@city_name}
                      is dus zo geregeld. Gewoon online.
                    %p
                      Veel mensen onderschatten het belang van een goed matras. Daarom kun je bij Tenzen proefslapen.
                      Wij stellen het beste matras voor je samen. Jij kunt het daarna op de proef stellen. Je kunt
                      proefslapen op je Tenzen matras. Alleen zo ervaar je de betere nachtrust van een Tenzen namelijk.
                    %p
                      Je gezondheid is heel belangrijk. Heb jij nog geen
                      %strong matras gekocht in #{@city_name}?
                      Kies dan voor je gezondheid. Kies voor een betere nachtrust. Je kunt je Tenzen matras online kopen. Het is zo
                      geregeld en je hoeft zelf nergens meer naar om te kijken.
                    .checkout_button.title-v4.text-center
                      = cta_button_block_2
    %li
      .blue_background_container_li
        .li-holder
          .li-content
            .text-content
              .text-v4
                .row
                  .col-md-10.col-md-offset-1.center_align_desktop
                    .col-md-6
                      %h2= t('general.seo.header_block_3', city_name: @city_name)
                      %p
                        %strong Goedkope matrassen in #{@city_name}
                        afgezocht en niks goeds gevonden? Dan is het goede nieuws dat je op
                        de juiste website bent. Tenzen maakt namelijk matrassen met de beste kwaliteit materialen, voor
                        veel te lage prijzen. Natuurlijk kun je proefslapen om zelf te ervaren hoe goed Tenzen bij jouw
                        lichaam past.
                      %p
                        Het is ontzettend vervelend als je voor een
                        %strong goedkope matras in #{@city_name}
                        kiest en je betaalt uiteindelijk meer dan je verwacht. Bij Tenzen schuilen er geen addertjes onder het gras. Je krijgt het beste matras voor jouw lichaam voor een wel heel scherp tarief. Wij bezorgen je matras gratis in een doos. Geen extra onverwachte kosten dus.
                      .checkout_button.title-v4.text-center
                        = cta_button_block_3
                    .col-md-6
                      = image_seo_block_3
    %li
      .li-holder
        .li-content
          .text-content
            .text-v4
              .row
                .col-md-10.col-md-offset-1.center_align_desktop
                  .col-md-6
                    = image_seo_block_4
                  .col-md-6
                    %ul
                      %h3= t('general.seo.header_block_4')
                      -@city_group_3.each do |city|
                        %li.other_cities
                          %a{href: "/matrassen/#{city.downcase.gsub(' ', '-')}", title: "Matras #{city.titleize}"}= city.titleize
                      .checkout_button.title-v4.text-center
                        = cta_button_block_4
