%section.container_transparent
  %ul
    %li
      .blue_background_container_li
        .li-holder
          .li-content
            .text-content
              .text-v4
                .row
                  .col-md-10.col-md-offset-1.center_align_desktop
                    .col-md-6
                      %h1{style: 'line-height: 35px'}
                        = t('general.seo.header_block_1', city_name: @city_name)
                      %br
                      %p
                        Het is ontzettend belangrijk dat we goed slapen. Een goede nachtrust is beter voor je gezondheid. Zo
                        krijg je bijvoorbeeld minder pijn als je opstaat en heb je ook op de langere termijn minder pijn.
                      %p
                        Het vinden van de beste
                        %strong matrassen in #{@city_name}
                        is echter best lastig. Daarom is Tenzen in het leven
                        geroepen. Een matrassenspecialist die perfect op maat gemaakte matrassen levert. Zo kun je, zelfs
                        als je niets over matrassen weet, je nachtrust verbeteren.
                      %p
                        Hoe dan? Tenzen werkt aan de hand van
                        een vragenlijst. In plaats van dat jij uren op zoek gaat naar termen waar je eigenlijk toch niks mee
                        kan, zorgen wij dat je in slechts minuten het beste matras hebt. Door onze vragenlijst in te vullen
                        weten wij direct wat voor matras bij jouw lichaam past. Wij zorgen dat je jouw eigen
                        %strong matras in #{@city_name}
                        gratis bezorgd krijgt.
                      %p
                        Het matras corrigeert zodanig dat het perfect jouw lichaamsvorm aanneemt.
                        Het houdt dus ook rekening met je slaappositie. Doordat alleen de allerbeste materialen worden
                        gebruikt voor een Tenzen matras weet je zeker dat goed en gezond slapen een stuk dichterbij is.
                      .checkout_button.title-v4.text-center
                        = cta_button_block_1
                    .col-md-6
                      = video_seo_block_1

    %li
      .li-holder
        .li-content
          .text-content
            .text-v4
              .row
                .col-md-10.col-md-offset-1.center_align_desktop
                  .col-md-6
                    = image_seo_block_2
                  .col-md-6
                    %h2
                      = t('general.seo.header_block_2', city_name: @city_name)
                    %p
                      Het beste
                      %strong matras kopen in #{@city_name}
                      is niet altijd eenvoudig. Bij Tenzen kun je een perfect matras samenstellen voor jouw lichaam. Je kunt onze vragenlijst eenvoudig en snel invullen. Je matras wordt speciaal gefabriceerd in Duitsland. Een
                      %strong matras kopen in #{@city_name}
                      is dus zo geregeld. Gewoon online.
                    %p
                      Heb je pijn tijdens het slapen of slaap je niet zo goed als je zou willen? Dan is een Tenzen matras dé
                      oplossing! Een Tenzen matras is gebouwd voor jouw lichaam. Je nachten en dagen zullen nooit meer
                      hetzelfde zijn. Een betere nachtrust is een stap dichterbij met Tenzen.
                    %p
                      Een persoonlijke matras is dus binnen handbereik. Heb jij nog geen
                      %strong matras gekocht in #{@city_name}?
                      Dan kun je dit snel en eenvoudig doen. Beste direct jouw Tenzen matras online. Je kunt dan genieten van een
                      nachtrust zoals nooit tevoren.
                    .checkout_button.title-v4.text-center
                      = cta_button_block_2
    %li
      .blue_background_container_li
        .li-holder
          .li-content
            .text-content
              .text-v4
                .row
                  .col-md-10.col-md-offset-1.center_align_desktop
                    .col-md-6
                      %h2= t('general.seo.header_block_3', city_name: @city_name)
                      %p
                        Wat heb je aan kortingen en acties als je uiteindelijk toch duur uit bent.
                        %strong De goedkoopste matrassen in #{@city_name}
                        vind je niet zomaar. Je moet ook letten op de kwaliteit van de matrassen. Een Tenzen matras
                        biedt je de beste oplossing. Perfecte matrassen voor een zeer lage prijs.
                      %p
                        Met Tenzen weet je zeker dat je het beste matras in huis hebt. Tenzen is niet als andere
                        %strong goedkope matrassen in #{@city_name}.
                        Tenzen wordt speciaal voor jouw lichaam gemaakt. Je geniet van een lange
                        garantieperiode. Bovendien worden alle Tenzen matrassen onder strenge kwaliteitsnormen
                        gemaakt.
                      .checkout_button.title-v4.text-center
                        = cta_button_block_3
                    .col-md-6
                      = image_seo_block_3
    %li
      .li-holder
        .li-content
          .text-content
            .text-v4
              .row
                .col-md-10.col-md-offset-1.center_align_desktop
                  .col-md-6
                    = image_seo_block_4
                  .col-md-6
                    %ul
                      %h3= t('general.seo.header_block_4')
                      -@city_group_2.each do |city|
                        %li.other_cities
                          %a{href: "/matrassen/#{city.downcase.gsub(' ', '-')}", title: "Matras #{city.titleize}"}= city.titleize
                      .checkout_button.title-v4.text-center
                        = cta_button_block_4
