%section.container_transparent
  %ul
    %li
      .blue_background_container_li
        .li-holder
          .li-content
            .text-content
              .text-v4
                .row
                  .col-md-10.col-md-offset-1.center_align_desktop
                    .col-md-6
                      %h1{style: 'line-height: 35px'}
                        = t('general.seo.header_block_1', city_name: @city_name)
                      %br
                      %p
                        Jij wilt natuurlijk een goede nachtrust. Gelijk heb je, wie wil dat nou niet. Helaas slapen veel mensen
                        nog steeds op slechte
                        %strong matrassen in #{@city_name}.
                        Dat is helemaal niet nodig. Zelfs het perfecte matras voor jouw lichaam kost helemaal niet meer zo veel.
                      %p
                        Met Tenzen kun je een punt zetten achter de nachten met een slechte nachtrust. Met Tenzen kun je eindelijk goed en gezond slapen. De matrassen van Tenzen worden namelijk speciaal voor jouw lichaam gemaakt. Door te letten op
                        aspecten zoals stevigheid, punt-elasticiteit en materialen kunnen wij het allerbeste matras voor je
                        samenstellen. Het kost je slechts enkele minuten.
                      %p
                        Je kunt je matras gemakkelijk online bestellen. De bezorging van je
                        %strong matras in #{@city_name}
                        is helemaal gratis. Je kunt daarna proefslapen om het zelf te ervaren. En geloof ons, een wereld zal voor je opengaan. Goed en gezond slapen is wel heel dichtbij nu.
                      .checkout_button.title-v4.text-center
                        = cta_button_block_1
                    .col-md-6
                      = video_seo_block_1

    %li
      .li-holder
        .li-content
          .text-content
            .text-v4
              .row
                .col-md-10.col-md-offset-1.center_align_desktop
                  .col-md-6
                    = image_seo_block_2
                  .col-md-6
                    %h2
                      = t('general.seo.header_block_2', city_name: @city_name)
                    %p
                      Een goede nachtrust is ontzettend belangrijk. Daarom kun je bij Tenzen het perfect matras kopen
                      voor jouw lichaam. Een
                      %strong matras kopen in #{@city_name}
                      is dus zo gefikst. Aan de hand van een aantal vragen weten wij welke materialen het best bij jouw lichaam passen. Jij hoeft dus nergens meer naar om te kijken.
                    %p
                      Je
                      %strong matras bestellen in #{@city_name}
                      is eenvoudig. Je kunt dit gewoon eenvoudig op onze website doen. Je
                      krijgt gratis advies, waarbij rekening is gehouden met jouw lichaam en slaapgewoonten. Het kopen
                      van je matras is zo geregeld.
                    %p
                      Is Tenzen iets voor jou en heb je nog geen
                      %strong matras gekocht in #{@city_name}?
                      Bestel dan direct jouw matras online. Zorg dat jij heel snel beter kunt slapen. Je kunt proefslapen op je Tenzen matras en testen of het iets voor jou is.
                    .checkout_button.title-v4.text-center
                      = cta_button_block_2
    %li
      .blue_background_container_li
        .li-holder
          .li-content
            .text-content
              .text-v4
                .row
                  .col-md-10.col-md-offset-1.center_align_desktop
                    .col-md-6
                      %h2= t('general.seo.header_block_3', city_name: @city_name)
                      %p
                        Iedereen wil natuurlijk zo min mogelijk betalen voor de matras. De
                        %strong goedkoopste matrassen in #{@city_name}
                        voor het uitkiezen hebben, maar het liefst wel een van hoge kwaliteit. De persoonlijke matrassen van
                        Tenzen zijn de beste combinatie. De matrassen zijn puur voor jouw lichaam bedoeld. Natuurlijk
                        ontzettend scherp geprijsd.
                      %p
                        Na het kopen van een van de
                        %strong goedkope matrassen in #{@city_name}
                        wil je natuurlijk niet voor een verassing komen te staan. Je wilt zeker weten dat de kwaliteit goed is. De meeste bedrijven kunnen je deze garantie dan ook niet geven. Tenzen wel. Bij Tenzen geniet je van een lange garantieperiode. De materialen die gebruikt worden zijn van hoogwaardige kwaliteit.
                      .checkout_button.title-v4.text-center
                        = cta_button_block_3
                    .col-md-6
                      = image_seo_block_3
    %li
      .li-holder
        .li-content
          .text-content
            .text-v4
              .row
                .col-md-10.col-md-offset-1.center_align_desktop
                  .col-md-6
                    = image_seo_block_4
                  .col-md-6
                    %ul
                      %h3= t('general.seo.header_block_4')
                      -@city_group_2.each do |city|
                        %li.other_cities
                          %a{href: "/matrassen/#{city.downcase.gsub(' ', '-')}", title: "Matras #{city.titleize}"}= city.titleize
                      .checkout_button.title-v4.text-center
                        = cta_button_block_4
