%footer.footer-bs
  .row
    .col-md-3.footer-brand.animated.fadeInLeft
      = link_to root_url do
        = image_tag('LogoHuisstijlWit.svg', width: '300px', height: '200px')
    .col-md-4.footer-nav.animated.fadeInUp
      .col-md-6
        %ul.pages
          %li
            %a{:href => root_url}
              = t("general.footer.navigation.home")
          %li
            %a{:href => bestellen_url}
              = t("general.footer.navigation.order")
          %li
            %a{:href => vragen_url}
              = t("general.footer.navigation.questions")
          %li
            %a{:href => over_tenzen_url}
              = t("general.footer.navigation.about_tenzen")
          %li
            %a{:href => contact_url}
              = t("general.footer.navigation.contact")
      .col-md-6
        %ul.list
          %li
            %a{:href => garanties_url}
              = t("general.footer.subnavigation.guarantees")
          %li
            %a{:href => retourneren_url}
              = t("general.footer.subnavigation.retour")
          %li
            %a{:href => algemene_voorwaarden_url}
              %small
                = t("general.footer.subnavigation.toa")
          %li
            %a{:href => privacybeleid_url}
              %small
                = t("general.footer.subnavigation.privacy_policy")
          %li
            %a{:href => cookiebeleid_url}
              %small
                = t("general.footer.subnavigation.cookie_policy")
    .col-md-2.footer-social.animated.fadeInDown
      %h4 Volg ons
      %ul
        %li
          %a{href: "https://www.facebook.com/tenzenslapen", target: "_blank"}
            = t("general.footer.social_media.facebook")
    .col-md-3.footer-ns.animated.fadeInRight
      = image_tag "thuiswinkelwaarborg.png", alt: 'thuiswinkelwaarborg', height: '150px', width: '150px'
