%section#top-area
  %header
    .container
      .row
        #logo.col-md-4.col-xs-3
          = link_to root_url do
            = image_tag('Tenzen-logo-wit.svg', width: '150px', height: '50px')
        .btn-responsive-menu
          %span.bar
          %span.bar
          %span.bar
        %nav#top-nav.col-md-8.col-xs-9
          %ul
            %li
              %a{href: root_url}
            %li
              %a{href: bestellen_url}
                = t("general.header.customize")
            %li
              %a{href: over_tenzen_url}
                = t("general.header.about_tenzen")
            %li
              %a{href: vragen_url}
                = t("general.header.questions")
  - if discount_days?
    #top-discount-area
      #discount-top-text= t('general.discount_top_text')
      #discount-top-code= t('general.discount_top_code')
      %span.question_label_icon_wrapper
        = question_icon_md(t("general.discount_code_explanation"), data_placement: 'bottom', klass: "question_label_icon_sm")
