%section#main.container
  #survey_container
    #top-wizard
      %strong
        = t("general.progress")
        %span#location
      #progressbar
      .shadow
    = form_for @double_mattress_two, url: bestellen_tweepersoons_duo_post_path do |f|
      #middle-wizard
        .step.row#step_1_duo
          %h2.col-md-12.text-center= t("questions.introduce_yourself.title")
          %br/
          .col-md-6
            %h2= t("questions.introduce_yourself.person_1")
            %ul.data-list
              %label= t("questions.introduce_yourself.first_name")
              %li= f.text_field :name, class: 'required form-control name_person_1', placeholder: 'Voornaam'
              %label= t("questions.introduce_yourself.age")
              %li= f.number_field :age, class: 'required form-control', placeholder: 'Leeftijd', maxlength: 3
              %label= t("questions.introduce_yourself.weight")
              %li= f.number_field :weight, class: 'required form-control', placeholder: 'Gewicht in kg', maxlength: 3
              %label= t("questions.introduce_yourself.length")
              %li= f.number_field :length, class: 'required form-control', placeholder: 'Lengte in cm', maxlength: 3
              %li
                %label.label_gender
                  = t("questions.introduce_yourself.male")
                  = f.radio_button :gender, 'Man', class: 'required check_radio'
              %li
                %label.label_gender
                  = t("questions.introduce_yourself.female")
                  = f.radio_button :gender, 'Vrouw', class: 'required check_radio'
          .col-md-6
            %h2= t("questions.introduce_yourself.person_2")
            %ul.data-list
              %label= t("questions.introduce_yourself.first_name")
              %li= f.text_field :name2, class: 'required form-control name_person_2', placeholder: 'Voornaam'
              %label= t("questions.introduce_yourself.age")
              %li= f.number_field :age2, class: 'required form-control', placeholder: 'Leeftijd', maxlength: 3
              %label= t("questions.introduce_yourself.weight")
              %li= f.number_field :weight2, class: 'required form-control', placeholder: 'Gewicht in kg', maxlength: 3
              %label= t("questions.introduce_yourself.length")
              %li= f.number_field :length2, class: 'required form-control', placeholder: 'Lengte in cm', maxlength: 3
              %li
                %label.label_gender
                  = t("questions.introduce_yourself.male")
                  = f.radio_button :gender2, 'Man', class: 'required check_radio'
              %li
                %label.label_gender
                  = t("questions.introduce_yourself.female")
                  = f.radio_button :gender2, 'Vrouw', class: 'required check_radio'
          %br/
          %br/
        .step.row#step_2_duo
          .col-md-6
            %h3
              = t("questions.duo.sleep_position1").html_safe
              = question_icon_md(t("questions.explanations.double_mattress_two.sleep_position"))
            %ul.data-list-2
              %li
                %label
                  = t("questions.sleep_position.back")
                  = f.radio_button :sleep_position, 'Rug', class: 'required check_radio'
              %li
                %label
                  = t("questions.sleep_position.side")
                  = f.radio_button :sleep_position, 'Zij', class: 'required check_radio'
              %li
                %label
                  = t("questions.sleep_position.stomach")
                  = f.radio_button :sleep_position, 'Buik', class: 'required check_radio'
          .col-md-6
            %h3
              = t("questions.duo.sleep_position2").html_safe
              = question_icon_md(t("questions.explanations.double_mattress_two.sleep_position"))
            %ul.data-list-2
              %li
                %label
                  = t("questions.sleep_position.back")
                  = f.radio_button :sleep_position2, 'Rug', class: 'required check_radio'
              %li
                %label
                  = t("questions.sleep_position.side")
                  = f.radio_button :sleep_position2, 'Zij', class: 'required check_radio'
              %li
                %label
                  = t("questions.sleep_position.stomach")
                  = f.radio_button :sleep_position2, 'Buik', class: 'required check_radio'
        .step.row#step_3_duo
          .col-md-6
            %h3
              = t("questions.duo.neck_or_back_pain1").html_safe
              = question_icon_md(t("questions.explanations.double_mattress_two.neck_or_back_pain"))
            %ul.data-list-2
              %li
                %label
                  = t("questions.neck_or_back_pain.neck_and_back")
                  = f.radio_button :neck_or_back_pain, 'Ja, nekklachten en rugklachten', class: 'required check_radio'
              %li
                %label
                  = t("questions.neck_or_back_pain.only_neck")
                  = f.radio_button :neck_or_back_pain, 'Ja, alleen nekklachten', class: 'required check_radio'
              %li
                %label
                  = t("questions.neck_or_back_pain.only_back")
                  = f.radio_button :neck_or_back_pain, 'Ja, alleen rugklachten', class: 'required check_radio'
              %li
                %label
                  = t("questions.neck_or_back_pain.no_complaints")
                  = f.radio_button :neck_or_back_pain, 'Nee, geen klachten', class: 'required check_radio'
          .col-md-6
            %h3
              = t("questions.duo.neck_or_back_pain2").html_safe
              = question_icon_md(t("questions.explanations.double_mattress_two.neck_or_back_pain"))
            %ul.data-list-2
              %li
                %label
                  = t("questions.neck_or_back_pain.neck_and_back")
                  = f.radio_button :neck_or_back_pain2, 'Ja, nekklachten en rugklachten', class: 'required check_radio'
              %li
                %label
                  = t("questions.neck_or_back_pain.only_neck")
                  = f.radio_button :neck_or_back_pain2, 'Ja, alleen nekklachten', class: 'required check_radio'
              %li
                %label
                  = t("questions.neck_or_back_pain.only_back")
                  = f.radio_button :neck_or_back_pain2, 'Ja, alleen rugklachten', class: 'required check_radio'
              %li
                %label
                  = t("questions.neck_or_back_pain.no_complaints")
                  = f.radio_button :neck_or_back_pain2, 'Nee, geen klachten', class: 'required check_radio'
        / end step
        .step.row#step_4_duo
          .col-md-6
            %h3
              = t("questions.duo.body_shape.person_1").html_safe
              = question_icon_md(t("questions.explanations.double_mattress_two.body_shape"))
            %ul.data-list-2
              %li
                %label
                  = t("questions.duo.body_shape.broad_shoulders")
                  = f.radio_button :body_shape, 'Brede schouders', class: 'required check_radio'
              %li
                %label
                  = t("questions.duo.body_shape.broad_hips")
                  = f.radio_button :body_shape, 'Brede heupen', class: 'required check_radio'
              %li
                %label
                  = t("questions.duo.body_shape.broad_shoulders_and_hips")
                  = f.radio_button :body_shape, 'Brede schouders en heupen', class: 'required check_radio'
              %li
                %label
                  = t("questions.duo.body_shape.none_of_the_above")
                  = f.radio_button :body_shape, 'Geen van bovenstaande', class: 'required check_radio'
          .col-md-6
            %h3
              = t("questions.duo.body_shape.person_2").html_safe
              = question_icon_md(t("questions.explanations.double_mattress_two.body_shape"))
            %ul.data-list-2
              %li
                %label
                  = t("questions.duo.body_shape.broad_shoulders")
                  = f.radio_button :body_shape2, 'Brede schouders', class: 'required check_radio'
              %li
                %label
                  = t("questions.duo.body_shape.broad_hips")
                  = f.radio_button :body_shape2, 'Brede heupen', class: 'required check_radio'
              %li
                %label
                  = t("questions.duo.body_shape.broad_shoulders_and_hips")
                  = f.radio_button :body_shape2, 'Brede schouders en heupen', class: 'required check_radio'
              %li
                %label
                  = t("questions.duo.body_shape.none_of_the_above")
                  = f.radio_button :body_shape2, 'Geen van bovenstaande', class: 'required check_radio'
        / end step
        .step.row#step_5_duo
          .col-md-6
            %h3
              = t("questions.duo.warm_sleeping1").html_safe
              = question_icon_md(t("questions.explanations.double_mattress_two.warm_sleeping"))
            %ul.data-list-2
              %li
                %label
                  = t("questions.warm_sleeping.cold")
                  = f.radio_button :warm_sleeping, 'Koud', class: 'required check_radio'
              %li
                %label
                  = t("questions.warm_sleeping.warm")
                  = f.radio_button :warm_sleeping, 'Warm', class: 'required check_radio'
              %li
                %label
                  = t("questions.warm_sleeping.not_warm_not_cold")
                  = f.radio_button :warm_sleeping, 'Niet warm, niet koud', class: 'required check_radio'
          .col-md-6
            %h3
              = t("questions.duo.warm_sleeping2").html_safe
              = question_icon_md(t("questions.explanations.double_mattress_two.warm_sleeping"))
            %ul.data-list-2
              %li
                %label
                  = t("questions.warm_sleeping.cold")
                  = f.radio_button :warm_sleeping2, 'Koud', class: 'required check_radio'
              %li
                %label
                  = t("questions.warm_sleeping.warm")
                  = f.radio_button :warm_sleeping2, 'Warm', class: 'required check_radio'
              %li
                %label
                  = t("questions.warm_sleeping.not_warm_not_cold")
                  = f.radio_button :warm_sleeping2, 'Niet warm, niet koud', class: 'required check_radio'
        / end step
        .step.row#step_6_duo
          .col-md-8.col-md-offset-3
            %h3
              = t("questions.duo.diseases1").html_safe
              = question_icon_md(t("questions.explanations.double_mattress_two.diseases"))
          .col-md-8.col-md-offset-2
            %ul#terms.data-list
              %li
                %label.switch-light.switch-ios
                  = f.check_box :diseases, { name: "double_mattress_two[diseases][]", class: "fix_ie8 show_diseases" }, nil, nil
                  %span
                    %span.ie8_hide= t("general.nope")
                    %span= t("general.yeah")
                  %a
            %br/
            %br/
          .col-md-12.diseases_options
            %ul.data-list-2
              .col-md-4
                %li
                  %label
                    Artrose
                    = f.check_box :diseases, { multiple: true, class: 'required check_radio' }, "Artrose", nil
                %li
                  %label
                    Hernia
                    = f.check_box :diseases, { multiple: true, class: 'required check_radio' }, "Hernia", nil
                %li
                  %label
                    Decubitis
                    = f.check_box :diseases, { multiple: true, class: 'required check_radio' }, "Decubitus", nil
                %li
                  %label
                    Discusbulging
                    = f.check_box :diseases, { multiple: true, class: 'required check_radio' }, "Discusbulging", nil
                %li
                  %label
                    Discusdegeneratie
                    = f.check_box :diseases, { multiple: true, class: 'required check_radio' }, "Discusdegeneratie", nil
                %li
                  %label
                    Fibromyalgie
                    = f.check_box :diseases, { multiple: true, class: 'required check_radio' }, "Fibromyalgie", nil

              .col-md-4
                %li
                  %label
                    Heupdysplasie
                    = f.check_box :diseases, { multiple: true, class: 'required check_radio' }, "Heupdysplasie", nil
                %li
                  %label
                    Hypermobiliteit
                    = f.check_box :diseases, { multiple: true, class: 'required check_radio' }, "Hypermobiliteit", nil
                %li
                  %label
                    Ischias
                    = f.check_box :diseases, { multiple: true, class: 'required check_radio' }, "Ischias", nil
                %li
                  %label
                    Lumbago
                    = f.check_box :diseases, { multiple: true, class: 'required check_radio' }, "Lumbago", nil
                %li
                  %label
                    Obesitas
                    = f.check_box :diseases, { multiple: true, class: 'required check_radio' }, "Obesitas", nil
                %li
                  %label
                    Osteoporose
                    = f.check_box :diseases, { multiple: true, class: 'required check_radio' }, "Osteoporose", nil

              .col-md-4
                %li
                  %label
                    Parkinson
                    = f.check_box :diseases, { multiple: true, class: 'required check_radio' }, "Parkinson", nil
                %li
                  %label
                    Reuma
                    = f.check_box :diseases, { multiple: true, class: 'required check_radio' }, "Reuma", nil
                %li
                  %label
                    Spondylolyse
                    = f.check_box :diseases, { multiple: true, class: 'required check_radio' }, "Spondylolyse", nil
                %li
                  %label
                    Scoliose
                    = f.check_box :diseases, { multiple: true, class: 'required check_radio' }, "Scoliose", nil
                %li
                  %label
                    Ziekte van Bechterew
                    = f.check_box :diseases, { multiple: true, class: 'required check_radio' }, "Ziekte van Bechterew", nil
                %li
                  %label
                    Een andere medische klacht die hier niet tussen staat
                    = f.check_box :diseases, { multiple: true, class: 'required check_radio' }, "Een andere medische klacht die hier niet tussen staat", nil
        / end step
        .step.row#step_7_duo
          .col-md-8.col-md-offset-3
            %h3
              = t("questions.duo.diseases2").html_safe
              = question_icon_md(t("questions.explanations.double_mattress_two.diseases"))
          .col-md-8.col-md-offset-2
            %ul#terms.data-list
              %li
                %label.switch-light.switch-ios
                  = f.check_box :diseases2, { name: "double_mattress_two[diseases2][]", class: "fix_ie8 show_diseases_2" }, nil, nil
                  %span
                    %span.ie8_hide= t("general.nope")
                    %span= t("general.yeah")
                  %a
            %br/
            %br/
          .col-md-12.diseases_options_2
            %ul.data-list-2
              .col-md-4
                %li
                  %label
                    Artrose
                    = f.check_box :diseases2, { multiple: true, class: 'required check_radio' }, "Artrose", nil
                %li
                  %label
                    Hernia
                    = f.check_box :diseases2, { multiple: true, class: 'required check_radio' }, "Hernia", nil
                %li
                  %label
                    Decubitis
                    = f.check_box :diseases2, { multiple: true, class: 'required check_radio' }, "Decubitus", nil
                %li
                  %label
                    Discusbulging
                    = f.check_box :diseases2, { multiple: true, class: 'required check_radio' }, "Discusbulging", nil
                %li
                  %label
                    Discusdegeneratie
                    = f.check_box :diseases2, { multiple: true, class: 'required check_radio' }, "Discusdegeneratie", nil
                %li
                  %label
                    Fibromyalgie
                    = f.check_box :diseases2, { multiple: true, class: 'required check_radio' }, "Fibromyalgie", nil

              .col-md-4
                %li
                  %label
                    Heupdysplasie
                    = f.check_box :diseases2, { multiple: true, class: 'required check_radio' }, "Heupdysplasie", nil
                %li
                  %label
                    Hypermobiliteit
                    = f.check_box :diseases2, { multiple: true, class: 'required check_radio' }, "Hypermobiliteit", nil
                %li
                  %label
                    Ischias
                    = f.check_box :diseases2, { multiple: true, class: 'required check_radio' }, "Ischias", nil
                %li
                  %label
                    Lumbago
                    = f.check_box :diseases2, { multiple: true, class: 'required check_radio' }, "Lumbago", nil
                %li
                  %label
                    Obesitas
                    = f.check_box :diseases2, { multiple: true, class: 'required check_radio' }, "Obesitas", nil
                %li
                  %label
                    Osteoporose
                    = f.check_box :diseases2, { multiple: true, class: 'required check_radio' }, "Osteoporose", nil

              .col-md-4
                %li
                  %label
                    Parkinson
                    = f.check_box :diseases2, { multiple: true, class: 'required check_radio' }, "Parkinson", nil
                %li
                  %label
                    Reuma
                    = f.check_box :diseases2, { multiple: true, class: 'required check_radio' }, "Reuma", nil
                %li
                  %label
                    Spondylolyse
                    = f.check_box :diseases2, { multiple: true, class: 'required check_radio' }, "Spondylolyse", nil
                %li
                  %label
                    Scoliose
                    = f.check_box :diseases2, { multiple: true, class: 'required check_radio' }, "Scoliose", nil
                %li
                  %label
                    Ziekte van Bechterew
                    = f.check_box :diseases2, { multiple: true, class: 'required check_radio' }, "Ziekte van Bechterew", nil
                %li
                  %label
                    Een andere medische klacht die hier niet tussen staat
                    = f.check_box :diseases2, { multiple: true, class: 'required check_radio' }, "Een andere medische klacht die hier niet tussen staat", nil
        / end step
        .step.row#step_8_duo
          .col-md-6.col-md-offset-3
            %h3= t("questions.duo.size")
            .col-md-4.col-md-offset-1
              %ul.data-list-2
                %h4 Breedte
                %li
                  %label
                    = t("questions.size.width.140cm")
                    = f.radio_button :mattress_width, '140cm', class: 'required check_radio'
                %li
                  %label
                    = t("questions.size.width.160cm")
                    = f.radio_button :mattress_width, '160cm', class: 'required check_radio'
                %li
                  %label
                    = t("questions.size.width.180cm")
                    = f.radio_button :mattress_width, '180cm', class: 'required check_radio'
                %li
                  %label
                    = t("questions.size.width.200cm")
                    = f.radio_button :mattress_width, '200cm', class: 'required check_radio'
            .col-md-4.col-md-offset-1
              %ul.data-list-2
                %h4 Lengte
                %li
                  %label
                    = t("questions.size.length.200cm")
                    = f.radio_button :mattress_length, '200cm', class: 'required check_radio'
                %li
                  %label
                    = t("questions.size.length.210cm")
                    = f.radio_button :mattress_length, '210cm', class: 'required check_radio'
                %li
                  %label
                    = t("questions.size.length.220cm")
                    = f.radio_button :mattress_length, '220cm', class: 'required check_radio'
        / end step
        .step.row#step_9_duo
          .col-md-6
            %h3
              = t("questions.duo.comfort1").html_safe
              = question_icon_md(t("questions.explanations.double_mattress_two.comfort"))
            %ul.data-list-2
              %li
                %label
                  = t("questions.comfort.soft")
                  = f.radio_button :comfort, 'Zacht', class: 'required check_radio'
              %li
                %label
                  = t("questions.comfort.not_soft_not_hard")
                  = f.radio_button :comfort, 'Niet hard, niet zacht', class: 'required check_radio'
              %li
                %label
                  Hard
                  = f.radio_button :comfort, 'Hard', class: 'required check_radio'
          .col-md-6
            %h3
              = t("questions.duo.comfort2").html_safe
              = question_icon_md(t("questions.explanations.double_mattress_two.comfort"))
            %ul.data-list-2
              %li
                %label
                  = t("questions.comfort.soft")
                  = f.radio_button :comfort2, 'Zacht', class: 'required check_radio'
              %li
                %label
                  = t("questions.comfort.not_soft_not_hard")
                  = f.radio_button :comfort2, 'Niet hard, niet zacht', class: 'required check_radio'
              %li
                %label
                  = t("questions.comfort.hard")
                  = f.radio_button :comfort2, 'Hard', class: 'required check_radio'
        / end step
        .step.row#step_10_duo
          .col-md-12.col-md-offset-3
            %h3
              = t("questions.duo.category")
              = question_icon_md(t("questions.explanations.double_mattress_two.category"))
            %ul.data-list-2
              %li.disable_on_diseases
                %label
                  = t("questions.category.budget")
                  = f.radio_button :category, 'Budget', class: 'required check_radio disable_on_diseases'
              %li.disable_on_diseases
                %label
                  = t("questions.category.comfort")
                  = f.radio_button :category, 'Comfort', class: 'required check_radio disable_on_diseases'
              %li
                %label
                  = t("questions.category.premium")
                  = f.radio_button :category, 'Premium', class: 'required check_radio'
          %br/
          .col-md-12
            %table.table.table-bordered
              %thead
                %tr
                  %th
                    = t("general.category_table.header.budget")
                  %th
                    = t("general.category_table.header.comfort")
                  %th
                    = t("general.category_table.header.premium")
              %tbody
                %tr
                  %td
                    = t("general.category_table.body.budget.one")
                  %td
                    = t("general.category_table.body.comfort.one")
                  %td
                    = t("general.category_table.body.premium.one")
                %tr
                  %td
                    = t("general.category_table.body.budget.two")
                  %td
                    = t("general.category_table.body.comfort.two")
                  %td
                    = t("general.category_table.body.premium.two")
                %tr
                  %td
                    = t("general.category_table.body.budget.three")
                  %td
                    = t("general.category_table.body.comfort.three")
                  %td
                    = t("general.category_table.body.premium.three")
                %tr
                  %td
                    = t("general.category_table.body.budget.four")
                  %td
                    = t("general.category_table.body.comfort.four")
                  %td
                    = t("general.category_table.body.premium.four")
                %tr
                  %td
                    = t("general.category_table.body.budget.five")
                  %td
                    = t("general.category_table.body.comfort.five")
                  %td
                    = t("general.category_table.body.premium.five")
                %tr
                  %td
                  %td
                  %td
                    = t("general.category_table.body.premium.six")
                %tr
                  %td
                  %td
                  %td
                    = t("general.category_table.body.premium.seven")
                %tr
                  %td
                  %td
                  %td
                    = t("general.category_table.body.premium.eight")
          / end step
        .step.row#step_11_duo
          .col-md-4.col-md-offset-4
            %h3
              = t("questions.chassis.title_duo")
              = question_icon_md(t("questions.explanations.double_mattress_two.chassis"))
            %ul.data-list-2
              %li
                %label
                  = t("general.yeah")
                  = f.radio_button :chassis, 'Ja', class: 'required check_radio show_chassis_chosen_warning'
              %li
                %label
                  = t("general.nope")
                  = f.radio_button :chassis, 'Nee', class: 'required check_radio'
              %li
                %label
                  = t("questions.chassis.no_bottom")
                  = f.radio_button :chassis, "Geen bodem", class: 'required check_radio show_chassis_chosen_warning'
        .step.row#step_12_duo
          .col-md-4.col-md-offset-4
            %h3
              = t("questions.duo.separation.title")
              = question_icon_md(t("questions.explanations.double_mattress_two.separation"))
            = alert(t("general.alert.chassis_chosen"), id: "chassis_chosen")
            %ul.data-list-2
              %li
                %label
                  = t("questions.duo.separation.two_solo")
                  = f.radio_button :separation, 'Twee eenpersoonsmatrassen', class: 'required check_radio'
              %li
                %label
                  = t("questions.duo.separation.one_duo")
                  = f.radio_button :separation, 'Een tweepersoonsmatras', class: 'required check_radio'
      #bottom-wizard
        %button.backward{ name: "Vorige", type: "button"}
          = t("general.button.previous")
        %button.forward{ name: "Volgende", type: "button"}
          = t("general.button.next")
        = f.submit t("general.button.check_result"), class: 'submit-questions', name: 'process', id: 'check_result_double_mattress_twos'
