%section#main.container
  #survey_container
    #top-wizard
      %strong
        = t("general.progress")
        %span#location
      #progressbar
      .shadow
    = form_for @double_mattress_two, url: bestellen_tweepersoons_duo_post_path do |f|
      #middle-wizard
        .step.row#step_1_duo
          %h2.col-md-12.text-center Wie slapen op deze matrassen?
          %br/
          .col-md-6
            %h2 Persoon 1
            %ul.data-list
              %label Voornaam
              %li= f.text_field :name, class: 'required form-control name_person_1', placeholder: 'Voornaam'
              %label Leeftijd
              %li= f.number_field :age, class: 'required form-control', placeholder: 'Leeftijd', maxlength: 3
              %label Gewicht in kilogrammen
              %li= f.number_field :weight, class: 'required form-control', placeholder: 'Gewicht in kg', maxlength: 3
              %label Lengte in centimeters
              %li= f.number_field :length, class: 'required form-control', placeholder: 'Lengte in cm', maxlength: 3
              %li
                %label.label_gender
                  Man
                  = f.radio_button :gender, 'Man', class: 'required check_radio'
              %li
                %label.label_gender
                  Vrouw
                  = f.radio_button :gender, 'Vrouw', class: 'required check_radio'
          .col-md-6
            %h2 Persoon 2
            %ul.data-list
              %label Voornaam
              %li= f.text_field :name2, class: 'required form-control name_person_2', placeholder: 'Voornaam'
              %label Leeftijd
              %li= f.number_field :age2, class: 'required form-control', placeholder: 'Leeftijd', maxlength: 3
              %label Gewicht in kilogrammen
              %li= f.number_field :weight2, class: 'required form-control', placeholder: 'Gewicht in kg', maxlength: 3
              %label Lengte in centimeters
              %li= f.number_field :length2, class: 'required form-control', placeholder: 'Lengte in cm', maxlength: 3
              %li
                %label.label_gender
                  Man
                  = f.radio_button :gender2, 'Man', class: 'required check_radio'
              %li
                %label.label_gender
                  Vrouw
                  = f.radio_button :gender2, 'Vrouw', class: 'required check_radio'
          %br/
          %br/
        .step.row#step_2_duo
          .col-md-6
            %h3
              Hoe slaapt
              %span.show_name_person_1
              normaal gesproken? *
              = question_icon_md(t("questions.explanations.double_mattress_two.sleep_position"))
            %ul.data-list-2
              %li
                %label
                  Rug
                  = f.radio_button :sleep_position, 'Rug', class: 'required check_radio'
              %li
                %label
                  Zij
                  = f.radio_button :sleep_position, 'Zij', class: 'required check_radio'
              %li
                %label
                  Buik
                  = f.radio_button :sleep_position, 'Buik', class: 'required check_radio'
          .col-md-6
            %h3
              Hoe slaapt
              %span.show_name_person_2
              normaal gesproken? *
              = question_icon_md(t("questions.explanations.double_mattress_two.sleep_position"))
            %ul.data-list-2
              %li
                %label
                  Rug
                  = f.radio_button :sleep_position2, 'Rug', class: 'required check_radio'
              %li
                %label
                  Zij
                  = f.radio_button :sleep_position2, 'Zij', class: 'required check_radio'
              %li
                %label
                  Buik
                  = f.radio_button :sleep_position2, 'Buik', class: 'required check_radio'
        .step.row#step_3_duo
          .col-md-6
            %h3
              Heeft
              %span.show_name_person_1
              weleens nek-of rugklachten? *
              = question_icon_md(t("questions.explanations.double_mattress_two.neck_or_back_pain"))
            %ul.data-list-2
              %li
                %label
                  Ja, nekklachten en rugklachten
                  = f.radio_button :neck_or_back_pain, 'Ja, nekklachten en rugklachten', class: 'required check_radio'
              %li
                %label
                  Ja, alleen nekklachten
                  = f.radio_button :neck_or_back_pain, 'Ja, alleen nekklachten', class: 'required check_radio'
              %li
                %label
                  Ja, alleen rugklachten
                  = f.radio_button :neck_or_back_pain, 'Ja, alleen rugklachten', class: 'required check_radio'
              %li
                %label
                  Nee, geen klachten
                  = f.radio_button :neck_or_back_pain, 'Nee, geen klachten', class: 'required check_radio'
          .col-md-6
            %h3
              Heeft
              %span.show_name_person_2
              weleens nek-of rugklachten? *
              = question_icon_md(t("questions.explanations.double_mattress_two.neck_or_back_pain"))
            %ul.data-list-2
              %li
                %label
                  Ja, nekklachten en rugklachten
                  = f.radio_button :neck_or_back_pain2, 'Ja, nekklachten en rugklachten', class: 'required check_radio'
              %li
                %label
                  Ja, alleen nekklachten
                  = f.radio_button :neck_or_back_pain2, 'Ja, alleen nekklachten', class: 'required check_radio'
              %li
                %label
                  Ja, alleen rugklachten
                  = f.radio_button :neck_or_back_pain2, 'Ja, alleen rugklachten', class: 'required check_radio'
              %li
                %label
                  Nee, geen klachten
                  = f.radio_button :neck_or_back_pain2, 'Nee, geen klachten', class: 'required check_radio'
        / end step
        .step.row#step_4_duo
          .col-md-6
            %h3
              Wat is de lichaamsvorm van
              %span.show_name_person_1
              ? *
              = question_icon_md(t("questions.explanations.double_mattress_two.body_shape"))
            %ul.data-list-2
              %li
                %label
                  Brede schouders
                  = f.radio_button :body_shape, 'Brede schouders', class: 'required check_radio'
              %li
                %label
                  Brede heupen
                  = f.radio_button :body_shape, 'Brede heupen', class: 'required check_radio'
              %li
                %label
                  Brede schouders en heupen
                  = f.radio_button :body_shape, 'Brede schouders en heupen', class: 'required check_radio'
              %li
                %label
                  Geen van bovenstaande
                  = f.radio_button :body_shape, 'Geen van bovenstaande', class: 'required check_radio'

          .col-md-6
            %h3
              Wat is de lichaamsvorm van
              %span.show_name_person_2
              ? *
              = question_icon_md(t("questions.explanations.double_mattress_two.body_shape"))
            %ul.data-list-2
              %li
                %label
                  Brede schouders
                  = f.radio_button :body_shape2, 'Brede schouders', class: 'required check_radio'
              %li
                %label
                  Brede heupen
                  = f.radio_button :body_shape2, 'Brede heupen', class: 'required check_radio'
              %li
                %label
                  Brede schouders en heupen
                  = f.radio_button :body_shape2, 'Brede schouders en heupen', class: 'required check_radio'
              %li
                %label
                  Geen van bovenstaande
                  = f.radio_button :body_shape2, 'Geen van bovenstaande', class: 'required check_radio'

        / end step
        .step.row#step_5_duo
          .col-md-6
            %h3
              Heeft
              %span.show_name_person_1
              het vaak te koud of te warm in bed? *
              = question_icon_md(t("questions.explanations.double_mattress_two.warm_sleeping"))
            %ul.data-list-2
              %li
                %label
                  Koud
                  = f.radio_button :warm_sleeping, 'Koud', class: 'required check_radio'
              %li
                %label
                  Warm
                  = f.radio_button :warm_sleeping, 'Warm', class: 'required check_radio'
              %li
                %label
                  Niet warm, niet koud
                  = f.radio_button :warm_sleeping, 'Niet warm, niet koud', class: 'required check_radio'

          .col-md-6
            %h3
              Heeft
              %span.show_name_person_2
              het vaak te koud of te warm in bed? *
              = question_icon_md(t("questions.explanations.double_mattress_two.warm_sleeping"))
            %ul.data-list-2
              %li
                %label
                  Koud
                  = f.radio_button :warm_sleeping2, 'Koud', class: 'required check_radio'
              %li
                %label
                  Warm
                  = f.radio_button :warm_sleeping2, 'Warm', class: 'required check_radio'
              %li
                %label
                  Niet warm, niet koud
                  = f.radio_button :warm_sleeping2, 'Niet warm, niet koud', class: 'required check_radio'

        / end step
        .step.row#step_6_duo
          .col-md-8.col-md-offset-3
            %h3
              Heeft
              %span.show_name_person_1
              medische klachten? Zo ja, welke?
              = question_icon_md(t("questions.explanations.double_mattress_two.diseases"))
          .col-md-8.col-md-offset-2
            %ul#terms.data-list
              %li
                %label.switch-light.switch-ios
                  = f.check_box :diseases, { name: "double_mattress_two[diseases][]", class: "fix_ie8 show_diseases" }, nil, nil
                  %span
                    %span.ie8_hide Nee
                    %span Ja
                  %a
            %br/
            %br/

          .col-md-12.diseases_options
            %ul.data-list-2
              .col-md-4
                %li
                  %label
                    Artrose
                    = f.check_box :diseases, { multiple: true, class: 'required check_radio' }, "Artrose", nil
                %li
                  %label
                    Hernia
                    = f.check_box :diseases, { multiple: true, class: 'required check_radio' }, "Hernia", nil
                %li
                  %label
                    Decubitis
                    = f.check_box :diseases, { multiple: true, class: 'required check_radio' }, "Decubitus", nil
                %li
                  %label
                    Discusbulging
                    = f.check_box :diseases, { multiple: true, class: 'required check_radio' }, "Discusbulging", nil
                %li
                  %label
                    Discusdegeneratie
                    = f.check_box :diseases, { multiple: true, class: 'required check_radio' }, "Discusdegeneratie", nil
                %li
                  %label
                    Fibromyalgie
                    = f.check_box :diseases, { multiple: true, class: 'required check_radio' }, "Fibromyalgie", nil

              .col-md-4
                %li
                  %label
                    Heupdysplasie
                    = f.check_box :diseases, { multiple: true, class: 'required check_radio' }, "Heupdysplasie", nil
                %li
                  %label
                    Hypermobiliteit
                    = f.check_box :diseases, { multiple: true, class: 'required check_radio' }, "Hypermobiliteit", nil
                %li
                  %label
                    Ischias
                    = f.check_box :diseases, { multiple: true, class: 'required check_radio' }, "Ischias", nil
                %li
                  %label
                    Lumbago
                    = f.check_box :diseases, { multiple: true, class: 'required check_radio' }, "Lumbago", nil
                %li
                  %label
                    Obesitas
                    = f.check_box :diseases, { multiple: true, class: 'required check_radio' }, "Obesitas", nil
                %li
                  %label
                    Osteoporose
                    = f.check_box :diseases, { multiple: true, class: 'required check_radio' }, "Osteoporose", nil

              .col-md-4
                %li
                  %label
                    Parkinson
                    = f.check_box :diseases, { multiple: true, class: 'required check_radio' }, "Parkinson", nil
                %li
                  %label
                    Reuma
                    = f.check_box :diseases, { multiple: true, class: 'required check_radio' }, "Reuma", nil
                %li
                  %label
                    Spondylolyse
                    = f.check_box :diseases, { multiple: true, class: 'required check_radio' }, "Spondylolyse", nil
                %li
                  %label
                    Scoliose
                    = f.check_box :diseases, { multiple: true, class: 'required check_radio' }, "Scoliose", nil
                %li
                  %label
                    Ziekte van Bechterew
                    = f.check_box :diseases, { multiple: true, class: 'required check_radio' }, "Ziekte van Bechterew", nil
                %li
                  %label
                    Een andere medische klacht die hier niet tussen staat
                    = f.check_box :diseases, { multiple: true, class: 'required check_radio' }, "Een andere medische klacht die hier niet tussen staat", nil

        / end step
        .step.row#step_7_duo
          .col-md-8.col-md-offset-3
            %h3
              Heeft
              %span.show_name_person_2
              medische klachten? Zo ja, welke?
              = question_icon_md(t("questions.explanations.double_mattress_two.diseases"))
          .col-md-8.col-md-offset-2
            %ul#terms.data-list
              %li
                %label.switch-light.switch-ios
                  = f.check_box :diseases2, { name: "double_mattress_two[diseases2][]", class: "fix_ie8 show_diseases_2" }, nil, nil
                  %span
                    %span.ie8_hide Nee
                    %span Ja
                  %a
            %br/
            %br/

          .col-md-12.diseases_options_2
            %ul.data-list-2
              .col-md-4
                %li
                  %label
                    Artrose
                    = f.check_box :diseases2, { multiple: true, class: 'required check_radio' }, "Artrose", nil
                %li
                  %label
                    Hernia
                    = f.check_box :diseases2, { multiple: true, class: 'required check_radio' }, "Hernia", nil
                %li
                  %label
                    Decubitis
                    = f.check_box :diseases2, { multiple: true, class: 'required check_radio' }, "Decubitus", nil
                %li
                  %label
                    Discusbulging
                    = f.check_box :diseases2, { multiple: true, class: 'required check_radio' }, "Discusbulging", nil
                %li
                  %label
                    Discusdegeneratie
                    = f.check_box :diseases2, { multiple: true, class: 'required check_radio' }, "Discusdegeneratie", nil
                %li
                  %label
                    Fibromyalgie
                    = f.check_box :diseases2, { multiple: true, class: 'required check_radio' }, "Fibromyalgie", nil

              .col-md-4
                %li
                  %label
                    Heupdysplasie
                    = f.check_box :diseases2, { multiple: true, class: 'required check_radio' }, "Heupdysplasie", nil
                %li
                  %label
                    Hypermobiliteit
                    = f.check_box :diseases2, { multiple: true, class: 'required check_radio' }, "Hypermobiliteit", nil
                %li
                  %label
                    Ischias
                    = f.check_box :diseases2, { multiple: true, class: 'required check_radio' }, "Ischias", nil
                %li
                  %label
                    Lumbago
                    = f.check_box :diseases2, { multiple: true, class: 'required check_radio' }, "Lumbago", nil
                %li
                  %label
                    Obesitas
                    = f.check_box :diseases2, { multiple: true, class: 'required check_radio' }, "Obesitas", nil
                %li
                  %label
                    Osteoporose
                    = f.check_box :diseases2, { multiple: true, class: 'required check_radio' }, "Osteoporose", nil

              .col-md-4
                %li
                  %label
                    Parkinson
                    = f.check_box :diseases2, { multiple: true, class: 'required check_radio' }, "Parkinson", nil
                %li
                  %label
                    Reuma
                    = f.check_box :diseases2, { multiple: true, class: 'required check_radio' }, "Reuma", nil
                %li
                  %label
                    Spondylolyse
                    = f.check_box :diseases2, { multiple: true, class: 'required check_radio' }, "Spondylolyse", nil
                %li
                  %label
                    Scoliose
                    = f.check_box :diseases2, { multiple: true, class: 'required check_radio' }, "Scoliose", nil
                %li
                  %label
                    Ziekte van Bechterew
                    = f.check_box :diseases2, { multiple: true, class: 'required check_radio' }, "Ziekte van Bechterew", nil
                %li
                  %label
                    Een andere medische klacht die hier niet tussen staat
                    = f.check_box :diseases2, { multiple: true, class: 'required check_radio' }, "Een andere medische klacht die hier niet tussen staat", nil

        / end step
        .step.row#step_8_duo
          .col-md-6.col-md-offset-3
            %h3 Kies de gezamenlijke breedte en lengte van jullie matrassen
            .col-md-4.col-md-offset-1
              %ul.data-list-2
                %h4 Breedte
                %li
                  %label
                    140cm
                    = f.radio_button :mattress_width, '140cm', class: 'required check_radio'
                %li
                  %label
                    160cm
                    = f.radio_button :mattress_width, '160cm', class: 'required check_radio'
                %li
                  %label
                    180cm
                    = f.radio_button :mattress_width, '180cm', class: 'required check_radio'
                %li
                  %label
                    200cm
                    = f.radio_button :mattress_width, '200cm', class: 'required check_radio'
            .col-md-4.col-md-offset-1
              %ul.data-list-2
                %h4 Lengte
                %li
                  %label
                    200cm
                    = f.radio_button :mattress_length, '200cm', class: 'required check_radio'
                %li
                  %label
                    210cm
                    = f.radio_button :mattress_length, '210cm', class: 'required check_radio'
                %li
                  %label
                    220cm
                    = f.radio_button :mattress_length, '220cm', class: 'required check_radio'

        / end step
        .step.row#step_9_duo
          .col-md-6
            %h3
              Hoe moet het matras van
              %span.show_name_person_1
              aanvoelen? *
              = question_icon_md(t("questions.explanations.double_mattress_two.comfort"))
            %ul.data-list-2
              %li
                %label
                  Zacht
                  = f.radio_button :comfort, 'Zacht', class: 'required check_radio'
              %li
                %label
                  Niet hard, niet zacht
                  = f.radio_button :comfort, 'Niet hard, niet zacht', class: 'required check_radio'
              %li
                %label
                  Hard
                  = f.radio_button :comfort, 'Hard', class: 'required check_radio'

          .col-md-6
            %h3
              Hoe moet het matras van
              %span.show_name_person_2
              aanvoelen? *
              = question_icon_md(t("questions.explanations.double_mattress_two.comfort"))
            %ul.data-list-2
              %li
                %label
                  Zacht
                  = f.radio_button :comfort2, 'Zacht', class: 'required check_radio'
              %li
                %label
                  Niet hard, niet zacht
                  = f.radio_button :comfort2, 'Niet hard, niet zacht', class: 'required check_radio'
              %li
                %label
                  Hard
                  = f.radio_button :comfort2, 'Hard', class: 'required check_radio'

        / end step
        .step.row#step_10_duo
          .col-md-12.col-md-offset-3
            %h3
              Kies een comfortcategorie voor jullie matrassen
              = question_icon_md(t("questions.explanations.double_mattress_two.category"))
            %ul.data-list-2
              %li.disable_on_diseases
                %label
                  Budget (Redelijk comfort)
                  = f.radio_button :category, 'Budget', class: 'required check_radio disable_on_diseases'
              %li.disable_on_diseases
                %label
                  Comfort (Goed comfort)
                  = f.radio_button :category, 'Comfort', class: 'required check_radio disable_on_diseases'
              %li
                %label
                  Premium (Beste comfort)
                  = f.radio_button :category, 'Premium', class: 'required check_radio'
          %br/
          .col-md-12
            %table.table.table-bordered
              %thead
                %tr
                  %th
                    Budget
                  %th
                    Comfort
                  %th
                    Premium
              %tbody
                %tr
                  %td
                    2 jaar garantie
                  %td
                    5 jaar garantie
                  %td
                    10 jaar garantie
                %tr
                  %td
                    Redelijke kwaliteit materialen
                    (bijv. HR40 schuim)
                  %td
                    Goede kwaliteit materialen
                    (bijv. HR50 schuim)
                  %td
                    Beste kwaliteit materialen
                    (bijv. HR65 schuim)
                %tr
                  %td
                    Totale hoogte ca. 30cm
                  %td
                    Totale hoogte ca. 36cm
                  %td
                    Totale hoogte ca. 41cm
                %tr
                  %td
                    LGA-gecertificeerd
                    (schadestofvrij)
                  %td
                    LGA-gecertificeerd
                    (schadestofvrij)
                  %td
                    LGA-gecertificeerd
                    (schadestofvrij)
                %tr
                  %td
                    4 cm. topdekmatras
                  %td
                    6 cm. topdekmatras
                  %td
                    6 cm. topdekmatras
                %tr
                  %td
                  %td
                  %td
                    Medisch gecertificeerd
                %tr
                  %td
                  %td
                  %td
                    Ventilerende band
                %tr
                  %td
                  %td
                  %td
                    Emissieneutraal
          / end step
        .step.row#step_11_duo
          .col-md-4.col-md-offset-4
            %h3
              Is jullie bedbodem verstelbaar?
              = question_icon_md(t("questions.explanations.double_mattress_two.chassis"))
            %ul.data-list-2
              %li
                %label
                  Ja
                  = f.radio_button :chassis, 'Ja', class: 'required check_radio'
              %li
                %label
                  Nee
                  = f.radio_button :chassis, 'Nee', class: 'required check_radio'
              %li
                %label
                  Wij hebben nog geen bodem
                  = f.radio_button :chassis, "Geen bodem", class: 'required check_radio'
        .step.row#step_12_duo
          .col-md-4.col-md-offset-4
            %h3
              Hoe willen jullie het matras hebben?
              = question_icon_md(t("questions.explanations.double_mattress_two.separation"))
            %ul.data-list-2
              %li
                %label
                  Twee eenpersoonsmatrassen
                  = f.radio_button :separation, 'Twee eenpersoonsmatrassen', class: 'required check_radio'
              %li
                %label
                  Een tweepersoonsmatras
                  = f.radio_button :separation, 'Een tweepersoonsmatras', class: 'required check_radio'

        #complete.submit.step#step_13_duo
          %i.icon-check
          %h3
            = t("questions.labels.confirmation")
          = f.submit t("general.button.check_result"), class: 'btn btn-block btn-info submit', name: 'process', id: 'check_result_double_mattress_twos'
      #bottom-wizard
        %button.backward{ name: "Vorige", type: "button"}
          = t("general.button.previous")
        %button.forward{ name: "Volgende", type: "button"}
          = t("general.button.next")
