%h1 Listing double_mattress_twos

%table
  %thead
    %tr
      %th Name
      %th Name2
      %th Gender
      %th Gender2
      %th Age
      %th Age2
      %th Email
      %th Weight
      %th Weight2
      %th Length
      %th Length2
      %th Sleep position
      %th Sleep position2
      %th Body shape
      %th Body shape2
      %th Warm sleeping
      %th Warm sleeping2
      %th Neck or back pain
      %th Neck or back pain2
      %th Session
      %th Mattress length
      %th Mattress width
      %th Category
      %th Comfort
      %th Comfort2
      %th Diseases
      %th Diseases2
      %th
      %th
      %th

  %tbody
    - @double_mattress_twos.each do |double_mattress_two|
      %tr
        %td= double_mattress_two.name
        %td= double_mattress_two.name2
        %td= double_mattress_two.gender
        %td= double_mattress_two.gender2
        %td= double_mattress_two.age
        %td= double_mattress_two.age2
        %td= double_mattress_two.email
        %td= double_mattress_two.weight
        %td= double_mattress_two.weight2
        %td= double_mattress_two.length
        %td= double_mattress_two.length2
        %td= double_mattress_two.sleep_position
        %td= double_mattress_two.sleep_position2
        %td= double_mattress_two.body_shape
        %td= double_mattress_two.body_shape2
        %td= double_mattress_two.warm_sleeping
        %td= double_mattress_two.warm_sleeping2
        %td= double_mattress_two.neck_or_back_pain
        %td= double_mattress_two.neck_or_back_pain2
        %td= double_mattress_two.session_id
        %td= double_mattress_two.mattress_length
        %td= double_mattress_two.mattress_width
        %td= double_mattress_two.category
        %td= double_mattress_two.comfort
        %td= double_mattress_two.comfort2
        %td= double_mattress_two.diseases
        %td= double_mattress_two.diseases2
        %td= link_to 'Show', double_mattress_two
        %td= link_to 'Edit', edit_double_mattress_two_path(double_mattress_two)
        %td= link_to 'Destroy', double_mattress_two, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Double mattress two', new_double_mattress_two_path
