%p#notice= notice

%p
  %b Name:
  = @double_mattress_two.name
%p
  %b Name2:
  = @double_mattress_two.name2
%p
  %b Gender:
  = @double_mattress_two.gender
%p
  %b Gender2:
  = @double_mattress_two.gender2
%p
  %b Age:
  = @double_mattress_two.age
%p
  %b Age2:
  = @double_mattress_two.age2
%p
  %b Email:
  = @double_mattress_two.email
%p
  %b Weight:
  = @double_mattress_two.weight
%p
  %b Weight2:
  = @double_mattress_two.weight2
%p
  %b Length:
  = @double_mattress_two.length
%p
  %b Length2:
  = @double_mattress_two.length2
%p
  %b Sleep position:
  = @double_mattress_two.sleep_position
%p
  %b Sleep position2:
  = @double_mattress_two.sleep_position2
%p
  %b Body shape:
  = @double_mattress_two.body_shape
%p
  %b Body shape2:
  = @double_mattress_two.body_shape2
%p
  %b Warm sleeping:
  = @double_mattress_two.warm_sleeping
%p
  %b Warm sleeping2:
  = @double_mattress_two.warm_sleeping2
%p
  %b Neck or back pain:
  = @double_mattress_two.neck_or_back_pain
%p
  %b Neck or back pain2:
  = @double_mattress_two.neck_or_back_pain2
%p
  %b Session:
  = @double_mattress_two.session_id
%p
  %b Mattress length:
  = @double_mattress_two.mattress_length
%p
  %b Mattress width:
  = @double_mattress_two.mattress_width
%p
  %b Category:
  = @double_mattress_two.category
%p
  %b Comfort:
  = @double_mattress_two.comfort
%p
  %b Comfort2:
  = @double_mattress_two.comfort2
%p
  %b Diseases:
  = @double_mattress_two.diseases
%p
  %b Diseases2:
  = @double_mattress_two.diseases2

= link_to 'Edit', edit_double_mattress_two_path(@double_mattress_two)
\|
= link_to 'Back', double_mattress_twos_path
