%section#main.container
  #survey_container_result
    #middle-wizard-result
      .wrapper-v4
        .v4-bordered
          .specs-box
            .box-title.title-v4.text-center
              = t('results.titles.header', aanhef: 'Jullie')
            %ul
              %li
                .li-holder
                  .li-content
                    .box-holder
                      .icon
                        .summary_box.text-center
                          .box-title-small.text-center
                            = t('results.titles.cart')
                          %p
                            = @mattress_product
                          - if @mattress_product2
                            %p
                              = @mattress_product2
                          .product_image_duo
                            - if @double_mattress_two.warm_sleeping.include?('Warm') || @double_mattress_two.warm_sleeping2.include?('Warm')
                              = image_tag('warm_matras.jpg', alt: 'Jouw Tenzen Matras')
                            - else
                              = image_tag('koud_matras.jpg', alt: 'Jouw Tenzen Matras')
                          .price_tag
                            - if @price == 0000
                              Gratis
                            - else
                              €
                              = @price.to_s[0..-3]
                              - if session[:kortingscode]
                                %span{style: 'color: green; font-size: 17px; color: #5cb85c;'} (-10%)
                          .delivery_tag
                            = t('general.delivery_time')
                          .delivery_tag
                            %br
                            = form_tag('/kortingscode_checken', remote: true) do
                              %ul.list-inline
                                %li.list-inline-item
                                  = text_field_tag 'kortingscode', nil, class: 'required form-control', placeholder: 'kortingscode...'
                                %li.list-inline-item
                                  = submit_tag 'Gebruiken', class: 'btn btn-primary btn-sm'

                              %p= flash[:notice]
                            -# %span{style: 'font-size: 12px; text-decoration:underline;'}= link_to 'Antwoorden wijzigen', 'javascript:history.go(-1);'
                            .checkout_button.title-v4.text-center
                              %a.btn-primary.btn-success.btn-block{href: afrekenen_path}
                                = t("general.button.continue")
              %li
                .li-holder
                  .li-content
                    .box-holder
                      .icon
                        .summary_box
                          .box-title-small.text-center
                            = [t('results.titles.graphs'), " -"].join
                            = @double_mattress_two.name
                            %span.question_label_icon_wrapper
                              = question_icon_md(t("results.explanations.personalisation.duo", name: @double_mattress_two.name))
                          .text-content
                            .text-v4
                              %table.table
                                %tbody
                                  %tr
                                    %td
                                      %p.text-center Comfort
                                      .graph_explanation_text
                                        %span Zacht
                                        %span{style: "float: right"} Hard
                                      .progress#progress_comfort
                                        .progress-bar.progress-bar-success{"aria-valuemax" => "100", "aria-valuemin" => "0", :role => "progressbar", :style => "width:100%"}
                                          %div{class: @comfort_dot}

                                      %p.text-center Elasticiteit
                                      .graph_explanation_text
                                        %span Laag
                                        %span{style: "float: right"} Hoog
                                      .progress#progress_elasticity
                                        .progress-bar.progress-bar-success{"aria-valuemax" => "100", "aria-valuemin" => "0", :role => "progressbar", :style => "width:100%"}
                                          %div{class: @elasticity_dot}

                                      %p.text-center Stevigheid
                                      .graph_explanation_text
                                        %span Soepel
                                        %span{style: "float: right"} Stevig
                                      .progress#progress_firmness
                                        .progress-bar.progress-bar-success{"aria-valuemax" => "100", "aria-valuemin" => "0", :role => "progressbar", :style => "width:100%"}
                                          %div{class: @firmness_dot}

                                      %p.text-center Warmte-regulatie
                                      .graph_explanation_text
                                        %span Koud
                                        %span{style: "float: right"} Warm
                                      .progress#progress_heat_regulation
                                        .progress-bar.progress-bar-success{"aria-valuemax" => "100", "aria-valuemin" => "0", :role => "progressbar", :style => "width:100%"}
                                          %div{class: @heat_regulation_dot}
                                  %tr
                                    %td.text-center
                                      Body Mass Index(BMI):
                                      %strong #{@bmi}
                                      %span.question_label_icon_wrapper
                                        = question_icon_md(t("results.explanations.bmi"))
                          %a.read_more{href: '#advies'} bekijk advies
                    .box-holder
                      .icon
                        .summary_box
                          .box-title-small.text-center
                            = [t('results.titles.graphs'), " -"].join
                            = @double_mattress_two.name2
                            %span.question_label_icon_wrapper
                              = question_icon_md(t("results.explanations.personalisation.duo", name: @double_mattress_two.name2))
                          .text-content
                            .text-v4
                              %table.table
                                %tbody
                                  %tr
                                    %td
                                      %p.text-center Comfort
                                      .graph_explanation_text
                                        %span Zacht
                                        %span{style: "float: right"} Hard
                                      .progress#progress_comfort
                                        .progress-bar.progress-bar-success{"aria-valuemax" => "100", "aria-valuemin" => "0", :role => "progressbar", :style => "width:100%"}
                                          %div{class: @comfort_dot_2}

                                      %p.text-center Elasticiteit
                                      .graph_explanation_text
                                        %span Laag
                                        %span{style: "float: right"} Hoog
                                      .progress#progress_elasticity
                                        .progress-bar.progress-bar-success{"aria-valuemax" => "100", "aria-valuemin" => "0", :role => "progressbar", :style => "width:100%"}
                                          %div{class: @elasticity_dot_2}

                                      %p.text-center Stevigheid
                                      .graph_explanation_text
                                        %span Soepel
                                        %span{style: "float: right"} Stevig
                                      .progress#progress_firmness
                                        .progress-bar.progress-bar-success{"aria-valuemax" => "100", "aria-valuemin" => "0", :role => "progressbar", :style => "width:100%"}
                                          %div{class: @firmness_dot_2}

                                      %p.text-center Warmte-regulatie
                                      .graph_explanation_text
                                        %span Koud
                                        %span{style: "float: right"} Warm
                                      .progress#progress_heat_regulation
                                        .progress-bar.progress-bar-success{"aria-valuemax" => "100", "aria-valuemin" => "0", :role => "progressbar", :style => "width:100%"}
                                          %div{class: @heat_regulation_dot_2}
                                  %tr
                                    %td.text-center
                                      Body Mass Index(BMI):
                                      %strong #{@bmi_2}
                                      %span.question_label_icon_wrapper
                                        = question_icon_md(t("results.explanations.bmi"))
                          %a.read_more{href: '#advies'} bekijk advies
              %li
                .li-holder
                  .li-content-no-padding{style: 'padding: 0 0 30px 30px'}
                    .col-md-12
                      .col-md-4
                        .align-usps
                          = image_tag 'persoonlijk.png', alt: 'Niet goed geld terug'
                          PERSOONLIJK COMFORT
                      .col-md-4
                        .align-usps
                          = image_tag 'garantie.png', alt: 'Niet goed geld terug'
                          NIET GOED, GELD TERUG
                      .col-md-4
                        .align-usps
                          = image_tag 'bezorging.png', alt: 'Niet goed geld terug'
                          GRATIS VERZEND- EN OPHAALSERVICE

%section#main.container
  #survey_container_result_advice
    #middle-wizard-result
      .wrapper-v4
        .v4-bordered
          .specs-boxs
            .box-title.title-v4.text-center#advies
              = t('results.titles.header_advice')
            %ul
              - if double_mattress_two_complaints? || double_mattress_two_complaints2?
                %li
                  .head-title-v4
                    Drukverlagend matras
                    %span.question_label_icon_wrapper
                      = question_icon_md(t("results.explanations.complaints"))
                  .li-holder
                    .li-content
                      .text-content
                        - if double_mattress_two_complaints? && double_mattress_two_complaints2?
                          .title-smaller= @both_persons_names
                          .text-v4
                            = t("advice.complaints_duo_both")
                          %br
                        - elsif double_mattress_two_complaints? && !double_mattress_two_complaints2?
                          .title-smaller= @person_1_name
                          .text-v4
                            = t("advice.complaints_duo")
                          %br
                        - elsif !double_mattress_two_complaints? && double_mattress_two_complaints2?
                          .title-smaller= @person_2_name
                          .text-v4
                            = t("advice.complaints_duo")
                      .icon-holder-right
                        .icon
                          = image_tag("medisch-matras.png", class: 'img-responsive')
              %li
                .head-title-v4
                  Comfort matras
                  %span.question_label_icon_wrapper
                    = question_icon_md(t("results.explanations.comfort"))
                .li-holder
                  .li-content
                    .icon-holder-left
                      .icon
                        = image_tag("comfort.png", class: 'img-responsive')
                    .text-content
                      .title-smaller= @person_1_name
                      .text-v4
                        = @comfort_text
                      %br
                      .title-smaller= @person_2_name
                      .text-v4
                        = @comfort_text_2
              %li
                .head-title-v4
                  Elasticiteit matras
                  %span.question_label_icon_wrapper
                    = question_icon_md(t("results.explanations.elasticity"))
                .li-holder
                  .li-content
                    .text-content
                      .title-smaller= @person_1_name
                      .text-v4
                        = @elasticity_text
                      %br
                      .title-smaller= @person_2_name
                      .text-v4
                        = @elasticity_text_2
                    .icon-holder-right
                      .icon
                        = image_tag("elasticiteit.png", class: 'img-responsive')
              %li
                .head-title-v4
                  Stevigheid matras
                  %span.question_label_icon_wrapper
                    = question_icon_md(t("results.explanations.firmness"))
                .li-holder
                  .li-content
                    .icon-holder-left
                      .icon
                        = image_tag("stevigheid.png", class: 'img-responsive')
                    .text-content
                      .title-smaller= @person_1_name
                      .text-v4
                        = @firmness_text
                      %br
                      .title-smaller= @person_2_name
                      .text-v4
                        = @firmness_text_2
              %li
                .head-title-v4
                  Warmte-regulatie matras
                  %span.question_label_icon_wrapper
                    = question_icon_md(t("results.explanations.heat_regulation"))
                .li-holder
                  .li-content
                    .text-content
                      .title-smaller= @person_1_name
                      .text-v4
                        = @heat_regulation_text
                      %br
                      .title-smaller= @person_2_name
                      .text-v4
                        = @heat_regulation_text_2
                    .icon-holder-right
                      .icon
                        = image_tag("warmte-regulatie.png", class: 'img-responsive')
                  .checkout_button.title-v4.text-center
                    %a.btn-primary.btn-success.btn-block{href: afrekenen_path}
                      = t("general.button.continue")
