%section#main.container
  #survey_container_result
    #middle-wizard-result
      .wrapper-v4
        .v4-bordered
          .specs-box
            .box-title.title-v4.text-center
              = t('results.titles.header', aanhef: 'Jouw')
            %ul
              %li
                .li-holder
                  .li-content
                    .box-holder
                      .icon
                        .summary_box
                          .box-title-small.text-center
                            = t('results.titles.graphs')
                          .text-content
                            .text-v4
                              %table.table
                                %tbody
                                  %tr
                                    %td
                                      %p.text-center Comfort
                                      .graph_explanation_text
                                        %span Zacht
                                        %span{style: "float: right"} Hard
                                      .progress#progress_comfort
                                        .progress-bar.progress-bar-success{"aria-valuemax" => "100", "aria-valuemin" => "0", :role => "progressbar", :style => "width:100%"}
                                          %div{class: @comfort_dot}

                                      %p.text-center Elasticiteit
                                      .graph_explanation_text
                                        %span Laag
                                        %span{style: "float: right"} Hoog
                                      .progress#progress_elasticity
                                        .progress-bar.progress-bar-success{"aria-valuemax" => "100", "aria-valuemin" => "0", :role => "progressbar", :style => "width:100%"}
                                          %div{class: @elasticity_dot}

                                      %p.text-center Stevigheid
                                      .graph_explanation_text
                                        %span Soepel
                                        %span{style: "float: right"} Stevig
                                      .progress#progress_firmness
                                        .progress-bar.progress-bar-success{"aria-valuemax" => "100", "aria-valuemin" => "0", :role => "progressbar", :style => "width:100%"}
                                          %div{class: @firmness_dot}

                                      %p.text-center Warmte-regulatie
                                      .graph_explanation_text
                                        %span Koud
                                        %span{style: "float: right"} Warm
                                      .progress#progress_heat_regulation
                                        .progress-bar.progress-bar-success{"aria-valuemax" => "100", "aria-valuemin" => "0", :role => "progressbar", :style => "width:100%"}
                                          %div{class: @heat_regulation_dot}
                                  %tr
                                    %td.text-center
                                      Je Body Mass Index(BMI) is:
                                      %strong #{@bmi}
                          %a.read_more{href: '#advies'} bekijk advies

                    .box-holder
                      .icon
                        .summary_box
                          .box-title-small.text-center
                            = t('results.titles.cart')
                          %p
                            = @mattress_product
                          %p
                            = @topper_product
                          .price_tag
                            €
                            = @price.to_s[0..-3]
                          .delivery_tag
                            Levertijd: 6 weken
                            %br
                            %span{style: 'font-size: 12px; text-decoration:underline;'}= link_to 'Antwoorden wijzigen', 'javascript:history.go(-1);'
                      %p.align-usps
                        = image_tag('persoonlijk.png', alt: 'Personalisatie', class: 'usp-description')
                        = t('general.usp.title.comfort')
                        %br
                        = image_tag('bezorging.png', alt: 'Gratis bezorging', class: 'usp-description')
                        = t('general.usp.title.delivery')
                        %br
                        = image_tag('garantie.png', alt: '100 dagen proefslapen, niet goed, geld terug', class: 'usp-description')
                        = t('general.usp.title.money_back')

                  .checkout_button.title-v4.text-center
                    %a.btn-primary.btn-success.btn-block{href: afrekenen_path}
                      = t("general.button.continue")

%section#main.container
  #survey_container_result_advice
    #middle-wizard-result
      .wrapper-v4
        .v4-bordered
          .specs-boxs
            .box-title.title-v4.text-center#advies
              = t('results.titles.header_advice')
            %ul
              - if double_mattress_one_diseases_on?
                %li
                  .head-title-v4
                    Medische klachten
                    = question_icon_md(t("results.explanations.diseases"))
                  .li-holder
                    .li-content
                      .text-content
                        .title-smaller Medische klachten
                        .text-v4
                          Je hebt aangegeven last te hebben van medische klachten. Extra drukverlaging is van essentieel belang voor jou. Zo hebben je gewrichten en ledematen minimale tegendruk en geniet je van een gezonde bloedcirculatie omdat er geen knellingen plaatsvinden.
                      .icon-holder-right
                        .icon
                          = image_tag("medisch-matras.png", class: 'img-responsive')
              %li
                .head-title-v4
                  Comfort matras
                  = question_icon_md(t("results.explanations.comfort"))
                .li-holder
                  .li-content
                    .icon-holder-left
                      .icon
                        = image_tag("comfort.png", class: 'img-responsive')
                    .text-content
                      .title-smaller Comfort
                      .text-v4
                        = @comfort_text
              %li
                .head-title-v4
                  Elasticiteit matras
                  = question_icon_md(t("results.explanations.elasticity"))
                .li-holder
                  .li-content
                    .text-content
                      .title-smaller Elasticiteit
                      .text-v4
                        = @elasticity_text
                    .icon-holder-right
                      .icon
                        = image_tag("elasticiteit.png", class: 'img-responsive')
              %li
                .head-title-v4
                  Stevigheid matras
                  = question_icon_md(t("results.explanations.firmness"))
                .li-holder
                  .li-content
                    .icon-holder-left
                      .icon
                        = image_tag("stevigheid.png", class: 'img-responsive')
                    .text-content
                      .title-smaller Stevigheid
                      .text-v4
                        = @firmness_text
              %li
                .head-title-v4
                  Warmte-regulatie matras
                  = question_icon_md(t("results.explanations.heat_regulation"))
                .li-holder
                  .li-content
                    .text-content
                      .title-smaller Warmte-regulatie
                      .text-v4
                        = @heat_regulation_text
                    .icon-holder-right
                      .icon
                        = image_tag("warmte-regulatie.png", class: 'img-responsive')
                  .checkout_button.title-v4.text-center
                    %a.btn-primary.btn-success.btn-block{href: afrekenen_path}
                      = t("general.button.continue")
