%section#main.container
  / Start Survey container
  #survey_container_result
    - if flash[:notice]
      %p.alert.alert-success.text-center= flash[:notice]
    - elsif flash[:alert]
      %p.alert.alert-info.text-center= flash[:alert]
    = form_for @customer, url: afrekenen_post_path do |f|
      #middle-wizard
        #block_personal_information
          %h3.text-center Persoonlijke gegevens
          %br/
          .col-md-8.col-md-offset-2
            %ul.data-list
              %li= f.text_field :first_name, class: 'required form-control', placeholder: 'Voornaam*', required: true, oninvalid: "this.setCustomValidity('Dit veld is verplicht.')", oninput: "setCustomValidity('')"
              %li= f.text_field :last_name, class: 'required form-control', placeholder: 'Achternaam*', required: true, oninvalid: "this.setCustomValidity('Dit veld is verplicht.')", oninput: "setCustomValidity('')"
              %li= f.text_field :phone, class: 'required form-control', placeholder: 'Telefoonnummer*', required: true, oninvalid: "this.setCustomValidity('Dit veld is verplicht.')", oninput: "setCustomValidity('')"
              %li= f.email_field :email, class: 'required form-control', placeholder: 'E-mailadres*', id: 'last_field_personal_information', required: true, oninvalid: "this.setCustomValidity('Vul een geldig emailadres in.')", oninput: "setCustomValidity('')"
        #block_address_information
          %h3.text-center Adresgegevens
          .col-md-8.col-md-offset-2
            %ul.data-list
              %li= f.text_field :address, class: 'required form-control', placeholder: 'Straatnaam + huisnummer*', required: true, oninvalid: "this.setCustomValidity('Dit veld is verplicht.')", oninput: "setCustomValidity('')"
              %li= f.text_field :address_addition, class: 'required form-control', placeholder: 'Toevoeging (suite, appartement etc..)'
              %li= f.text_field :zip_code, class: 'required form-control', placeholder: 'Postcode*', required: true, oninvalid: "this.setCustomValidity('Dit veld is verplicht.')", oninput: "setCustomValidity('')"
              %li= f.text_field :city, class: 'required form-control last_field_address_information', placeholder: 'Stad*', required: true, oninvalid: "this.setCustomValidity('Dit veld is verplicht.')", oninput: "setCustomValidity('')"
            %ul#terms.data-list
              %li
                %strong
                  Verzenden naar een ander adres?
                %label.switch-light.switch-ios
                  %input.required.fix_ie8.ship_to_different_address{:name => "different_shipping_address", :type => "checkbox", :value => "nee"}/
                  %span
                    %span.ie8_hide Nee
                    %span Ja
                  %a
            %br/
            %br/

          .ship_to_different_address_fields
            %h3.text-center Verzendadres
            .col-md-8.col-md-offset-2
              %ul.data-list
                %li= f.text_field :address_ship, class: 'required form-control', placeholder: 'Straatnaam + huisnummer'
                %li= f.text_field :address_addition_ship, class: 'required form-control', placeholder: 'Toevoeging (suite, appartement etc..)'
                %li= f.text_field :zip_code_ship, class: 'required form-control', placeholder: 'Postcode'
                %li= f.text_field :city_ship, class: 'required form-control last_field_address_information', placeholder: 'Stad'

        #block_other_information
          %h3.text-center Informatie
          .col-md-8.col-md-offset-2
            %ul#terms.data-list
              %li
                %strong
                  Woon je op de begane grond?
                %label.switch-light.switch-ios
                  %input.required.fix_ie8#floor_select{:name => "floor_living", :type => "checkbox", :value => "Ja", :checked => "checked"}/
                  %span
                    %span.ie8_hide Nee
                    %span Ja
                  %a
            %br/
            %br/
            #floor_options
              %ul.data-list
                %h5
                  Op welke verdieping woon je?
                .styled-select
                  %li= f.select :floor, ['1e verdieping', '2e verdieping', '3e verdieping', '4e verdieping', '5e verdieping', '6e verdieping', '7e verdieping', '8e verdieping', '9e verdieping', '10e verdieping of hoger'], class: 'required form-control'
                %br/
                %h5
                  Is er een lift aanwezig?
                .styled-select
                  %li= f.select :elevator, ['Ja, er is een lift.', 'Nee, er is geen lift.'], class: 'required form-control'
          .col-md-8.col-md-offset-2
            %ul.data-list
              %li= f.text_area :comment, class: 'required form-control', placeholder: 'Extra bericht of notitie (optioneel)'

        #block_payment_information
          %h3.text-center Betaalmethode
          .col-md-8.col-md-offset-2
            %ul.data-list-2
              %li
                = f.radio_button :payment_method, 'iDeal', class: 'required check_radio', checked: true
                = f.label :payment_method_a, 'iDeal'
                %span.payment_method_image{style: "float: right;"}
                  = image_tag 'ideal_mobile.png', alt: 'iDeal', height: '42px', width: '168px'
              %li
                = f.radio_button :payment_method, "50/50", class: 'required check_radio'
                = f.label :payment_method_b, "50% met ideal en 50% pinnen aan huis"
                %span.payment_method_image{style: "float: right;"}
                  = image_tag 'pinnen_mobile.png', alt: "50% met ideal en 50% pinnen aan huis", height: '42px', width: '168px'
            %hr
            %ul#terms.data-list
              %li
                %strong
                  Ik ga akkoord met de
                  = link_to "algemene voorwaarden", algemene_voorwaarden_url, target: "_blank"
                %label.switch-light.switch-ios
                  %input.required.fix_ie8#terms_of_agreement{:name => "terms", :type => "checkbox", value: "Ja"}/
                  %span
                    %span.ie8_hide Nee
                    %span Ja
                  %a
            %br
            %br

      = f.submit 'Afrekenen', class: 'checkout_button btn btn-block btn-info submit', name: 'Volgende', id: 'pay_now_button', disabled: true
