%section#main.container
  / Start Survey container
  #survey_container_result
    = form_for @customer, url: afrekenen_post_path do |f|
      #middle-wizard
        #block_personal_information
          %h3.text-center= t("checkout.title_personal")
          %br/
          .col-md-8.col-md-offset-2
            %ul.data-list
              %li
                %label
                  = t("checkout.first_name")
                = f.text_field :first_name, class: 'required form-control', required: true, oninvalid: "this.setCustomValidity('Dit veld is verplicht.')", oninput: "setCustomValidity('')"
              %li
                %label
                  = t("checkout.last_name")
                = f.text_field :last_name, class: 'required form-control', required: true, oninvalid: "this.setCustomValidity('Dit veld is verplicht.')", oninput: "setCustomValidity('')"
              %li
                %label
                  = t("checkout.phone_number")
                = f.text_field :phone, class: 'required form-control', required: true, oninvalid: "this.setCustomValidity('Dit veld is verplicht.')", oninput: "setCustomValidity('')"
              %li
                %label
                  = t("checkout.email")
                = f.email_field :email, class: 'required form-control', id: 'last_field_personal_information', required: true, oninvalid: "this.setCustomValidity('Vul een geldig emailadres in.')", oninput: "setCustomValidity('')"
        #block_address_information
          %h3.text-center= t("checkout.title_address")
          .col-md-8.col-md-offset-2
            %ul.data-list
              .col-md-7
                %li
                  %label
                    = t("checkout.street_and_house_number")
                  = f.text_field :address, class: 'required form-control', required: true, oninvalid: "this.setCustomValidity('Dit veld is verplicht.')", oninput: "setCustomValidity('')"
              .col-md-5
                %li
                  %label
                    = t("checkout.house_number_addition")
                  = f.text_field :address_addition, class: 'required form-control'
            %hr/
            %hr/
            %ul.data-list
              .col-md-12
                %li
                  %label
                    = t("checkout.zip_code")
                  = f.text_field :zip_code, class: 'required form-control', required: true, oninvalid: "this.setCustomValidity('Dit veld is verplicht.')", oninput: "setCustomValidity('')"
                %li
                  %label
                    = t("checkout.city")
                  = f.text_field :city, class: 'required form-control last_field_address_information', required: true, oninvalid: "this.setCustomValidity('Dit veld is verplicht.')", oninput: "setCustomValidity('')"
            %ul#terms.data-list
              %li
                %strong
                  = t("checkout.ship.ship_to_different_address")
                %label.switch-light.switch-ios
                  %input.required.fix_ie8.ship_to_different_address{ name: "different_shipping_address", type: "checkbox", value: "nee"}/
                  %span
                    %span.ie8_hide= t("general.nope")
                    %span= t("general.yeah")
                  %a
            %br/
            %br/

          .ship_to_different_address_fields
            %h3.text-center= t("checkout.ship.title_address")
            .col-md-8.col-md-offset-2
              %ul.data-list
                %li
                  .col-md-7
                    %label
                      = t("checkout.ship.street_and_house_number")
                    = f.text_field :address_ship, class: 'required form-control'
                  .col-md-5
                    %label
                      = t("checkout.ship.house_number_addition")
                    = f.text_field :address_addition_ship, class: 'required form-control'
              %hr/
              %hr/
              %ul.data-list
                .col-md-12
                  %li
                    %label
                      = t("checkout.ship.zip_code")
                    = f.text_field :zip_code_ship, class: 'required form-control'
                  %li
                    %label
                      = t("checkout.ship.city")
                    = f.text_field :city_ship, class: 'required form-control last_field_address_information'

        #block_other_information
          .col-md-8.col-md-offset-2
            %ul#terms.data-list
              %li
                %strong
                  = t("checkout.retour_old_mattress")
                %label.switch-light.switch-ios
                  = f.check_box :retour_old_mattress, { name: 'customer[retour_old_mattress]', class: "fix_ie8" }, nil, nil
                  %span
                    %span.ie8_hide= t("general.nope")
                    %span= t("general.yeah")
                  %a
            %br/

        #block_payment_information
          %h3.text-center= t("checkout.title_payment")
          .col-md-8.col-md-offset-2
            %ul.data-list-2
              %li
                %label
                  = t("checkout.ideal")
                  = f.radio_button :payment_method, 'iDeal', class: 'required check_radio', checked: true
                %span.payment_method_image{style: "float: right;"}
                  = image_tag 'ideal.svg', alt: 'iDeal', height: '42px', width: '168px'
              %li
                %label
                  = t("checkout.50_ideal_50_pin")
                  = f.radio_button :payment_method, "50/50", class: 'required check_radio'
                %span.payment_method_image{style: "float: right;"}
                  = image_tag 'pinnen.svg', alt: "50% met ideal en 50% pinnen aan huis", height: '42px', width: '168px'
          .col-md-8.col-md-offset-2
            %ul.data-list
              %label
                = t('checkout.comment')
              %li= f.text_area :comment, class: 'required form-control', placeholder: '....'
            %hr
            %ul#terms.data-list
              %li
                %strong
                  = t('checkout.agree_toa').html_safe
                %label.switch-light.switch-ios
                  %input.required.fix_ie8#terms_of_agreement{ name: "terms", type: "checkbox", value: "Ja"}/
                  %span
                    %span.ie8_hide= t("general.nope")
                    %span= t("general.yeah")
                  %a
            %br
            %br

      = f.submit t("general.button.checkout"), class: 'checkout_button btn btn-block btn-info submit', name: 'Volgende', id: 'pay_now_button', disabled: true

:javascript
  $(document).ready(function() {
    if ( $("#customer_first_name").val().length > 0 || $("#customer_last_name").val().length > 0 || $("#customer_phone").val().length > 0 || $("#last_field_personal_information").val().length > 0) {
      $("#block_address_information").show();
      $("#block_other_information").show();
      $("#block_payment_information").show();
    }
  })
