%section#main.container
  / Start Survey container
  #survey_container_result
    = form_for :customer do |f|
      = f.fields_for :billing_address do |ba|
        #middle-wizard
          #block_personal_information
            %h3.text-center Persoonlijke gegevens
            %br/
            .col-md-8.col-md-offset-2
              %ul.data-list
                %li= ba.text_field :first_name, class: 'required form-control name_person_1', placeholder: 'Voornaam*'
                %li= ba.text_field :last_name, class: 'required form-control', placeholder: 'Achternaam*'
                %li= ba.text_field :phone, class: 'required form-control', placeholder: 'Telefoonnummer*'
                %li= ba.email_field :email, class: 'required form-control', placeholder: 'E-mailadres*', id: 'last_field_personal_information'
          #block_address_information
            %h3.text-center Adresgegevens
            .col-md-8.col-md-offset-2
              %ul.data-list
                %li= ba.text_field :address, class: 'required form-control', placeholder: 'Straatnaam + huisnummer*'
                %li= ba.text_field :address_addition, class: 'required form-control', placeholder: 'Toevoeging (suite, appartement etc..)'
                %li= ba.text_field :zip_code, class: 'required form-control', placeholder: 'Postcode*'
                %li= ba.text_field :city, class: 'required form-control last_field_address_information', placeholder: 'Stad*'
                %li
              %ul#terms.data-list
                %li
                  %strong
                    Verzenden naar een ander adres?
                  %label.switch-light.switch-ios
                    %input.required.fix_ie8.ship_to_different_address{:name => "terms", :type => "checkbox", :value => "nee"}/
                    %span
                      %span.ie8_hide Nee
                      %span Ja
                    %a
              %br/
              %br/

            = f.fields_for :shipping_address do |sa|
              .ship_to_different_address_fields
                %h3.text-center Verzendadres
                .col-md-8.col-md-offset-2
                  %ul.data-list
                    %li= sa.text_field :address, class: 'required form-control', placeholder: 'Straatnaam + huisnummer'
                    %li= sa.text_field :address_addition, class: 'required form-control', placeholder: 'Toevoeging (suite, appartement etc..)'
                    %li= sa.text_field :zip_code, class: 'required form-control', placeholder: 'Postcode'
                    %li= sa.text_field :city, class: 'required form-control last_field_address_information', placeholder: 'Stad'

          #block_other_information
            %h3.text-center Informatie
            .col-md-8.col-md-offset-2
              %ul.data-list
                .styled-select
                  %li= ba.select :floor, [ 'Begane grond', '1e verdieping', '2e verdieping', '3e verdieping', '4e verdieping', '5e verdieping', '6e verdieping', '7e verdieping', '8e verdieping', '9e verdieping', '10e verdieping of hoger'], prompt: 'Op welke verdieping woon je?*', class: 'required form-control'
                %br/
                .styled-select
                  %li= ba.select :elevator, [ 'Ja, er is een lift.', 'Nee, er is geen lift.'], prompt: 'Is er een lift aanwezig?*', class: 'required form-control'
            .col-md-8.col-md-offset-2
              %ul.data-list
                %li= f.text_area :comment, class: 'required form-control', placeholder: 'Extra bericht of notitie (optioneel)'

          #block_payment_information
            %h3.text-center Betaalmethode
            .col-md-8.col-md-offset-2
              %ul.data-list-2
                %li
                  = f.radio_button :payment_method, 'iDeal', class: 'required check_radio', checked: true
                  = f.label :payment_method_a, 'iDeal'
                %li
                  = f.radio_button :payment_method, "50/50", class: 'required check_radio'
                  = f.label :payment_method_b, "50% met ideal en 50% pinnen aan huis"
              %hr
              %ul#terms.data-list
                %li
                  %strong
                    Ik ga akkoord met de
                    = link_to "algemene voorwaarden", algemene_voorwaarden_simpel_url, target: "_blank"
                  %label.switch-light.switch-ios
                    %input.required.fix_ie8#terms_of_agreement{:name => "terms", :type => "checkbox", value: "Ja"}/
                    %span
                      %span.ie8_hide Nee
                      %span Ja
                    %a
              %br
              %br
      = f.submit 'Afrekenen', class: 'checkout_button btn btn-block btn-info submit', name: 'payment', id: 'pay_now_button', disabled: true
