%section#main.container
  #survey_container_result
    #middle-wizard-result
      .wrapper-v4
        .v4-bordered
          .specs-boxs
            .box-title.title-v4.text-center#advies
              Algemene voorwaarden
            %ul
              %li
                .li-holder
                  .li-content
                    .text-content
                      .text-v4
                        %p
                          Wij hebben onze algemene voorwaarden hier in duidelijke taal, simpel opgeschreven. Dit is
                          wel zo fijn en helder.
                          Wil je toch liever de lange ingewikkelde versie? Dat kan natuurlijk. De Nederlandse
                          Thuiswinkel Organisatie heeft de algemene voorwaarden voor ons opgesteld, maar dan

                          = link_to 'lekker moeilijk.', algemene_voorwaarden_ingewikkeld_url
              %li
                .head-title-v4 DEFINITIES
                .li-holder
                  .li-content
                    .text-content
                      .text-v4
                        %p
                          Klant: Koning.
                          %br
                          Service: 100%, wij staan klaar voor je.
                          %br
                          Matras: Een persoonlijk product. Maatwerk.
              %li
                .head-title-v4 IDENTITEIT
                .li-holder
                  .li-content
                    .text-content
                      .text-v4
                        %p
                          Wij zijn Tenzen.
                        %p
                          Je kunt ons zo bereiken:
                          %br
                          Mailen: info@tenzen.nl
                          %br
                          Bellen: 088 40 40 700 (lokaal tarief)
                          %br
                          Schrijven: Essebaan 19a 3.28
                          2905VE Capelle aan den IJssel
                          %br
                          Liken: Facebook.com/TenzenSlapen

                        %p
                          We zijn 5 dagen per week telefonisch bereikbaar:
                          %br
                          Woensdag t/m Zondag 9:00 uur tot 18:00 uur.
                        %p
                          Tenzen is onderdeel van Gronemann V.O.F.
                          %br
                          KvK-nummer: 67209815
                          %br
                          BTW-nummer: NL856876951B01
              %li
                .head-title-v4 AANBOD
                .li-holder
                  .li-content
                    .text-content
                      .text-v4
                        %p
                          Tenzen verkoopt op maat gemaakte matrassen die gemaakt worden in Duitsland. Hier
                          worden de matrassen onder strenge kwaliteitseisen geproduceerd. Zo zorgen wij dat elke
                          matras precies bij de wensen van de klant past. Alle matrassen beschikken over keurmerken
                          die de kwaliteit en veiligheid aantonen. Je kunt dus met een gerust hart slapen op je matras.
                          %br
                          We vertellen je zo duidelijk mogelijk wat je kunt verwachten van je matras en wat het gaat
                          kosten. Als er een foutje in de beschrijvingen staat dan mag je ons daar aan houden.
                          Behalve als het duidelijk is dat het om een fout gaat en je dit had kunnen weten.
              %li
                .head-title-v4 AANKOOP
                .li-holder
                  .li-content
                    .text-content
                      .text-v4
                        %p
                          Wij doen er alles aan om de veiligheid van jouw gegevens te garanderen. Zo worden er geen
                          gegevens opgeslagen die niet noodzakelijk zijn voor de aankoop. Ook zorgen wij dat de
                          omgeving waarin je een aankoop doet altijd beveiligd is.
                          %br
                          Wij sturen je altijd een bevestiging van je aankoop. Hierin kun je ook alle gegevens vinden
                          die betrekking hebben op je aankoop.
              %li
                .head-title-v4 HERROEPINGSRECHT
                .li-holder
                  .li-content
                    .text-content
                      .text-v4
                        %p
                          Omdat we op basis van de jou doorgegeven specificaties een matras vervaardigen (maatwerk) kun je
                          geen beroep doen op het wettelijke herroepingsrecht, dit omdat maatwerk producten hiervoor zijn
                          uitgezonderd. Maar omdat wij service belangrijk vinden mag je jouw product altijd binnen 100 dagen
                          na ontvangst terugsturen.
                          Op onze
                          = link_to 'retourneren pagina', retourneren_url
                          kun je meer informatie vinden over het terugsturen van je matras.
              %li
                .head-title-v4 VERPLICHTINGEN TIJDENS PROEFSLAAPPERIODE
                .li-holder
                  .li-content
                    .text-content
                      .text-v4
                        %p
                          Wij vinden het belangrijk dat je goed slaapt. Ben je niet tevreden over hoe je matras ligt? Dan kun je
                          deze altijd binnen 100 dagen retourneren. Hier doen we niet moeilijk over. Let wel op dat het recht
                          op retour vervalt als er onredelijk wordt omgegaan met het matras. Je mag je matras dus niet als
                          trampoline gebruiken of als dienblad voor je koffie.
              %li
                .head-title-v4 VERZENDKOSTEN BIJ RETOUR
                .li-holder
                  .li-content
                    .text-content
                      .text-v4
                        %p
                          Die zijn er niet: De verzending is zowel heen- als terug gratis via Tenzen.
              %li
                .head-title-v4 VERPLICHTINGEN TENZEN BIJ RETOUR
                .li-holder
                  .li-content
                    .text-content
                      .text-v4
                        %p
                          Als je binnen 100 dagen bij ons aangeeft dat je je matras terug wil sturen, dan doen wij dit:
                          %ul
                            %li
                              %strong 1.
                              We sturen je een bevestiging per e-mail
                            %li
                              %strong 2.
                              Onze bezorgdienst neemt contact met je op om het matras op te halen
                            %li
                              %strong 3.
                              Zodra we je matras hebben ontvangen zullen we binnen 14 dagen aan de slag met de
                              verwerking van je retour
                            %li
                              %strong 4.
                              We zullen het volledige aankoopbedrag zo snel mogelijk en in ieder geval binnen 14 dagen na
                              verwerking van de retour terugstorten.
              %li
                .head-title-v4 DE PRIJS
                .li-holder
                  .li-content
                    .text-content
                      .text-v4
                        %p
                          Alle genoemde prijzen zijn inclusief btw.
                          %br
                          Verzending is altijd gratis, retourneren ook
              %li
                .head-title-v4 GARANTIES
                .li-holder
                  .li-content
                    .text-content
                      .text-v4
                        %p
                          Je hebt altijd minimaal 2 jaar garantie op je aankoop. Omdat wij kwaliteit erg belangrijk vinden krijg
                          je extra garantie bij onze ‘comfort’ en ‘premium’ matrassen. Als er toch iets aan de hand is met je
                          matras, dan lossen we dat natuurlijk voor je op. Je kunt hier meer over lezen op onze
                          = link_to 'garanties pagina.', garanties_url
              %li
                .head-title-v4 KLACHTEN EN SUGGESTIES
                .li-holder
                  .li-content
                    .text-content
                      .text-v4
                        %p
                          Wij doen ons uiterste best om je zo goed mogelijk te helpen en te informeren. Toch kan het
                          voorkomen dat je niet helemaal tevreden bent, of dat je suggesties hebt voor verbetering.
                        %p
                          Wat kun je doen?
                        %p
                          1. Een suggestie/klacht indienen
                        %p
                          Niet tevreden met een product of onze dienstverlening? Je kunt altijd een bericht sturen naar Tenzen
                          als je een suggestie of een klacht hebt. Dit kun je doen door te:
                        %p
                          * bellen,
                          %br
                          * schrijven, of
                          %br
                          * een e-mail sturen.
                          %br
                        %p
                          Wees bij je beschrijving zo duidelijk mogelijk:
                          %br
                          * Waar gaat je suggestie/klacht precies over?
                          %br
                          * Wat is er mis gegaan? Of wat kan beter?
                          %br
                          * Welke personen zijn betrokken?
                          %br
                          * Welke oplossing of verbetering heb je?
                          %br
                          * Vermeld hierbij ook je bestelnummer/factuurnummer, indien van toepassing. Zo kan onze
                          administratie je beter helpen met je klacht.
                        %p
                          2. Wat gebeurt er met je suggestie/klacht?
                        %p
                          * Je ontvangt binnen een week een ontvangstbevestiging
                          %br
                          * Binnen 2 weken na het indienen van je suggestie/klacht kun je een inhoudelijke reactie
                          verwachten.
                          %br
                          * Lukt dit niet binnen 2 weken, dan ontvang je van ons een reactie met de reden waarom het
                          vertraagd is en wanneer je een uitvoerig antwoord kan verwachten.
                        %p
                          3. De geschillencommissie Thuiswinkel
                        %p
                          Wanneer Tenzen je bezwaarschrift afwijst, of als je het niet eens bent met de afhandeling, dan kun je
                          terecht bij de geschillencommissie Thuiswinkel. De geschillencommissie Thuiswinkel is een
                          onafhankelijke instantie die geschillen tussen consumenten en webwinkels behandelt.
                          Meer informatie over de geschillencommissie en procedures kun je vinden op de site van
                          = link_to 'Thuiswinkel', 'https://www.degeschillencommissie.nl/over-ons/commissies/thuiswinkel/', target: '_blank'
                          en de
                          = link_to 'Europese Commissie.', 'https://webgate.ec.europa.eu/odr/main/?event=main.home.show' , target: '_blank'

              %li
                .head-title-v4 INTELLECTUELE EIGENDOMSRECHTEN
                .li-holder
                  .li-content
                    .text-content
                      .text-v4
                        %p
                          Je mag de informatie op deze website alleen hergebruiken volgens de regelingen van het dwingend
                          recht. Zonder uitdrukkelijke schriftelijke toestemming van Tenzen is het niet toegestaan tekst,
                          fotomateriaal of andere materialen op deze website her te gebruiken. Het intellectueel eigendom
                          berust bij Tenzen.
              %li
                .head-title-v4 WIJZIGINGEN
                .li-holder
                  .li-content
                    .text-content
                      .text-v4
                        %p
                          Als de algemene voorwaarden wijzigen dan laten we dat via deze pagina weten. Natuurlijk zorgen wij
                          ervoor dat deze wijzigingen niet nadelig zijn voor jou.
