%section#main.container
  #survey_container
    #middle-wizard
      .step
        .row.text-center
          %h2.col-md-12 Kies je maatvoering
          %br/
          .col-md-6
            = link_to bestellen_eenpersoons_url do
              .btn.btn-choose.btn-lg.btn-block{style: 'margin-bottom: 10px'}
                %span= image_tag("1p_normal.svg", height: 30, width: 30)
                = t('general.button.one_person')
            Welke maten vallen onder eenpersoons?
            = question_icon_md(t('order.1p.available_sizes'))
            %br/
            %br/
          .col-md-6
            = link_to bestellen_tweepersoons_url do
              .btn.btn-choose.btn-lg.btn-block{style: 'margin-bottom: 10px'}
                %span= image_tag("2p_normal.svg", height: 30, width: 30)
                = t('general.button.two_persons')
            Welke maten vallen onder tweepersoons?
            = question_icon_md(t('order.2p.available_sizes'))
