%h2 HOERRRRRA nieuwe bestelling!
%p= @details[:first_name]
%p= @details[:last_name]
%p= @details[:phone]
%p= @details[:email]
%p= @details[:address]
%p= @details[:address_addition]
%p= @details[:zip_code]
%p= @details[:city]
%p= @details[:address_ship]
%p= @details[:address_addition_ship]
%p= @details[:zip_code_ship]
%p= @details[:city_ship]
%p= @details[:floor]
%p= @details[:elevator]
%p= @details[:comment]
%p= @details[:payment_method]
%p= @details[:order_number]
