!!!
%html{:style => "min-width: 100%;margin: 0;padding: 0;-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;background-color: #5777ab;width: 100% !important;", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1.0, shrink-to-fit=no", :name => "viewport"}/
    / [if !mso]><!
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/

  %body{:leftmargin => "0", :marginheight => "0", :marginwidth => "0", :offset => "0", :style => "min-width: 100%;margin: 0;padding: 0;-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;background-color: #5777ab;width: 100% !important;", :topmargin => "0"}

  / header_accent
  %table.email_table{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "box-sizing: border-box;border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;width: 100%;min-width: 100%;", :width => "100%"}
    %tbody
      %tr
        %td.email_body.email_start.tc{:style => "box-sizing: border-box;vertical-align: top;line-height: 100%;text-align: center;padding-left: 16px;padding-right: 16px;padding-top: 32px;background-color: #5777ab;font-size: 0 !important;"}
          /[if (mso)|(IE)] <table width="632" border="0" cellspacing="0" cellpadding="0" align="center" style="vertical-align:top;width:632px;Margin:0 auto;"><tbody><tr><td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;">
          .email_container{:style => "box-sizing: border-box;font-size: 0;display: inline-block;width: 100%;vertical-align: top;max-width: 632px;margin: 0 auto;text-align: center;line-height: inherit;min-width: 0 !important;"}
            %table.content_section{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "box-sizing: border-box;border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;width: 100%;min-width: 100%;", :width => "100%"}
              %tbody
                %tr
                  %td.blank_cell.header_c.pt.pb{:style => "box-sizing: border-box;vertical-align: top;padding-top: 16px;padding-bottom: 16px;line-height: inherit;"}
                    / col-6
                    .email_row{:style => "box-sizing: border-box;font-size: 0;display: block;width: 100%;vertical-align: top;margin: 0 auto;text-align: center;clear: both;line-height: inherit;min-width: 0 !important;max-width: 600px !important;"}
                      /[if (mso)|(IE)] <table width="600" border="0" cellspacing="0" cellpadding="0" align="center" style="vertical-align:top;width:600px;Margin:0 auto;"><tbody><tr><td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;">
                      .col_6{:style => "box-sizing: border-box;font-size: 0;display: inline-block;width: 100%;vertical-align: top;max-width: 600px;line-height: inherit;min-width: 0 !important;"}
                        %table.column{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "box-sizing: border-box;border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;width: 100%;min-width: 100%;", :width => "100%"}
                          %tbody
                            %tr
                              %td.column_cell.px.pt_xs.pb_0.logo_c.tc{:style => "box-sizing: border-box;vertical-align: top;width: 100%;min-width: 100%;padding-top: 8px;padding-bottom: 0;font-family: Helvetica, Arial, sans-serif;font-size: 16px;line-height: 100%;color: #616161;mso-line-height-rule: exactly;text-align: center;padding-left: 16px;padding-right: 16px;"}
                                %a{:href => "#", :style => "text-decoration: none;line-height: inherit;color: #f24853;"}
                                  = image_tag('icon-veilig.png', width: '130px', height: '30px', style: "outline: none;border: 0;text-decoration: none;-ms-interpolation-mode: bicubic;clear: both;line-height: 100%;max-width: 168px;height: auto !important;", alt: 'Tenzen')
                      /[if (mso)|(IE)] </td></tr></tbody></table>
          /[if (mso)|(IE)] </td></tr></tbody></table>
  / jumbotron_icon_success
  %table.email_table{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "box-sizing: border-box;border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;width: 100%;min-width: 100%;", :width => "100%"}
    %tbody
      %tr
        %td.email_body.tc{:style => "box-sizing: border-box;vertical-align: top;line-height: 100%;text-align: center;padding-left: 16px;padding-right: 16px;background-color: #5777ab;font-size: 0 !important;"}
          /[if (mso)|(IE)] <table width="632" border="0" cellspacing="0" cellpadding="0" align="center" style="vertical-align:top;width:632px;Margin:0 auto;"><tbody><tr><td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;">
          .email_container{:style => "box-sizing: border-box;font-size: 0;display: inline-block;width: 100%;vertical-align: top;max-width: 632px;margin: 0 auto;text-align: center;line-height: inherit;min-width: 0 !important;"}
            %table.content_section{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "box-sizing: border-box;border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;width: 100%;min-width: 100%;", :width => "100%"}
              %tbody
                %tr
                  %td.content_cell.brt{:style => "box-sizing: border-box;vertical-align: top;width: 100%;background-color: #ffffff;font-size: 0;text-align: center;padding-left: 16px;padding-right: 16px;border-radius: 4px 4px 0 0;line-height: inherit;min-width: 0 !important;"}
                    / col-6
                    .email_row{:style => "box-sizing: border-box;font-size: 0;display: block;width: 100%;vertical-align: top;margin: 0 auto;text-align: center;clear: both;line-height: inherit;min-width: 0 !important;max-width: 600px !important;"}
                      /[if (mso)|(IE)] <table width="600" border="0" cellspacing="0" cellpadding="0" align="center" style="vertical-align:top;width:600px;Margin:0 auto 0 0;"><tbody><tr><td width="600" style="width:600px;line-height:0px;font-size:0px;mso-line-height-rule:exactly;">
                      .col_6{:style => "box-sizing: border-box;font-size: 0;display: inline-block;width: 100%;vertical-align: top;max-width: 600px;line-height: inherit;min-width: 0 !important;"}
                        %table.column{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "box-sizing: border-box;border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;width: 100%;min-width: 100%;", :width => "100%"}
                          %tbody
                            %tr
                              %td.column_cell.px.pte.tc{:style => "box-sizing: border-box;vertical-align: top;width: 100%;min-width: 100%;padding-top: 32px;padding-bottom: 16px;font-family: Helvetica, Arial, sans-serif;font-size: 16px;line-height: 23px;color: #616161;mso-line-height-rule: exactly;text-align: center;padding-left: 16px;padding-right: 16px;"}
                                %table.ic_h{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "box-sizing: border-box;border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;display: table;margin-left: auto;margin-right: auto;width: 64px;", :width => "64"}
                                  %tbody
                                    %tr
                                      %td.success_b{:style => "box-sizing: border-box;vertical-align: middle;background-color: #5ebb6b;line-height: 100%;font-family: Helvetica, Arial, sans-serif;text-align: center;mso-line-height-rule: exactly;padding: 16px;border-radius: 80px;"}
                                        %p.imgr.mb_0{:style => "font-family: Helvetica, Arial, sans-serif;font-size: 0;line-height: 100%;color: #616161;mso-line-height-rule: exactly;display: block;margin-top: 0;margin-bottom: 0;clear: both;"}
                                          %img{:alt => "", :height => "32", :src => "images/android-checkmark.png", :style => "outline: none;border: 0;text-decoration: none;-ms-interpolation-mode: bicubic;clear: both;line-height: 100%;max-width: 32px;width: 100% !important;height: auto !important;display: block;margin-left: auto;margin-right: auto;", :width => "32"}/
                                %h1.mb_xxs{:style => "color: #424242;margin-left: 0;margin-right: 0;margin-top: 20px;margin-bottom: 4px;padding: 0;font-weight: bold;font-size: 32px;line-height: 42px;"} Bedankt voor je bestelling!
                                -# %p.lead{:style => "font-family: Helvetica, Arial, sans-serif;font-size: 19px;line-height: 27px;color: #b7b2c1;mso-line-height-rule: exactly;display: block;margin-top: 0;margin-bottom: 16px;"} Ouch gorilla until inconspicuously due much whooped
                      /[if (mso)|(IE)] </td></tr></tbody></table>
          /[if (mso)|(IE)] </td></tr></tbody></table>
  / invoice_intro_alt
  %table.email_table{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "box-sizing: border-box;border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;width: 100%;min-width: 100%;", :width => "100%"}
    %tbody
      %tr
        %td.email_body.tc{:style => "box-sizing: border-box;vertical-align: top;line-height: 100%;text-align: center;padding-left: 16px;padding-right: 16px;background-color: #5777ab;font-size: 0 !important;"}
          /[if (mso)|(IE)] <table width="632" border="0" cellspacing="0" cellpadding="0" align="center" style="vertical-align:top;width:632px;Margin:0 auto;"><tbody><tr><td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;">
          .email_container{:style => "box-sizing: border-box;font-size: 0;display: inline-block;width: 100%;vertical-align: top;max-width: 632px;margin: 0 auto;text-align: center;line-height: inherit;min-width: 0 !important;"}
            %table.content_section{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "box-sizing: border-box;border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;width: 100%;min-width: 100%;", :width => "100%"}
              %tbody
                %tr
                  %td.content_cell.active_b{:style => "box-sizing: border-box;vertical-align: top;width: 100%;background-color: #f24853;font-size: 0;text-align: center;padding-left: 16px;padding-right: 16px;line-height: inherit;min-width: 0 !important;"}
                    / col-2-4
                    .email_row{:style => "box-sizing: border-box;font-size: 0;display: block;width: 100%;vertical-align: top;margin: 0 auto;text-align: center;clear: both;line-height: inherit;min-width: 0 !important;max-width: 600px !important;"}
                      /[if (mso)|(IE)] <table width="600" border="0" cellspacing="0" cellpadding="0" align="center" style="vertical-align:top;width:600px;Margin:0 auto;"><tbody><tr><td width="400" style="width:400px;line-height:0px;font-size:0px;mso-line-height-rule:exactly;">
                      .col_4{:style => "box-sizing: border-box;font-size: 0;display: inline-block;width: 100%;vertical-align: top;max-width: 400px;line-height: inherit;min-width: 0 !important;"}
                        %table.column{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "box-sizing: border-box;border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;width: 100%;min-width: 100%;", :width => "100%"}
                          %tbody
                            %tr
                              %td.column_cell.px.tl.sc{:style => "box-sizing: border-box;vertical-align: top;width: 100%;min-width: 100%;padding-top: 16px;padding-bottom: 16px;font-family: Helvetica, Arial, sans-serif;font-size: 16px;line-height: 23px;color: #ffffff;mso-line-height-rule: exactly;text-align: center;padding-left: 16px;padding-right: 16px;"}
                                %h1.mt_0.mb_0{:style => "color: #ffffff;margin-left: 0;margin-right: 0;margin-top: 0;margin-bottom: 0;padding: 0;font-weight: bold;font-size: 32px;line-height: 42px;"}
                                  = "#" + @details[:order_number]
                                -# %p.mb_0{:style => "font-family: Helvetica, Arial, sans-serif;font-size: 16px;line-height: 23px;color: #ffffff;mso-line-height-rule: exactly;display: block;margin-top: 0;margin-bottom: 0;"} Event Planning Website Relaunch
                      /[if (mso)|(IE)] </td><td width="200" style="width:200px;line-height:0px;font-size:0px;mso-line-height-rule:exactly;">
                      -# .col_2{:style => "box-sizing: border-box;font-size: 0;display: inline-block;width: 100%;vertical-align: top;max-width: 200px;line-height: inherit;min-width: 0 !important;"}
                      -#   %table.column{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "box-sizing: border-box;border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;width: 100%;min-width: 100%;", :width => "100%"}
                      -#     %tbody
                      -#       %tr
                      -#         %td.column_cell.px.pt.hdr_menu.sc.tc{:style => "box-sizing: border-box;vertical-align: top;width: 100%;min-width: 100%;padding-top: 16px;padding-bottom: 16px;font-family: Helvetica, Arial, sans-serif;font-size: 16px;line-height: 23px;color: #ffffff;mso-line-height-rule: exactly;text-align: center;padding-left: 16px;padding-right: 16px;"}
                      -#           %h2.mt_xs.mb_0{:style => "color: #ffffff;margin-left: 0;margin-right: 0;margin-top: 8px;margin-bottom: 0;padding: 0;font-weight: bold;font-size: 26px;line-height: 36px;"} Overzicht
                                -# %p.small{:style => "font-family: Helvetica, Arial, sans-serif;font-size: 14px;line-height: 100%;color: #ffffff;mso-line-height-rule: exactly;display: block;margin-top: 0;margin-bottom: 16px;"}
                                  -# %strong Total Due
                      /[if (mso)|(IE)] </td></tr></tbody></table>
          /[if (mso)|(IE)] </td></tr></tbody></table>
  / order_address_plain -
  %table.email_table{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "box-sizing: border-box;border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;width: 100%;min-width: 100%;", :width => "100%"}
    %tbody
      %tr
        %td.email_body.tc{:style => "box-sizing: border-box;vertical-align: top;line-height: 100%;text-align: center;padding-left: 16px;padding-right: 16px;background-color: #5777ab;font-size: 0 !important;"}
          /[if (mso)|(IE)] <table width="632" border="0" cellspacing="0" cellpadding="0" align="center" style="vertical-align:top;width:632px;Margin:0 auto;"><tbody><tr><td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;">
          .email_container{:style => "box-sizing: border-box;font-size: 0;display: inline-block;width: 100%;vertical-align: top;max-width: 632px;margin: 0 auto;text-align: center;line-height: inherit;min-width: 0 !important;"}
            %table.content_section{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "box-sizing: border-box;border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;width: 100%;min-width: 100%;", :width => "100%"}
              %tbody
                %tr
                  %td.content_cell.tc{:style => "box-sizing: border-box;vertical-align: top;width: 100%;background-color: #ffffff;font-size: 0;text-align: center;padding-left: 16px;padding-right: 16px;line-height: inherit;min-width: 0 !important;"}
                    / col-3x2
                    .email_row{:style => "box-sizing: border-box;font-size: 0;display: block;width: 100%;vertical-align: top;margin: 0 auto;text-align: center;clear: both;line-height: inherit;min-width: 0 !important;max-width: 600px !important;"}
                      /[if (mso)|(IE)] <table width="600" border="0" cellspacing="0" cellpadding="0" align="center" style="vertical-align:top;width:600px;Margin:0 auto;"><tbody><tr><td width="300" style="width:300px;line-height:0px;font-size:0px;mso-line-height-rule:exactly;">
                      .col_3{:style => "box-sizing: border-box;font-size: 0;display: inline-block;width: 100%;vertical-align: top;max-width: 300px;line-height: inherit;min-width: 0 !important;"}
                        %table.column{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "box-sizing: border-box;border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;width: 100%;min-width: 100%;", :width => "100%"}
                          %tbody
                            %tr
                              %td.column_cell.px.tl{:style => "box-sizing: border-box;vertical-align: top;width: 100%;min-width: 100%;padding-top: 16px;padding-bottom: 16px;font-family: Helvetica, Arial, sans-serif;font-size: 16px;line-height: 23px;color: #616161;mso-line-height-rule: exactly;text-align: left;padding-left: 16px;padding-right: 16px;"}
                                %h6{:style => "color: #424242;margin-left: 0;margin-right: 0;margin-top: 20px;margin-bottom: 8px;padding: 0;font-weight: bold;font-size: 13px;line-height: 20px;"} Factuuradres
                                %p.small{:style => "font-family: Helvetica, Arial, sans-serif;font-size: 14px;line-height: 20px;color: #616161;mso-line-height-rule: exactly;display: block;margin-top: 0;margin-bottom: 16px;"}
                                  = @details[:address]
                                  = @details[:address_addition]
                                  %br/
                                  = @details[:zip_code]
                                  %br/
                                  = @details[:city]
                      - if @details[:address_ship]
                        /[if (mso)|(IE)] </td><td width="300" style="width:300px;line-height:0px;font-size:0px;mso-line-height-rule:exactly;">
                        .col_3{:style => "box-sizing: border-box;font-size: 0;display: inline-block;width: 100%;vertical-align: top;max-width: 300px;line-height: inherit;min-width: 0 !important;"}
                          %table.column{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "box-sizing: border-box;border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;width: 100%;min-width: 100%;", :width => "100%"}
                            %tbody
                              %tr
                                %td.column_cell.px.tl{:style => "box-sizing: border-box;vertical-align: top;width: 100%;min-width: 100%;padding-top: 16px;padding-bottom: 16px;font-family: Helvetica, Arial, sans-serif;font-size: 16px;line-height: 23px;color: #616161;mso-line-height-rule: exactly;text-align: left;padding-left: 16px;padding-right: 16px;"}
                                  %h6{:style => "color: #424242;margin-left: 0;margin-right: 0;margin-top: 20px;margin-bottom: 8px;padding: 0;font-weight: bold;font-size: 13px;line-height: 20px;"} Verzendadres
                                  %p.small{:style => "font-family: Helvetica, Arial, sans-serif;font-size: 14px;line-height: 20px;color: #616161;mso-line-height-rule: exactly;display: block;margin-top: 0;margin-bottom: 16px;"}
                                    = @details[:address_ship]
                                    = @details[:address_addition_ship]
                                    %br/
                                    = @details[:zip_code_ship]
                                    %br/
                                    = @details[:city_ship]
                      /[if (mso)|(IE)] </td></tr></tbody></table>
          /[if (mso)|(IE)] </td></tr></tbody></table>
  / invoice_header
  %table.email_table.hide{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "box-sizing: border-box;border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;width: 100%;min-width: 100%;", :width => "100%"}
    %tbody
      %tr
        %td.email_body.tc{:style => "box-sizing: border-box;vertical-align: top;line-height: 100%;text-align: center;padding-left: 16px;padding-right: 16px;background-color: #5777ab;font-size: 0 !important;"}
          /[if (mso)|(IE)] <table width="632" border="0" cellspacing="0" cellpadding="0" align="center" style="vertical-align:top;width:632px;Margin:0 auto;"><tbody><tr><td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;">
          .email_container{:style => "box-sizing: border-box;font-size: 0;display: inline-block;width: 100%;vertical-align: top;max-width: 632px;margin: 0 auto;text-align: center;line-height: inherit;min-width: 0 !important;"}
            %table.content_section{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "box-sizing: border-box;border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;width: 100%;min-width: 100%;", :width => "100%"}
              %tbody
                %tr
                  %td.content_cell.pb{:style => "box-sizing: border-box;vertical-align: top;width: 100%;background-color: #ffffff;font-size: 0;text-align: center;padding-left: 16px;padding-right: 16px;padding-bottom: 16px;line-height: inherit;min-width: 0 !important;"}
                    / col-6
                    .email_row.tl{:style => "box-sizing: border-box;font-size: 0;display: block;width: 100%;vertical-align: top;margin: 0 auto;text-align: left;clear: both;line-height: inherit;min-width: 0 !important;max-width: 600px !important;"}
                      /[if (mso)|(IE)] <table width="600" border="0" cellspacing="0" cellpadding="0" align="center" style="vertical-align:top;width:600px;Margin:0 auto 0 0;"><tbody><tr><td width="400" style="width:400px;line-height:0px;font-size:0px;mso-line-height-rule:exactly;">
                      .col_4{:style => "box-sizing: border-box;font-size: 0;display: inline-block;width: 100%;vertical-align: top;max-width: 400px;line-height: inherit;min-width: 0 !important;"}
                        %table.column{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "box-sizing: border-box;border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;width: 100%;min-width: 100%;", :width => "100%"}
                          %tbody
                            %tr
                              %td.column_cell.px.pt_0.pb_0.tl{:style => "box-sizing: border-box;vertical-align: top;width: 100%;min-width: 100%;padding-top: 0;padding-bottom: 0;font-family: Helvetica, Arial, sans-serif;font-size: 16px;line-height: 23px;color: #616161;mso-line-height-rule: exactly;text-align: left;padding-left: 16px;padding-right: 16px;"}
                                %p.small.mb_0.tm{:style => "font-family: Helvetica, Arial, sans-serif;font-size: 14px;line-height: 20px;color: #b7b2c1;mso-line-height-rule: exactly;display: block;margin-top: 0;margin-bottom: 0;"} Product
                      /[if (mso)|(IE)] </td><td width="100" style="width:100px;line-height:0px;font-size:0px;mso-line-height-rule:exactly;">
                      .col_1{:style => "box-sizing: border-box;font-size: 0;display: inline-block;width: 100%;vertical-align: top;max-width: 100px;line-height: inherit;min-width: 0 !important;"}
                        %table.column{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "box-sizing: border-box;border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;width: 100%;min-width: 100%;", :width => "100%"}
                          %tbody
                            %tr
                              %td.column_cell.px.pt_0.pb_0.tc{:style => "box-sizing: border-box;vertical-align: top;width: 100%;min-width: 100%;padding-top: 0;padding-bottom: 0;font-family: Helvetica, Arial, sans-serif;font-size: 16px;line-height: 23px;color: #616161;mso-line-height-rule: exactly;text-align: center;padding-left: 16px;padding-right: 16px;"}
                                -# %p.small.mb_0.tm{:style => "font-family: Helvetica, Arial, sans-serif;font-size: 14px;line-height: 20px;color: #b7b2c1;mso-line-height-rule: exactly;display: block;margin-top: 0;margin-bottom: 0;"} Qty
                      /[if (mso)|(IE)] </td><td width="100" style="width:100px;line-height:0px;font-size:0px;mso-line-height-rule:exactly;">
                      .col_1{:style => "box-sizing: border-box;font-size: 0;display: inline-block;width: 100%;vertical-align: top;max-width: 100px;line-height: inherit;min-width: 0 !important;"}
                        %table.column{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "box-sizing: border-box;border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;width: 100%;min-width: 100%;", :width => "100%"}
                          %tbody
                            %tr
                              %td.column_cell.px.pt_0.pb_0.tl{:style => "box-sizing: border-box;vertical-align: top;width: 100%;min-width: 100%;padding-top: 0;padding-bottom: 0;font-family: Helvetica, Arial, sans-serif;font-size: 16px;line-height: 23px;color: #616161;mso-line-height-rule: exactly;text-align: left;padding-left: 16px;padding-right: 16px;"}
                                -# %p.small.mb_0.tm.tr{:style => "font-family: Helvetica, Arial, sans-serif;font-size: 14px;line-height: 20px;color: #b7b2c1;mso-line-height-rule: exactly;display: block;margin-top: 0;margin-bottom: 0;text-align: right;"} Price
                      /[if (mso)|(IE)] </td></tr></tbody></table>
          /[if (mso)|(IE)] </td></tr></tbody></table>
  / invoice_row
  %table.email_table{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "box-sizing: border-box;border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;width: 100%;min-width: 100%;", :width => "100%"}
    %tbody
      %tr
        %td.email_body.tc{:style => "box-sizing: border-box;vertical-align: top;line-height: 100%;text-align: center;padding-left: 16px;padding-right: 16px;background-color: #5777ab;font-size: 0 !important;"}
          /[if (mso)|(IE)] <table width="632" border="0" cellspacing="0" cellpadding="0" align="center" style="vertical-align:top;width:632px;Margin:0 auto;"><tbody><tr><td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;">
          .email_container{:style => "box-sizing: border-box;font-size: 0;display: inline-block;width: 100%;vertical-align: top;max-width: 632px;margin: 0 auto;text-align: center;line-height: inherit;min-width: 0 !important;"}
            %table.content_section{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "box-sizing: border-box;border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;width: 100%;min-width: 100%;", :width => "100%"}
              %tbody
                %tr
                  %td.content_cell.pb{:style => "box-sizing: border-box;vertical-align: top;width: 100%;background-color: #ffffff;font-size: 0;text-align: center;padding-left: 16px;padding-right: 16px;padding-bottom: 16px;line-height: inherit;min-width: 0 !important;"}
                    %table.hr_rl{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "box-sizing: border-box;border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;font-size: 0;line-height: 1px;mso-line-height-rule: exactly;min-height: 1px;overflow: hidden;height: 2px;background-color: transparent !important;", :width => "100%"}
                      %tbody
                        %tr
                          %td.hr_ep.pb.bt{:style => "box-sizing: border-box;vertical-align: top;font-size: 0;line-height: inherit;mso-line-height-rule: exactly;min-height: 1px;overflow: hidden;height: 2px;padding-bottom: 16px;border-top: 1px solid #dad6e2;background-color: transparent !important;"}  
                    / col-6
                    .email_row.tl{:style => "box-sizing: border-box;font-size: 0;display: block;width: 100%;vertical-align: top;margin: 0 auto;text-align: left;clear: both;line-height: inherit;min-width: 0 !important;max-width: 600px !important;"}
                      /[if (mso)|(IE)] <table width="600" border="0" cellspacing="0" cellpadding="0" align="center" style="vertical-align:top;width:600px;Margin:0 auto;"><tbody><tr><td width="400" style="width:400px;line-height:0px;font-size:0px;mso-line-height-rule:exactly;">
                      .col_4{:style => "box-sizing: border-box;font-size: 0;display: inline-block;width: 100%;vertical-align: top;max-width: 400px;line-height: inherit;min-width: 0 !important;"}
                        %table.column{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "box-sizing: border-box;border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;width: 100%;min-width: 100%;", :width => "100%"}
                          %tbody
                            %tr
                              %td.column_cell.px.pt_0.pb_0{:style => "box-sizing: border-box;vertical-align: top;width: 100%;min-width: 100%;padding-top: 0;padding-bottom: 0;font-family: Helvetica, Arial, sans-serif;font-size: 16px;line-height: 23px;color: #616161;mso-line-height-rule: exactly;padding-left: 16px;padding-right: 16px;"}
                                %h5.mt_0.mb_xxs{:style => "color: #424242;margin-left: 0;margin-right: 0;margin-top: 0;margin-bottom: 4px;padding: 0;font-weight: bold;font-size: 16px;line-height: 21px;"}
                                  = @details[:mattress]
                                -# %p.small.tm.mb_0{:style => "font-family: Helvetica, Arial, sans-serif;font-size: 14px;line-height: 20px;color: #b7b2c1;mso-line-height-rule: exactly;display: block;margin-top: 0;margin-bottom: 0;"} Heated that oh dry inaudibly much the as and under wolverine
                      /[if (mso)|(IE)] </td><td width="100" style="width:100px;line-height:0px;font-size:0px;mso-line-height-rule:exactly;">
                      .col_1{:style => "box-sizing: border-box;font-size: 0;display: inline-block;width: 100%;vertical-align: top;max-width: 100px;line-height: inherit;min-width: 0 !important;"}
                        %table.column{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "box-sizing: border-box;border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;width: 100%;min-width: 100%;", :width => "100%"}
                          %tbody
                            %tr
                              %td.column_cell.px.pt_0.pb_0.tc.invoice_qty{:style => "box-sizing: border-box;vertical-align: top;width: 100%;min-width: 100%;padding-top: 0;padding-bottom: 0;font-family: Helvetica, Arial, sans-serif;font-size: 16px;line-height: 23px;color: #616161;mso-line-height-rule: exactly;text-align: center;padding-left: 16px;padding-right: 16px;"}
                                -# %p.small.mb_0{:style => "font-family: Helvetica, Arial, sans-serif;font-size: 14px;line-height: 20px;color: #616161;mso-line-height-rule: exactly;display: block;margin-top: 0;margin-bottom: 0;"} 1
                      /[if (mso)|(IE)] </td><td width="100" style="width:100px;line-height:0px;font-size:0px;mso-line-height-rule:exactly;">
                      .col_1{:style => "box-sizing: border-box;font-size: 0;display: inline-block;width: 100%;vertical-align: top;max-width: 100px;line-height: inherit;min-width: 0 !important;"}
                        %table.column{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "box-sizing: border-box;border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;width: 100%;min-width: 100%;", :width => "100%"}
                          %tbody
                            %tr
                              %td.column_cell.px.pt_0.pb_0.tr.invoice_price{:style => "box-sizing: border-box;vertical-align: top;width: 100%;min-width: 100%;padding-top: 0;padding-bottom: 0;font-family: Helvetica, Arial, sans-serif;font-size: 16px;line-height: 23px;color: #616161;mso-line-height-rule: exactly;text-align: right;padding-left: 16px;padding-right: 16px;"}
                                -# %p.mb_0{:style => "font-family: Helvetica, Arial, sans-serif;font-size: 16px;line-height: 23px;color: #616161;mso-line-height-rule: exactly;display: block;margin-top: 0;margin-bottom: 0;"} $1,000
                      /[if (mso)|(IE)] </td></tr></tbody></table>
          /[if (mso)|(IE)] </td></tr></tbody></table>
  / invoice_row
  %table.email_table{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "box-sizing: border-box;border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;width: 100%;min-width: 100%;", :width => "100%"}
    %tbody
      %tr
        %td.email_body.tc{:style => "box-sizing: border-box;vertical-align: top;line-height: 100%;text-align: center;padding-left: 16px;padding-right: 16px;background-color: #5777ab;font-size: 0 !important;"}
          /[if (mso)|(IE)] <table width="632" border="0" cellspacing="0" cellpadding="0" align="center" style="vertical-align:top;width:632px;Margin:0 auto;"><tbody><tr><td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;">
          .email_container{:style => "box-sizing: border-box;font-size: 0;display: inline-block;width: 100%;vertical-align: top;max-width: 632px;margin: 0 auto;text-align: center;line-height: inherit;min-width: 0 !important;"}
            %table.content_section{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "box-sizing: border-box;border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;width: 100%;min-width: 100%;", :width => "100%"}
              %tbody
                %tr
                  %td.content_cell.pb{:style => "box-sizing: border-box;vertical-align: top;width: 100%;background-color: #ffffff;font-size: 0;text-align: center;padding-left: 16px;padding-right: 16px;padding-bottom: 16px;line-height: inherit;min-width: 0 !important;"}
                    %table.hr_rl{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "box-sizing: border-box;border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;font-size: 0;line-height: 1px;mso-line-height-rule: exactly;min-height: 1px;overflow: hidden;height: 2px;background-color: transparent !important;", :width => "100%"}
                      %tbody
                        %tr
                          %td.hr_ep.pb.bt{:style => "box-sizing: border-box;vertical-align: top;font-size: 0;line-height: inherit;mso-line-height-rule: exactly;min-height: 1px;overflow: hidden;height: 2px;padding-bottom: 16px;border-top: 1px solid #dad6e2;background-color: transparent !important;"}  
                    / col-6
                    .email_row.tl{:style => "box-sizing: border-box;font-size: 0;display: block;width: 100%;vertical-align: top;margin: 0 auto;text-align: left;clear: both;line-height: inherit;min-width: 0 !important;max-width: 600px !important;"}
                      /[if (mso)|(IE)] <table width="600" border="0" cellspacing="0" cellpadding="0" align="center" style="vertical-align:top;width:600px;Margin:0 auto;"><tbody><tr><td width="400" style="width:400px;line-height:0px;font-size:0px;mso-line-height-rule:exactly;">
                      .col_4{:style => "box-sizing: border-box;font-size: 0;display: inline-block;width: 100%;vertical-align: top;max-width: 400px;line-height: inherit;min-width: 0 !important;"}
                        %table.column{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "box-sizing: border-box;border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;width: 100%;min-width: 100%;", :width => "100%"}
                          %tbody
                            %tr
                              %td.column_cell.px.pt_0.pb_0{:style => "box-sizing: border-box;vertical-align: top;width: 100%;min-width: 100%;padding-top: 0;padding-bottom: 0;font-family: Helvetica, Arial, sans-serif;font-size: 16px;line-height: 23px;color: #616161;mso-line-height-rule: exactly;padding-left: 16px;padding-right: 16px;"}
                                %h5.mt_0.mb_xxs{:style => "color: #424242;margin-left: 0;margin-right: 0;margin-top: 0;margin-bottom: 4px;padding: 0;font-weight: bold;font-size: 16px;line-height: 21px;"}
                                  = @details[:topper]
                                -# %p.small.tm.mb_0{:style => "font-family: Helvetica, Arial, sans-serif;font-size: 14px;line-height: 20px;color: #b7b2c1;mso-line-height-rule: exactly;display: block;margin-top: 0;margin-bottom: 0;"} Curtsied more fitted labrador poignantly wherever and opposite
                      /[if (mso)|(IE)] </td><td width="100" style="width:100px;line-height:0px;font-size:0px;mso-line-height-rule:exactly;">
                      .col_1{:style => "box-sizing: border-box;font-size: 0;display: inline-block;width: 100%;vertical-align: top;max-width: 100px;line-height: inherit;min-width: 0 !important;"}
                        %table.column{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "box-sizing: border-box;border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;width: 100%;min-width: 100%;", :width => "100%"}
                          %tbody
                            %tr
                              %td.column_cell.px.pt_0.pb_0.tc.invoice_qty{:style => "box-sizing: border-box;vertical-align: top;width: 100%;min-width: 100%;padding-top: 0;padding-bottom: 0;font-family: Helvetica, Arial, sans-serif;font-size: 16px;line-height: 23px;color: #616161;mso-line-height-rule: exactly;text-align: center;padding-left: 16px;padding-right: 16px;"}
                                -# %p.small.mb_0{:style => "font-family: Helvetica, Arial, sans-serif;font-size: 14px;line-height: 20px;color: #616161;mso-line-height-rule: exactly;display: block;margin-top: 0;margin-bottom: 0;"} 2
                      /[if (mso)|(IE)] </td><td width="100" style="width:100px;line-height:0px;font-size:0px;mso-line-height-rule:exactly;">
                      .col_1{:style => "box-sizing: border-box;font-size: 0;display: inline-block;width: 100%;vertical-align: top;max-width: 100px;line-height: inherit;min-width: 0 !important;"}
                        %table.column{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "box-sizing: border-box;border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;width: 100%;min-width: 100%;", :width => "100%"}
                          %tbody
                            %tr
                              %td.column_cell.px.pt_0.pb_0.tr.invoice_price{:style => "box-sizing: border-box;vertical-align: top;width: 100%;min-width: 100%;padding-top: 0;padding-bottom: 0;font-family: Helvetica, Arial, sans-serif;font-size: 16px;line-height: 23px;color: #616161;mso-line-height-rule: exactly;text-align: right;padding-left: 16px;padding-right: 16px;"}
                                -# %p.mb_0{:style => "font-family: Helvetica, Arial, sans-serif;font-size: 16px;line-height: 23px;color: #616161;mso-line-height-rule: exactly;display: block;margin-top: 0;margin-bottom: 0;"} $870
                      /[if (mso)|(IE)] </td></tr></tbody></table>
          /[if (mso)|(IE)] </td></tr></tbody></table>
  / invoice_row
  %table.email_table{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "box-sizing: border-box;border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;width: 100%;min-width: 100%;", :width => "100%"}
    %tbody
      %tr
        %td.email_body.tc{:style => "box-sizing: border-box;vertical-align: top;line-height: 100%;text-align: center;padding-left: 16px;padding-right: 16px;background-color: #5777ab;font-size: 0 !important;"}
          /[if (mso)|(IE)] <table width="632" border="0" cellspacing="0" cellpadding="0" align="center" style="vertical-align:top;width:632px;Margin:0 auto;"><tbody><tr><td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;">
          .email_container{:style => "box-sizing: border-box;font-size: 0;display: inline-block;width: 100%;vertical-align: top;max-width: 632px;margin: 0 auto;text-align: center;line-height: inherit;min-width: 0 !important;"}
            %table.content_section{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "box-sizing: border-box;border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;width: 100%;min-width: 100%;", :width => "100%"}
              %tbody
                %tr
                  %td.content_cell.pb{:style => "box-sizing: border-box;vertical-align: top;width: 100%;background-color: #ffffff;font-size: 0;text-align: center;padding-left: 16px;padding-right: 16px;padding-bottom: 16px;line-height: inherit;min-width: 0 !important;"}
                    %table.hr_rl{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "box-sizing: border-box;border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;font-size: 0;line-height: 1px;mso-line-height-rule: exactly;min-height: 1px;overflow: hidden;height: 2px;background-color: transparent !important;", :width => "100%"}
                      %tbody
                        %tr
                          %td.hr_ep.pb.bt{:style => "box-sizing: border-box;vertical-align: top;font-size: 0;line-height: inherit;mso-line-height-rule: exactly;min-height: 1px;overflow: hidden;height: 2px;padding-bottom: 16px;border-top: 1px solid #dad6e2;background-color: transparent !important;"}  
                    / col-6
                    .email_row.tl{:style => "box-sizing: border-box;font-size: 0;display: block;width: 100%;vertical-align: top;margin: 0 auto;text-align: left;clear: both;line-height: inherit;min-width: 0 !important;max-width: 600px !important;"}
                      /[if (mso)|(IE)] <table width="600" border="0" cellspacing="0" cellpadding="0" align="center" style="vertical-align:top;width:600px;Margin:0 auto;"><tbody><tr><td width="400" style="width:400px;line-height:0px;font-size:0px;mso-line-height-rule:exactly;">
                      .col_4{:style => "box-sizing: border-box;font-size: 0;display: inline-block;width: 100%;vertical-align: top;max-width: 400px;line-height: inherit;min-width: 0 !important;"}
                        %table.column{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "box-sizing: border-box;border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;width: 100%;min-width: 100%;", :width => "100%"}
                          %tbody
                            %tr
                              %td.column_cell.px.pt_0.pb_0{:style => "box-sizing: border-box;vertical-align: top;width: 100%;min-width: 100%;padding-top: 0;padding-bottom: 0;font-family: Helvetica, Arial, sans-serif;font-size: 16px;line-height: 23px;color: #616161;mso-line-height-rule: exactly;padding-left: 16px;padding-right: 16px;"}
                                %h5.mt_0.mb_xxs{:style => "color: #424242;margin-left: 0;margin-right: 0;margin-top: 0;margin-bottom: 4px;padding: 0;font-weight: bold;font-size: 16px;line-height: 21px;"}
                                  = @details[:mattress2]
                                -# %p.small.tm.mb_0{:style => "font-family: Helvetica, Arial, sans-serif;font-size: 14px;line-height: 20px;color: #b7b2c1;mso-line-height-rule: exactly;display: block;margin-top: 0;margin-bottom: 0;"} Heated that oh dry inaudibly much the as and under wolverine
                      /[if (mso)|(IE)] </td><td width="100" style="width:100px;line-height:0px;font-size:0px;mso-line-height-rule:exactly;">
                      .col_1{:style => "box-sizing: border-box;font-size: 0;display: inline-block;width: 100%;vertical-align: top;max-width: 100px;line-height: inherit;min-width: 0 !important;"}
                        %table.column{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "box-sizing: border-box;border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;width: 100%;min-width: 100%;", :width => "100%"}
                          %tbody
                            %tr
                              %td.column_cell.px.pt_0.pb_0.tc.invoice_qty{:style => "box-sizing: border-box;vertical-align: top;width: 100%;min-width: 100%;padding-top: 0;padding-bottom: 0;font-family: Helvetica, Arial, sans-serif;font-size: 16px;line-height: 23px;color: #616161;mso-line-height-rule: exactly;text-align: center;padding-left: 16px;padding-right: 16px;"}
                                -# %p.small.mb_0{:style => "font-family: Helvetica, Arial, sans-serif;font-size: 14px;line-height: 20px;color: #616161;mso-line-height-rule: exactly;display: block;margin-top: 0;margin-bottom: 0;"} 1
                      /[if (mso)|(IE)] </td><td width="100" style="width:100px;line-height:0px;font-size:0px;mso-line-height-rule:exactly;">
                      .col_1{:style => "box-sizing: border-box;font-size: 0;display: inline-block;width: 100%;vertical-align: top;max-width: 100px;line-height: inherit;min-width: 0 !important;"}
                        %table.column{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "box-sizing: border-box;border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;width: 100%;min-width: 100%;", :width => "100%"}
                          %tbody
                            %tr
                              %td.column_cell.px.pt_0.pb_0.tr.invoice_price{:style => "box-sizing: border-box;vertical-align: top;width: 100%;min-width: 100%;padding-top: 0;padding-bottom: 0;font-family: Helvetica, Arial, sans-serif;font-size: 16px;line-height: 23px;color: #616161;mso-line-height-rule: exactly;text-align: right;padding-left: 16px;padding-right: 16px;"}
                                -# %p.mb_0{:style => "font-family: Helvetica, Arial, sans-serif;font-size: 16px;line-height: 23px;color: #616161;mso-line-height-rule: exactly;display: block;margin-top: 0;margin-bottom: 0;"} $2,180
                      /[if (mso)|(IE)] </td></tr></tbody></table>
          /[if (mso)|(IE)] </td></tr></tbody></table>
  / invoice_row
  %table.email_table{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "box-sizing: border-box;border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;width: 100%;min-width: 100%;", :width => "100%"}
    %tbody
      %tr
        %td.email_body.tc{:style => "box-sizing: border-box;vertical-align: top;line-height: 100%;text-align: center;padding-left: 16px;padding-right: 16px;background-color: #5777ab;font-size: 0 !important;"}
          /[if (mso)|(IE)] <table width="632" border="0" cellspacing="0" cellpadding="0" align="center" style="vertical-align:top;width:632px;Margin:0 auto;"><tbody><tr><td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;">
          .email_container{:style => "box-sizing: border-box;font-size: 0;display: inline-block;width: 100%;vertical-align: top;max-width: 632px;margin: 0 auto;text-align: center;line-height: inherit;min-width: 0 !important;"}
            %table.content_section{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "box-sizing: border-box;border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;width: 100%;min-width: 100%;", :width => "100%"}
              %tbody
                %tr
                  %td.content_cell.pb{:style => "box-sizing: border-box;vertical-align: top;width: 100%;background-color: #ffffff;font-size: 0;text-align: center;padding-left: 16px;padding-right: 16px;padding-bottom: 16px;line-height: inherit;min-width: 0 !important;"}
                    %table.hr_rl{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "box-sizing: border-box;border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;font-size: 0;line-height: 1px;mso-line-height-rule: exactly;min-height: 1px;overflow: hidden;height: 2px;background-color: transparent !important;", :width => "100%"}
                      %tbody
                        %tr
                          %td.hr_ep.pb.bt{:style => "box-sizing: border-box;vertical-align: top;font-size: 0;line-height: inherit;mso-line-height-rule: exactly;min-height: 1px;overflow: hidden;height: 2px;padding-bottom: 16px;border-top: 1px solid #dad6e2;background-color: transparent !important;"}  
                    / col-6
                    .email_row.tl{:style => "box-sizing: border-box;font-size: 0;display: block;width: 100%;vertical-align: top;margin: 0 auto;text-align: left;clear: both;line-height: inherit;min-width: 0 !important;max-width: 600px !important;"}
                      /[if (mso)|(IE)] <table width="600" border="0" cellspacing="0" cellpadding="0" align="center" style="vertical-align:top;width:600px;Margin:0 auto;"><tbody><tr><td width="400" style="width:400px;line-height:0px;font-size:0px;mso-line-height-rule:exactly;">
                      .col_4{:style => "box-sizing: border-box;font-size: 0;display: inline-block;width: 100%;vertical-align: top;max-width: 400px;line-height: inherit;min-width: 0 !important;"}
                        %table.column{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "box-sizing: border-box;border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;width: 100%;min-width: 100%;", :width => "100%"}
                          %tbody
                            %tr
                              %td.column_cell.px.pt_0.pb_0{:style => "box-sizing: border-box;vertical-align: top;width: 100%;min-width: 100%;padding-top: 0;padding-bottom: 0;font-family: Helvetica, Arial, sans-serif;font-size: 16px;line-height: 23px;color: #616161;mso-line-height-rule: exactly;padding-left: 16px;padding-right: 16px;"}
                                %h5.mt_0.mb_xxs{:style => "color: #424242;margin-left: 0;margin-right: 0;margin-top: 0;margin-bottom: 4px;padding: 0;font-weight: bold;font-size: 16px;line-height: 21px;"}
                                  = @details[:topper2]
                                -# %p.small.tm.mb_0{:style => "font-family: Helvetica, Arial, sans-serif;font-size: 14px;line-height: 20px;color: #b7b2c1;mso-line-height-rule: exactly;display: block;margin-top: 0;margin-bottom: 0;"} Heated that oh dry inaudibly much the as and under wolverine
                      /[if (mso)|(IE)] </td><td width="100" style="width:100px;line-height:0px;font-size:0px;mso-line-height-rule:exactly;">
                      .col_1{:style => "box-sizing: border-box;font-size: 0;display: inline-block;width: 100%;vertical-align: top;max-width: 100px;line-height: inherit;min-width: 0 !important;"}
                        %table.column{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "box-sizing: border-box;border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;width: 100%;min-width: 100%;", :width => "100%"}
                          %tbody
                            %tr
                              %td.column_cell.px.pt_0.pb_0.tc.invoice_qty{:style => "box-sizing: border-box;vertical-align: top;width: 100%;min-width: 100%;padding-top: 0;padding-bottom: 0;font-family: Helvetica, Arial, sans-serif;font-size: 16px;line-height: 23px;color: #616161;mso-line-height-rule: exactly;text-align: center;padding-left: 16px;padding-right: 16px;"}
                                -# %p.small.mb_0{:style => "font-family: Helvetica, Arial, sans-serif;font-size: 14px;line-height: 20px;color: #616161;mso-line-height-rule: exactly;display: block;margin-top: 0;margin-bottom: 0;"} 1
                      /[if (mso)|(IE)] </td><td width="100" style="width:100px;line-height:0px;font-size:0px;mso-line-height-rule:exactly;">
                      .col_1{:style => "box-sizing: border-box;font-size: 0;display: inline-block;width: 100%;vertical-align: top;max-width: 100px;line-height: inherit;min-width: 0 !important;"}
                        %table.column{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "box-sizing: border-box;border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;width: 100%;min-width: 100%;", :width => "100%"}
                          %tbody
                            %tr
                              %td.column_cell.px.pt_0.pb_0.tr.invoice_price{:style => "box-sizing: border-box;vertical-align: top;width: 100%;min-width: 100%;padding-top: 0;padding-bottom: 0;font-family: Helvetica, Arial, sans-serif;font-size: 16px;line-height: 23px;color: #616161;mso-line-height-rule: exactly;text-align: right;padding-left: 16px;padding-right: 16px;"}
                                -# %p.mb_0{:style => "font-family: Helvetica, Arial, sans-serif;font-size: 16px;line-height: 23px;color: #616161;mso-line-height-rule: exactly;display: block;margin-top: 0;margin-bottom: 0;"} $2,180
                      /[if (mso)|(IE)] </td></tr></tbody></table>
          /[if (mso)|(IE)] </td></tr></tbody></table>
  / order_total_alt
  %table.email_table{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "box-sizing: border-box;border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;width: 100%;min-width: 100%;", :width => "100%"}
    %tbody
      %tr
        %td.email_body.tc{:style => "box-sizing: border-box;vertical-align: top;line-height: 100%;text-align: center;padding-left: 16px;padding-right: 16px;background-color: #5777ab;font-size: 0 !important;"}
          /[if (mso)|(IE)] <table width="632" border="0" cellspacing="0" cellpadding="0" align="center" style="vertical-align:top;width:632px;Margin:0 auto;"><tbody><tr><td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;">
          .email_container{:style => "box-sizing: border-box;font-size: 0;display: inline-block;width: 100%;vertical-align: top;max-width: 632px;margin: 0 auto;text-align: center;line-height: inherit;min-width: 0 !important;"}
            %table.content_section{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "box-sizing: border-box;border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;width: 100%;min-width: 100%;", :width => "100%"}
              %tbody
                %tr
                  %td.content_cell.pb{:style => "box-sizing: border-box;vertical-align: top;width: 100%;background-color: #ffffff;font-size: 0;text-align: center;padding-left: 16px;padding-right: 16px;padding-bottom: 16px;line-height: inherit;min-width: 0 !important;"}
                    / col-6
                    .email_row.tr{:style => "box-sizing: border-box;font-size: 0;display: block;width: 100%;vertical-align: top;margin: 0 auto;text-align: right;clear: both;line-height: inherit;min-width: 0 !important;max-width: 600px !important;"}
                      /[if (mso)|(IE)] <table width="600" border="0" cellspacing="0" cellpadding="0" align="center" style="vertical-align:top;width:600px;Margin:0 auto;"><tbody><tr><td width="300" style="width:300px;line-height:0px;font-size:0px;mso-line-height-rule:exactly;"> </td><td width="300" style="width:300px;line-height:0px;font-size:0px;mso-line-height-rule:exactly;">
                      .col_3{:style => "box-sizing: border-box;font-size: 0;display: inline-block;width: 100%;vertical-align: top;max-width: 300px;line-height: inherit;min-width: 0 !important;"}
                        %table.column{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "box-sizing: border-box;border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;width: 100%;min-width: 100%;", :width => "100%"}
                          %tbody
                            %tr
                              %td.column_cell.px.tl{:style => "box-sizing: border-box;vertical-align: top;width: 100%;min-width: 100%;padding-top: 16px;padding-bottom: 16px;font-family: Helvetica, Arial, sans-serif;font-size: 16px;line-height: 23px;color: #616161;mso-line-height-rule: exactly;text-align: left;padding-left: 16px;padding-right: 16px;"}
                                %table.ncard{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "box-sizing: border-box;border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;", :width => "100%"}
                                  - if @details[:payment_method].eql?("50/50")
                                    - @full_price = @details[:price] * 2
                                    - @price_inc_btw = [@full_price.to_s[0..-3], @full_price.to_s[-2..-1]].join(',')
                                  - else
                                    - @price_inc_btw = [@details[:price].to_s[0..-3], @details[:price].to_s[-2..-1]].join(',')
                                  - @price_ex_btw = (@price_inc_btw.to_f / 121) * 100
                                  - @btw_amount = (@price_inc_btw.to_f / 121) * 21
                                  %tbody
                                    %tr
                                      %td.ncard_c.px.pt.light_b{:style => "box-sizing: border-box;vertical-align: top;color: #616161;overflow: hidden;border-radius: 4px;background-color: #efebf7;padding-left: 16px;padding-right: 16px;padding-top: 16px;line-height: inherit;font-family: Helvetica, Arial, sans-serif;"}
                                        %p.mb_xxs.small{:style => "font-family: Helvetica, Arial, sans-serif;font-size: 14px;line-height: 20px;color: #616161;mso-line-height-rule: exactly;display: block;margin-top: 0;margin-bottom: 4px;"}
                                          %span.tm{:style => "color: #b7b2c1;line-height: inherit;"} Exclusief BTW
                                          €
                                          = @price_ex_btw.round(2)
                                        %p.mb_xxs.small{:style => "font-family: Helvetica, Arial, sans-serif;font-size: 14px;line-height: 20px;color: #616161;mso-line-height-rule: exactly;display: block;margin-top: 0;margin-bottom: 4px;"}
                                          %span.tm{:style => "color: #b7b2c1;line-height: inherit;"} BTW (21%)
                                          €
                                          = @btw_amount.round(2)
                                        %p.mb_xxs.small{:style => "font-family: Helvetica, Arial, sans-serif;font-size: 14px;line-height: 20px;color: #616161;mso-line-height-rule: exactly;display: block;margin-top: 0;margin-bottom: 4px;"}
                                          %span.tm{:style => "color: #b7b2c1;line-height: inherit;"} Verzending
                                          %span{style: "color: green;"} Gratis
                                        %table.hr_rl{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "box-sizing: border-box;border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;font-size: 0;line-height: 1px;mso-line-height-rule: exactly;min-height: 1px;overflow: hidden;height: 2px;background-color: transparent !important;", :width => "100%"}
                                          %tbody
                                            %tr
                                              %td.hr_ep.pb{:style => "box-sizing: border-box;vertical-align: top;font-size: 0;line-height: inherit;mso-line-height-rule: exactly;min-height: 1px;overflow: hidden;height: 2px;padding-bottom: 16px;font-family: Helvetica, Arial, sans-serif;background-color: transparent !important;"}  
                                            %tr
                                              %td.hr_ep.pb.bt{:style => "box-sizing: border-box;vertical-align: top;font-size: 0;line-height: inherit;mso-line-height-rule: exactly;min-height: 1px;overflow: hidden;height: 2px;padding-bottom: 16px;border-top: 1px solid #dad6e2;font-family: Helvetica, Arial, sans-serif;background-color: transparent !important;"}  
                                        %p.mt_0.mb{:style => "font-family: Helvetica, Arial, sans-serif;font-size: 16px;line-height: 23px;color: #616161;mso-line-height-rule: exactly;display: block;margin-top: 0;margin-bottom: 16px;"}
                                          %strong Totaal
                                          %span.tp{:style => "color: #f24853;line-height: inherit;"}
                                            €
                                            = @price_inc_btw

                      /[if (mso)|(IE)] </td></tr></tbody></table>
          /[if (mso)|(IE)] </td></tr></tbody></table>
  / content_center
  %table.email_table{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "box-sizing: border-box;border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;width: 100%;min-width: 100%;", :width => "100%"}
    %tbody
      %tr
        %td.email_body.tc{:style => "box-sizing: border-box;vertical-align: top;line-height: 100%;text-align: center;padding-left: 16px;padding-right: 16px;background-color: #5777ab;font-size: 0 !important;"}
          /[if (mso)|(IE)] <table width="632" border="0" cellspacing="0" cellpadding="0" align="center" style="vertical-align:top;width:632px;Margin:0 auto;"><tbody><tr><td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;">
          .email_container{:style => "box-sizing: border-box;font-size: 0;display: inline-block;width: 100%;vertical-align: top;max-width: 632px;margin: 0 auto;text-align: center;line-height: inherit;min-width: 0 !important;"}
            %table.content_section{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "box-sizing: border-box;border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;width: 100%;min-width: 100%;", :width => "100%"}
              %tbody
                %tr
                  %td.content_cell{:style => "box-sizing: border-box;vertical-align: top;width: 100%;background-color: #ffffff;font-size: 0;text-align: center;padding-left: 16px;padding-right: 16px;line-height: inherit;min-width: 0 !important;"}
                    / col-6
                    .email_row.tl{:style => "box-sizing: border-box;font-size: 0;display: block;width: 100%;vertical-align: top;margin: 0 auto;text-align: left;clear: both;line-height: inherit;min-width: 0 !important;max-width: 600px !important;"}
                      /[if (mso)|(IE)] <table width="600" border="0" cellspacing="0" cellpadding="0" align="center" style="vertical-align:top;width:600px;Margin:0 auto 0 0;"><tbody><tr><td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;">
                      .col_6{:style => "box-sizing: border-box;font-size: 0;display: inline-block;width: 100%;vertical-align: top;max-width: 600px;line-height: inherit;min-width: 0 !important;"}
                        %table.column{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "box-sizing: border-box;border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;width: 100%;min-width: 100%;", :width => "100%"}
                          %tbody
                            %tr
                              %td.column_cell.px.tc{:style => "box-sizing: border-box;vertical-align: top;width: 100%;min-width: 100%;padding-top: 16px;padding-bottom: 16px;font-family: Helvetica, Arial, sans-serif;font-size: 16px;line-height: 23px;color: #616161;mso-line-height-rule: exactly;text-align: center;padding-left: 16px;padding-right: 16px;"}
                                %p{:style => "font-family: Helvetica, Arial, sans-serif;font-size: 16px;line-height: 23px;color: #616161;mso-line-height-rule: exactly;display: block;margin-top: 0;margin-bottom: 16px;"}
                                  - if @details[:payment_method].eql?('50/50')
                                    * Dit betreft een 50/50 betaling, het resterende bedrag van
                                    %strong
                                      €
                                      = [@details[:price].to_s[0..-3], @details[:price].to_s[-2..-1]].join(',')
                                    kan aan de deur gepind worden.
                      /[if (mso)|(IE)] </td></tr></tbody></table>
          /[if (mso)|(IE)] </td></tr></tbody></table>
  / spacer-lg
  %table.email_table{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "box-sizing: border-box;border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;width: 100%;min-width: 100%;", :width => "100%"}
    %tbody
      %tr
        %td.email_body.tc{:style => "box-sizing: border-box;vertical-align: top;line-height: 100%;text-align: center;padding-left: 16px;padding-right: 16px;background-color: #5777ab;font-size: 0 !important;"}
          /[if (mso)|(IE)] <table width="632" border="0" cellspacing="0" cellpadding="0" align="center" style="vertical-align:top;width:632px;Margin:0 auto;"><tbody><tr><td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;">
          .email_container{:style => "box-sizing: border-box;font-size: 0;display: inline-block;width: 100%;vertical-align: top;max-width: 632px;margin: 0 auto;text-align: center;line-height: inherit;min-width: 0 !important;"}
            %table.content_section{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "box-sizing: border-box;border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;width: 100%;min-width: 100%;", :width => "100%"}
              %tbody
                %tr
                  %td.content_cell{:style => "box-sizing: border-box;vertical-align: top;width: 100%;background-color: #ffffff;font-size: 0;text-align: center;padding-left: 16px;padding-right: 16px;line-height: inherit;min-width: 0 !important;"}
                    %table.hr_rl{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "box-sizing: border-box;border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;font-size: 0;line-height: 1px;mso-line-height-rule: exactly;min-height: 1px;overflow: hidden;height: 2px;background-color: transparent !important;", :width => "100%"}
                      %tbody
                        %tr
                          %td.hr_ep.pte{:style => "box-sizing: border-box;vertical-align: top;font-size: 0;line-height: inherit;mso-line-height-rule: exactly;min-height: 1px;overflow: hidden;height: 2px;padding-top: 32px;background-color: transparent !important;"}  
          /[if (mso)|(IE)] </td></tr></tbody></table>
  / footer_center
  %table.email_table{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "box-sizing: border-box;border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;width: 100%;min-width: 100%;", :width => "100%"}
    %tbody
      %tr
        %td.email_body.email_end.tc{:style => "box-sizing: border-box;vertical-align: top;line-height: 100%;text-align: center;padding-left: 16px;padding-right: 16px;padding-bottom: 32px;background-color: #5777ab;font-size: 0 !important;"}
          /[if (mso)|(IE)] <table width="632" border="0" cellspacing="0" cellpadding="0" align="center" style="vertical-align:top;width:632px;Margin:0 auto;"><tbody><tr><td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;">
          .email_container{:style => "box-sizing: border-box;font-size: 0;display: inline-block;width: 100%;vertical-align: top;max-width: 632px;margin: 0 auto;text-align: center;line-height: inherit;min-width: 0 !important;"}
            %table.content_section{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "box-sizing: border-box;border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;width: 100%;min-width: 100%;", :width => "100%"}
              %tbody
                %tr
                  %td.content_cell.footer_c.bt.brb.pt.pb{:style => "box-sizing: border-box;vertical-align: top;width: 100%;background-color: #ffffff;font-size: 0;text-align: center;padding-left: 16px;padding-right: 16px;border-radius: 0 0 4px 4px;padding-top: 16px;padding-bottom: 16px;border-top: 1px solid #dad6e2;line-height: inherit;min-width: 0 !important;"}
                    / col-6
                    .email_row{:style => "box-sizing: border-box;font-size: 0;display: block;width: 100%;vertical-align: top;margin: 0 auto;text-align: center;clear: both;line-height: inherit;min-width: 0 !important;max-width: 600px !important;"}
                      /[if (mso)|(IE)] <table width="600" border="0" cellspacing="0" cellpadding="0" align="center" style="vertical-align:top;width:600px;Margin:0 auto;"><tbody><tr><td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;">
                      .col_6{:style => "box-sizing: border-box;font-size: 0;display: inline-block;width: 100%;vertical-align: top;max-width: 600px;line-height: inherit;min-width: 0 !important;"}
                        %table.column{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "box-sizing: border-box;border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;width: 100%;min-width: 100%;", :width => "100%"}
                          %tbody
                            %tr
                              %td.column_cell.px.pt_xs.pb_0.tc{:style => "box-sizing: border-box;vertical-align: top;width: 100%;min-width: 100%;padding-top: 8px;padding-bottom: 0;font-family: Helvetica, Arial, sans-serif;font-size: 16px;line-height: 23px;color: #b7b2c1;mso-line-height-rule: exactly;text-align: center;padding-left: 16px;padding-right: 16px;"}
                                %p.imgr.imgr44.mb_xs{:style => "font-family: Helvetica, Arial, sans-serif;font-size: 0;line-height: 100%;color: #b7b2c1;mso-line-height-rule: exactly;display: block;margin-top: 0;margin-bottom: 8px;clear: both;"}
                                  %a{:href => "#", :style => "text-decoration: underline;line-height: 1;color: #b7b2c1;"}
                                    %img{:alt => "simepleapp", :height => "44", :src => "images/logo_xs_dark.png", :style => "outline: none;border: 0;text-decoration: none;-ms-interpolation-mode: bicubic;clear: both;line-height: 100%;max-width: 44px;margin-left: auto;margin-right: auto;width: 100% !important;height: auto !important;", :width => "44"}/
                                %p.mb_xxs{:style => "font-family: Helvetica, Arial, sans-serif;font-size: 16px;line-height: 23px;color: #b7b2c1;mso-line-height-rule: exactly;display: block;margin-top: 0;margin-bottom: 4px;"}
                                  Essebaan 19A - 2908LJ
                                  %br/
                                  Capelle aan den IJssel
                                  %br/
                                  %a{href: "https://www.tenzen.nl", target: "_blank"} www.tenzen.nl
                      /[if (mso)|(IE)] </td></tr></tbody></table>
          /[if (mso)|(IE)] </td></tr></tbody></table>
