%section#main.container
  #survey_container
    #top-wizard
      %strong
        Voortgang
        %span#location
      #progressbar
      .shadow
    = form_for @mattress, url: bestellen_eenpersoons_post_path do |f|
      #middle-wizard
        .step
          .row
            %h2.col-md-12.text-center Stel jezelf eens voor
            %br/
            .col-md-6
              %ul.data-list
                %h5 Voornaam
                %li= f.text_field :name, class: 'required form-control name_person_1', placeholder: 'Voornaam'
                %h5 Leeftijd
                %li= f.number_field :age, class: 'required form-control', placeholder: 'Leeftijd'
            / end col-md-6
            .col-md-6
              %ul.data-list
                %h5 Gewicht in kilogrammen
                %li= f.number_field :weight, class: 'required form-control', placeholder: 'Gewicht in kg'
                %h5 Lengte in centimeters
                %li= f.number_field :length, class: 'required form-control', placeholder: 'Lengte in cm'
            .col-md-12
              .col-md-2.col-md-offset-2
                %label.label_gender
                  Man
                  = f.radio_button :gender, 'Man', class: 'required check_radio'
              .col-md-2.col-md-offset-4
                %label.label_gender
                  Vrouw
                  = f.radio_button :gender, 'Vrouw', class: 'required check_radio'
            %br/
            %br/
        .step.row
          .col-md-6.col-md-offset-4
            %h3 Hoe slaap je normaal gesproken? *
            %ul.data-list-2
              %li
                %label
                  Rug
                  = f.radio_button :sleep_position, 'Rug', class: 'required check_radio'
              %li
                %label
                  Zij
                  = f.radio_button :sleep_position, 'Zij', class: 'required check_radio'
              %li
                %label
                  Buik
                  = f.radio_button :sleep_position, 'Buik', class: 'required check_radio'
        .step.row
          .col-md-6.col-md-offset-4
            %h3 Heb je weleens nek-of rugklachten? *
            %ul.data-list-2
              %li
                %label
                  Ja, nekklachten en rugklachten
                  = f.radio_button :neck_or_back_pain, 'Ja, nekklachten en rugklachten', class: 'required check_radio'
              %li
                %label
                  Ja, alleen nekklachten
                  = f.radio_button :neck_or_back_pain, 'Ja, alleen nekklachten', class: 'required check_radio'
              %li
                %label
                  Ja, alleen rugklachten
                  = f.radio_button :neck_or_back_pain, 'Ja, alleen rugklachten', class: 'required check_radio'
              %li
                %label
                  Nee, geen klachten
                  = f.radio_button :neck_or_back_pain, 'Nee, geen klachten', class: 'required check_radio'
        / end step
        .step.row
          .col-md-6.col-md-offset-4
            %h3
              Wat is je lichaamsvorm? *
            %ul.data-list-2
              %li
                %label
                  Ik heb brede schouders
                  = f.radio_button :body_shape, 'Ik heb brede schouders', class: 'required check_radio'
              %li
                %label
                  Ik heb brede heupen
                  = f.radio_button :body_shape, 'Ik heb brede heupen', class: 'required check_radio'
              %li
                %label
                  Ik heb brede schouders en heupen
                  = f.radio_button :body_shape, 'Ik heb brede schouders en heupen', class: 'required check_radio'
              %li
                %label
                  Geen van bovenstaande
                  = f.radio_button :body_shape, 'Geen van bovenstaande', class: 'required check_radio'
        / end step
        .step.row
          .col-md-6.col-md-offset-4
            %h3 Heb je het vaak te koud of te warm in bed? *
            %ul.data-list-2
              %li
                %label
                  Koud
                  = f.radio_button :warm_sleeping, 'Koud', class: 'required check_radio'
              %li
                %label
                  Warm
                  = f.radio_button :warm_sleeping, 'Warm', class: 'required check_radio'
              %li
                %label
                  Niet warm, niet koud
                  = f.radio_button :warm_sleeping, 'Niet warm, niet koud', class: 'required check_radio'
        / end step
        .step.row
          .col-md-8.col-md-offset-3
            %h3 Heb je medische klachten? Zo ja, welke?
          .col-md-8.col-md-offset-2
            %ul#terms.data-list
              %li
                %label.switch-light.switch-ios
                  = f.check_box :diseases, { name: "mattress[diseases][]", class: "fix_ie8 show_diseases"}, nil, nil
                  %span
                    %span.ie8_hide Nee
                    %span Ja
                  %a
            %br/
            %br/

          .col-md-12.diseases_options
            %ul.data-list-2
              .col-md-4
                %li
                  %label
                    Artrose
                    = f.check_box :diseases, { multiple: true, class: 'required check_radio' }, "Artrose", nil
                %li
                  %label
                    Hernia
                    = f.check_box :diseases, { multiple: true, class: 'required check_radio' }, "Hernia", nil
                %li
                  %label
                    Decubitis
                    = f.check_box :diseases, { multiple: true, class: 'required check_radio' }, "Decubitus", nil
                %li
                  %label
                    Discusbulging
                    = f.check_box :diseases, { multiple: true, class: 'required check_radio' }, "Discusbulging", nil
                %li
                  %label
                    Discusdegeneratie
                    = f.check_box :diseases, { multiple: true, class: 'required check_radio' }, "Discusdegeneratie", nil
                %li
                  %label
                    Fibromyalgie
                    = f.check_box :diseases, { multiple: true, class: 'required check_radio' }, "Fibromyalgie", nil

              .col-md-4
                %li
                  %label
                    Heupdysplasie
                    = f.check_box :diseases, { multiple: true, class: 'required check_radio' }, "Heupdysplasie", nil
                %li
                  %label
                    Hypermobiliteit
                    = f.check_box :diseases, { multiple: true, class: 'required check_radio' }, "Hypermobiliteit", nil
                %li
                  %label
                    Ischias
                    = f.check_box :diseases, { multiple: true, class: 'required check_radio' }, "Ischias", nil
                %li
                  %label
                    Lumbago
                    = f.check_box :diseases, { multiple: true, class: 'required check_radio' }, "Lumbago", nil
                %li
                  %label
                    Obesitas
                    = f.check_box :diseases, { multiple: true, class: 'required check_radio' }, "Obesitas", nil
                %li
                  %label
                    Osteoporose
                    = f.check_box :diseases, { multiple: true, class: 'required check_radio' }, "Osteoporose", nil

              .col-md-4
                %li
                  %label
                    Parkinson
                    = f.check_box :diseases, { multiple: true, class: 'required check_radio' }, "Parkinson", nil
                %li
                  %label
                    Reuma
                    = f.check_box :diseases, { multiple: true, class: 'required check_radio' }, "Reuma", nil
                %li
                  %label
                    Spondylolyse
                    = f.check_box :diseases, { multiple: true, class: 'required check_radio' }, "Spondylolyse", nil
                %li
                  %label
                    Scoliose
                    = f.check_box :diseases, { multiple: true, class: 'required check_radio' }, "Scoliose", nil
                %li
                  %label
                    Ziekte van Bechterew
                    = f.check_box :diseases, { multiple: true, class: 'required check_radio' }, "Ziekte van Bechterew", nil
                %li
                  %label
                    Een andere medische klacht die hier niet tussen staat
                    = f.check_box :diseases, { multiple: true, class: 'required check_radio' }, "Een andere medische klacht die hier niet tussen staat", nil
        / end step
        .step.row
          .col-md-6.col-md-offset-3
            %h3 Kies de breedte en lengte voor je matras
            .col-md-4.col-md-offset-1
              %ul.data-list-2
                %h4 Breedte
                %li
                  %label
                    80cm
                    = f.radio_button :mattress_width, '80cm', class: 'required check_radio'
                %li
                  %label
                    90cm
                    = f.radio_button :mattress_width, '90cm', class: 'required check_radio'
                %li
                  %label
                    100cm
                    = f.radio_button :mattress_width, '100cm', class: 'required check_radio'

            .col-md-4.col-md-offset-1
              %ul.data-list-2
                %h4 Lengte
                %li
                  %label
                    200cm
                    = f.radio_button :mattress_length, '200cm', class: 'required check_radio'
                %li
                  %label
                    210cm
                    = f.radio_button :mattress_length, '210cm', class: 'required check_radio'
                %li
                  %label
                    220cm
                    = f.radio_button :mattress_length, '220cm', class: 'required check_radio'
        / end step
        .step.row
          .col-md-6.col-md-offset-4
            %h3 Hoe moet je matras aanvoelen?
            %ul.data-list-2
              %li
                %label
                  Zacht
                  = f.radio_button :comfort, 'Zacht', class: 'required check_radio'
              %li
                %label
                  Niet hard, niet zacht
                  = f.radio_button :comfort, 'Niet hard, niet zacht', class: 'required check_radio'
              %li
                %label
                  Hard
                  = f.radio_button :comfort, 'Hard', class: 'required check_radio'
        / end step
        .step.row
          .col-md-12.col-md-offset-3
            %h3 Kies een comfortcategorie voor je matras
            %ul.data-list-2
              %li
                %label
                  Budget (Redelijk comfort)
                  = f.radio_button :category, 'Budget', class: 'required check_radio'
              %li
                %label
                  Comfort (Goed comfort)
                  = f.radio_button :category, 'Comfort', class: 'required check_radio'
              %li
                %label
                  Premium (Beste comfort)
                  = f.radio_button :category, 'Premium', class: 'required check_radio'
          %br/
          .col-md-12
            %table.table.table-bordered
              %thead
                %tr
                  %th
                    Budget
                  %th
                    Comfort
                  %th
                    Premium
              %tbody
                %tr
                  %td
                    2 jaar garantie
                  %td
                    5 jaar garantie
                  %td
                    10 jaar garantie
                %tr
                  %td
                    Redelijke kwaliteit materialen
                    (bijv. HR40 schuim)
                  %td
                    Goede kwaliteit materialen
                    (bijv. HR50 schuim)
                  %td
                    Beste kwaliteit materialen
                    (bijv. HR65 schuim)
                %tr
                  %td
                    Totale hoogte ca. 30cm
                  %td
                    Totale hoogte ca. 36cm
                  %td
                    Totale hoogte ca. 41cm
                %tr
                  %td
                    LGA-gecertificeerd
                    (schadestofvrij)
                  %td
                    LGA-gecertificeerd
                    (schadestofvrij)
                  %td
                    LGA-gecertificeerd
                    (schadestofvrij)
                %tr
                  %td
                    4 cm. topdekmatras
                  %td
                    6 cm. topdekmatras
                  %td
                    6 cm. topdekmatras
                %tr
                  %td
                  %td
                  %td
                    Medisch gecertificeerd
                %tr
                  %td
                  %td
                  %td
                    Ventilerende band
                %tr
                  %td
                  %td
                  %td
                    Emissieneutraal
            / end step
        #complete.submit.step
          %i.icon-check
          %h3 Dit waren alle vragen, bekijk het resultaat door op de knop hieronder te klikken.
          = f.submit 'Bekijk het resultaat..', class: 'btn btn-block btn-info submit', name: 'process', id: 'check_result_mattresses'
        / end submit step
      / end middle-wizard
      #bottom-wizard
        %button.backward{:name => "Vorige", :type => "button"} Vorige
        %button.forward{:name => "Volgende", :type => "button"} Volgende
      / end bottom-wizard
  / end Survey container
/ end section main container
