%section#main.container
  / Start Survey container
  #survey_container
    #top-wizard
      %strong
        Voortgang
        %span#location
      #progressbar
      .shadow
    / end top-wizard
    = form_for @mattress do |f|
      #middle-wizard
        .step
          .row
            %h2.col-md-12.text-center Stel jezelf eens voor
            %br/
            .col-md-6
              %ul.data-list
                %li= f.text_field :name, class: 'required form-control name_person_1', placeholder: 'Voornaam'
                %li= f.number_field :age, class: 'required form-control', placeholder: 'Leeftijd'
                %li= f.email_field :email, class: 'required form-control', placeholder: 'E-mailadres'
            / end col-md-6
            .col-md-6
              %ul.data-list
                %li= f.text_field :weight, class: 'required form-control', placeholder: 'Gewicht'
                %li= f.number_field :length, class: 'required form-control', placeholder: 'Lengte'
              %ul.data-list.floated.clearfix
                %li
                  = f.radio_button :gender, 'Man', class: 'required check_radio'
                  %label.label_gender Man
                %li
                  = f.radio_button :gender, 'Vrouw', class: 'required check_radio'
                  %label.label_gender Vrouw
              %br/
              %br/
            / end col-md-6
          / end row
        / end step
        .step.row
          .col-md-6
            %h3
              Hoe slaapt
              %span.show_name_person_1
              normaal gesproken? *
            %ul.data-list-2
              %li
                = f.radio_button :sleep_position, 'Rug', class: 'required check_radio'
                = f.label :sleep_position_a, 'Rug'
              %li
                = f.radio_button :sleep_position, 'Zij', class: 'required check_radio'
                = f.label :sleep_position_b, 'Zij'
              %li
                = f.radio_button :sleep_position, 'Buik', class: 'required check_radio'
                = f.label :sleep_position_c, 'Buik'
          .col-md-6
            %h3
              Heeft
              %span.show_name_person_1
              weleens nek-of rugklachten? *
            %ul.data-list-2
              %li
                = f.radio_button :neck_or_back_pain, 'Ja, nekklachten en rugklachten', class: 'required check_radio'
                = f.label :neck_or_back_pain_a, 'Ja, nekklachten en rugklachten'
              %li
                = f.radio_button :neck_or_back_pain, 'Ja, alleen nekklachten', class: 'required check_radio'
                = f.label :neck_or_back_pain_b, 'Ja, alleen nekklachten'
              %li
                = f.radio_button :neck_or_back_pain, 'Ja, alleen rugklachten', class: 'required check_radio'
                = f.label :neck_or_back_pain_c, 'Ja, alleen rugklachten'
              %li
                = f.radio_button :neck_or_back_pain, 'Nee, geen klachten', class: 'required check_radio'
                = f.label :neck_or_back_pain_d, 'Nee, geen klachten'
        / end step
        .step.row
          .col-md-4.col-md-offset-4
            %h3
              Wat is de lichaamsvorm van
              %span.show_name_person_1
              ? *
            %ul.data-list-2
              %li
                = f.radio_button :body_shape, 'A: Rechthoek (Redelijk gelijke verhouding schouders, taille en heupen)', class: 'required check_radio'
                = f.label :body_shape_a, 'A: Rechthoek'
              %li
                = f.radio_button :body_shape, 'B: Peerfiguur (Smalle schouders, brede heupen, beetje taille)', class: 'required check_radio'
                = f.label :body_shape_b, 'B: Peerfiguur'
              %li
                = f.radio_button :body_shape, 'C: Zandloperfiguur (Brede schouders, brede heupen en smalle taille)', class: 'required check_radio'
                = f.label :body_shape_c, 'C: Zandloperfiguur'
              %li
                = f.radio_button :body_shape, 'D: Omgekeerde driehoek (Brede schouders, weinig heup, beetje taille)', class: 'required check_radio'
                = f.label :body_shape_d, 'D: Omgekeerde driehoek'
        / end step
        .step.row
          .col-md-4.col-md-offset-4
            %h3
              Heeft
              %span.show_name_person_1
              het eerder koud of warm in bed? *
            %ul.data-list-2
              %li
                = f.radio_button :warm_sleeping, 'Koud', class: 'required check_radio'
                = f.label :warm_sleeping_c, 'Koud'
              %li
                = f.radio_button :warm_sleeping, 'Warm', class: 'required check_radio'
                = f.label :warm_sleeping_b, 'Warm'
              %li
                = f.radio_button :warm_sleeping, 'Niet warm, niet koud', class: 'required check_radio'
                = f.label :warm_sleeping_c, 'Niet warm, niet koud'
        / end step
        .step.row
          .col-md-4.col-md-offset-4
            %h3
              Heeft
              %span.show_name_person_1
              medische klachten? Zo ja, welke?
            %ul.data-list-2
              %li
                = f.radio_button :diseases, 'Hernia', class: 'required check_radio'
                = f.label :diseases_a, 'Hernia'
              %li
                = f.radio_button :diseases, 'Decubitus', class: 'required check_radio'
                = f.label :diseases_b, 'Decubitus'
              %li
                = f.radio_button :diseases, 'Reuma', class: 'required check_radio'
                = f.label :diseases_c, 'Reuma'
              %li
                = f.radio_button :diseases, 'Anders, namelijk', class: 'required check_radio'
                = f.label :diseases_e, 'Anders, namelijk' ## FIXME -- ADD INPUT FIELD
              %li
                = f.radio_button :diseases, 'Nee, geen medische klachten', class: 'required check_radio'
                = f.label :diseases_f, 'Nee, geen medische klachten'
        / end step
        .step.row
          .col-md-12
            %h3.text-center Kies hieronder de breedte en lengte van de matras
            .col-md-6
              %ul.data-list-2
                %h4 Breedte
                %li
                  = f.radio_button :mattress_width, '80cm', class: 'required check_radio'
                  = f.label :mattress_width_a, '80cm'
                %li
                  = f.radio_button :mattress_width, '90cm', class: 'required check_radio'
                  = f.label :mattress_width_b, '90cm'
                %li
                  = f.radio_button :mattress_width, '100cm', class: 'required check_radio'
                  = f.label :mattress_width_c, '100cm'
            .col-md-6
              %ul.data-list-2
                %h4 Lengte
                %li
                  = f.radio_button :mattress_length, '200cm', class: 'required check_radio'
                  = f.label :mattress_length_a, '200cm'
                %li
                  = f.radio_button :mattress_length, '210cm', class: 'required check_radio'
                  = f.label :mattress_length_b, '210cm'
                %li
                  = f.radio_button :mattress_length, '220cm', class: 'required check_radio'
                  = f.label :mattress_length_C, '220cm'
        / end step
        .step.row
          .col-md-4.col-md-offset-4
            %h3 Kies een comfortcategorie voor de matras
            %ul.data-list-2
              %li
                = f.radio_button :category, 'Budget', class: 'required check_radio'
                = f.label :category_a, 'Budget (extra nadruk op prijs)'
              %li
                = f.radio_button :category, 'Comfort', class: 'required check_radio'
                = f.label :category_b, 'Comfort (nadruk op comfort)'
              %li
                = f.radio_button :category, 'Deluxe', class: 'required check_radio'
                = f.label :category_c, 'Deluxe (extra nadruk op comfort)'
        / end step
        #complete.submit.step
          %i.icon-check
          %h3 Dit waren alle vragen, bekijk het resultaat door op de knop hieronder te klikken.
          = f.submit 'Bekijk het resultaat..', class: 'btn btn-block btn-info submit', name: 'process'
        / end submit step
      / end middle-wizard
      #bottom-wizard
        %button.backward{:name => "Vorige", :type => "button"} Vorige
        %button.forward{:name => "Volgende", :type => "button"} Volgende
      / end bottom-wizard
  / end Survey container
/ end section main container