%section#main.container
  / Start Survey container
  #survey_container_result
    #middle-wizard-result
      .wrapper-v4
        .box-title.title-v4.text-center
          Tadaaa...
        %ul
          %li
            .li-holder
              .li-content
                .text-content
                  .text-v4.text-center
                    Op basis van de ingevulde gegevens komt er uit ons algoritme de volgende matras naar voren
          %li
            .li-holder
              .li-content
                .text-content
                  .text-v4
                    %table.table
                      %thead
                        %tr
                          %td.success
                            €<strong>#{@price.to_s[0..-3].to_i}</strong> - Resultaat van #{@mattress.name}
                      %tbody
                        %tr
                          %td #{@mattress.gender}
                        %tr
                          %td #{@mattress.age}
                        %tr
                          %td #{@mattress.weight}
                        %tr
                          %td #{@mattress.length}
                .icon-holder-right
                  .icon
                    = image_tag("blauw-test.png", class: 'img-responsive')
        .box-title.title-v4.text-center
          %a.btn-primary.btn-success.btn-block{href: customers_new_path}
            Afrekenen

%section#main.container
  #survey_container_result_advice
    #middle-wizard-result
      .wrapper-v4
        .v4-bordered
          .specs-boxs
            .box-title.title-v4.text-center
              Hoe komen wij op dit advies?
            %ul
              %li
                .head-title-v4 Comfort matras
                .li-holder
                  .li-content
                    .icon-holder-left
                      .icon
                        = image_tag("comfort.png", class: 'img-responsive')
                    .text-content
                      .title-smaller Comfort
                      .text-v4
                        Wij hebben jullie situatie bekeken en komen met de volgende conclusie: Persoon 1 heeft een stevig matras nodig om een holle rug te voorkomen en zodoende rug- en nekpijn te minimaliseren. Persoon 2 heeft een extra stevig matras nodig die zich aanpast aan de contouren van het lichaam. Beiden hebben voldoende aan een 7-zone pocketveermatras.
                      .title-extra-smaller Uitleg comfort
                      .text-v4
                        Matrassen beschikken over een comfortlaag aan de bovenzijde en soms ook aan de onderzijde. Dit is iets anders dan de stevigheid van een matras. Een matras kan namelijk stevig zijn, maar toch lekker zacht aanvoelen. De comfortlaag is bepalend voor het gevoel dat je krijgt op je matras.
              %li
                .head-title-v4 Elasticiteit matras
                .li-holder
                  .li-content
                    .text-content
                      .title-smaller Elasticiteit
                      .text-v4
                        Persoon 1 is een buikslaper. Wij delen hier de mening van onderzoekers: Het slapen op je buik is geen natuurlijke positie. Mensen die op hun buik slapen hebben vaak last van hun rug en nek. Dit komt doordat de rug een holle positie aanneemt en de rugwervels bekneld raken. Ook is je nek vaak ’s nachts volledig naar links of naar rechts gedraaid.
                      .title-extra-smaller Uitleg elasticiteit
                      .text-v4
                        De elasticiteit van een matras is de mate waarin het een aanpassend vermogen heeft op één specifiek punt. Je lichaamsvorm en slaappositie zijn van belang om de elasticiteit te bepalen. Een hoge elasticiteit zorgt namelijk dat mensen met curves beter kunnen inzakken in het matras, waardoor hun ruggengraat een betere positie aanneemt.
                    .icon-holder-right
                      .icon
                        = image_tag("elasticiteit.png", class: 'img-responsive')
              %li
                .head-title-v4 Stevigheid matras
                .li-holder
                  .li-content
                    .icon-holder-left
                      .icon
                        = image_tag("stevigheid.png", class: 'img-responsive')
                    .text-content
                      .title-smaller Stevigheid
                      .text-v4
                        Persoon 1 is een buikslaper. Wij delen hier de mening van onderzoekers: Het slapen op je buik is geen natuurlijke positie. Mensen die op hun buik slapen hebben vaak last van hun rug en nek. Dit komt doordat de rug een holle positie aanneemt en de rugwervels bekneld raken. Ook is je nek vaak ’s nachts volledig naar links of naar rechts gedraaid.
                      .title-extra-smaller Uitleg stevigheid
                      .text-v4
                        De stevigheid van je matras wordt bepaald door je BMI, je lichaamsvorm en je slaappositie. BMI is een waarde die kijkt naar de verhouding tussen je lengte en je gewicht. Een matras moet een goed aanpassingsvermogen hebben voor ieder individu. Door te letten op deze drie aspecten kunnen we de optimale stevigheid bepalen voor jou.

              %li
                .head-title-v4 Warmte-regulatie matras
                .li-holder
                  .li-content
                    .text-content
                      .title-smaller Warmte-regulatie
                      .text-v4
                        Persoon 1 is een buikslaper. Wij delen hier de mening van onderzoekers: Het slapen op je buik is geen natuurlijke positie. Mensen die op hun buik slapen hebben vaak last van hun rug en nek. Dit komt doordat de rug een holle positie aanneemt en de rugwervels bekneld raken. Ook is je nek vaak ’s nachts volledig naar links of naar rechts gedraaid.
                      .title-extra-smaller Uitleg warmte-regulatie
                      .text-v4
                        Een van de aspecten die bijdragen aan een goede nachtrust is je lichaamstemperatuur. Sommige matrassen houden warmte vast, terwijl andere juist koud aanvoelen. Door de juiste materialen te kiezen zorgen wij dat jij de juiste lichaamstemperatuur krijgt tijdens het slapen.
                    .icon-holder-right
                      .icon
                        = image_tag("warmte-regulatie.png", class: 'img-responsive')
