%section#main.container
  #survey_container_result
    #middle-wizard-result
      .wrapper-v4
        .v4-bordered
          .specs-box
            .box-title.title-v4.text-center
              = t('results.titles.header', aanhef: 'Jouw')
            %ul
              %li
                .li-holder
                  .li-content
                    .box-holder
                      .icon
                        .summary_box
                          .box-title-small.text-center
                            = t('results.titles.cart')
                          %p
                            = @mattress_product
                          .price_tag
                            - if @price == 0000
                              Gratis
                            - else
                              €
                              = @price.to_s[0..-3]
                              -# - if session[:kortingscode] == 'valentijn20'
                              -#   %span{style: 'color: green; font-size: 17px; color: #5cb85c;'} (-20%)
                          .delivery_tag
                            = t('general.delivery_time')
                          .delivery_tag
                            %br
                            = form_tag('/kortingscode_checken', remote: true) do
                              %ul.list-inline
                                %li.list-inline-item
                                  = text_field_tag 'kortingscode', nil, class: 'required form-control', placeholder: 'kortingscode...'
                                %li.list-inline-item
                                  = submit_tag 'Gebruiken', class: 'btn btn-primary btn-sm'

                              %p= flash[:notice]
                            -# %span{style: 'font-size: 12px; text-decoration:underline;'}= link_to 'Antwoorden wijzigen', 'javascript:history.go(-1);'
                      .product_image
                        - if @mattress.warm_sleeping.include?('Warm')
                          = image_tag('warm_matras.jpg', alt: 'Jouw Tenzen Matras')
                        - else
                          = image_tag('koud_matras.jpg', alt: 'Jouw Tenzen Matras')

                      .checkout_button.title-v4.text-center
                        %a.btn-primary.btn-success.btn-block{href: afrekenen_path}
                          = t("general.button.continue")
                    .box-holder
                      .icon
                        .summary_box
                          .box-title-small.text-center
                            = t('results.titles.graphs')
                            %span.question_label_icon_wrapper
                              = question_icon_md(t("results.explanations.personalisation.solo"))
                          .text-content
                            .text-v4
                              %table.table
                                %tbody
                                  %tr
                                    %td
                                      %p.text-center Comfort
                                      .graph_explanation_text
                                        %span Zacht
                                        %span{style: "float: right"} Hard
                                      .progress#progress_comfort
                                        .progress-bar.progress-bar-success{"aria-valuemax" => "100", "aria-valuemin" => "0", :role => "progressbar", :style => "width:100%"}
                                          %div{class: @comfort_dot}

                                      %p.text-center Elasticiteit
                                      .graph_explanation_text
                                        %span Laag
                                        %span{style: "float: right"} Hoog
                                      .progress#progress_elasticity
                                        .progress-bar.progress-bar-success{"aria-valuemax" => "100", "aria-valuemin" => "0", :role => "progressbar", :style => "width:100%"}
                                          %div{class: @elasticity_dot}

                                      %p.text-center Stevigheid
                                      .graph_explanation_text
                                        %span Soepel
                                        %span{style: "float: right"} Stevig
                                      .progress#progress_firmness
                                        .progress-bar.progress-bar-success{"aria-valuemax" => "100", "aria-valuemin" => "0", :role => "progressbar", :style => "width:100%"}
                                          %div{class: @firmness_dot}

                                      %p.text-center Warmte-regulatie
                                      .graph_explanation_text
                                        %span Koud
                                        %span{style: "float: right"} Warm
                                      .progress#progress_heat_regulation
                                        .progress-bar.progress-bar-success{"aria-valuemax" => "100", "aria-valuemin" => "0", :role => "progressbar", :style => "width:100%"}
                                          %div{class: @heat_regulation_dot}
                                  %tr
                                    %td.text-center
                                      Je Body Mass Index(BMI) is:
                                      %strong #{@bmi}
                                      %span.question_label_icon_wrapper
                                        = question_icon_md(t("results.explanations.bmi"))
                          %a.read_more{href: '#advies'} bekijk advies
              %li
                .li-holder
                  .li-content-no-padding
                    .col-md-12
                      .col-md-4
                        .align-usps
                          = image_tag 'persoonlijk.png', alt: 'Niet goed geld terug'
                          PERSOONLIJK COMFORT
                      .col-md-4
                        .align-usps
                          = image_tag 'garantie.png', alt: 'Niet goed geld terug'
                          NIET GOED, GELD TERUG
                      .col-md-4
                        .align-usps
                          = image_tag 'bezorging.png', alt: 'Niet goed geld terug'
                          GRATIS VERZEND- EN OPHAALSERVICE

%section#main.container
  #survey_container_result_advice
    #middle-wizard-result
      .wrapper-v4
        .v4-bordered
          .specs-boxs
            .box-title.title-v4.text-center#advies
              = t('results.titles.header_advice')
            %ul
              - if complaints?
                %li
                  .head-title-v4
                    Drukverlagend matras
                    %span.question_label_icon_wrapper
                      = question_icon_md(t("results.explanations.complaints"))
                  .li-holder
                    .li-content
                      .text-content
                        .title-smaller Drukverlagend
                        .text-v4
                          = @complaints_text
                      .icon-holder-right
                        .icon
                          = image_tag("medisch-matras.png", class: 'img-responsive')
              %li
                .head-title-v4
                  Comfort matras
                  %span.question_label_icon_wrapper
                    = question_icon_md(t("results.explanations.comfort"))
                .li-holder
                  .li-content
                    .icon-holder-left
                      .icon
                        = image_tag("comfort.png", class: 'img-responsive')
                    .text-content
                      .title-smaller Comfort
                      .text-v4
                        = @comfort_text
              %li
                .head-title-v4
                  Elasticiteit matras
                  %span.question_label_icon_wrapper
                    = question_icon_md(t("results.explanations.elasticity"))
                .li-holder
                  .li-content
                    .text-content
                      .title-smaller Elasticiteit
                      .text-v4
                        = @elasticity_text
                    .icon-holder-right
                      .icon
                        = image_tag("elasticiteit.png", class: 'img-responsive')
              %li
                .head-title-v4
                  Stevigheid matras
                  %span.question_label_icon_wrapper
                    = question_icon_md(t("results.explanations.firmness"))
                .li-holder
                  .li-content
                    .icon-holder-left
                      .icon
                        = image_tag("stevigheid.png", class: 'img-responsive')
                    .text-content
                      .title-smaller Stevigheid
                      .text-v4
                        = @firmness_text
              %li
                .head-title-v4
                  Warmte-regulatie matras
                  %span.question_label_icon_wrapper
                    = question_icon_md(t("results.explanations.heat_regulation"))
                .li-holder
                  .li-content
                    .text-content
                      .title-smaller Warmte-regulatie
                      .text-v4
                        = @heat_regulation_text
                    .icon-holder-right
                      .icon
                        = image_tag("warmte-regulatie.png", class: 'img-responsive')
                  .checkout_button.title-v4.text-center
                    %a.btn-primary.btn-success.btn-block{href: afrekenen_path}
                      = t("general.button.continue")
