!!!
/[if IE 8 ] <html class="ie ie8" lang="en">
/[if IE 9 ] <html class="ie ie9" lang="en">
%html{:lang => "nl"}
  / <![endif]
  %head
    = csrf_meta_tags
    / Basic Page Needs
    %meta{:charset => "utf-8"}/
    %title Boxspring samenstellen
    %meta{:content => "", :name => "description"}/
    %meta{:content => "Boxspringspot.nl", :name => "author"}/
    / Favicons
    -# %link{:href => "favicon.ico", :rel => "shortcut icon", :type => "image/x-icon"}/
    -# %link{:href => "apple-touch-icon-57x57-precomposed.png", :rel => "apple-touch-icon", :type => "image/x-icon"}/
    -# %link{:href => "apple-touch-icon-72x72-precomposed.png", :rel => "apple-touch-icon", :sizes => "72x72", :type => "image/x-icon"}/
    -# %link{:href => "apple-touch-icon-114x114-precomposed.png", :rel => "apple-touch-icon", :sizes => "114x114", :type => "image/x-icon"}/
    -# %link{:href => "apple-touch-icon-144x144-precomposed.png", :rel => "apple-touch-icon", :sizes => "144x144", :type => "image/x-icon"}/
    / Mobile Specific Metas
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    / CSS
    = stylesheet_link_tag    'bootstrap.css', media: 'all'
    = stylesheet_link_tag    'style.css', media: 'all'
    = stylesheet_link_tag    'fancybox/source/jquery.fancybox.css', media: 'all'
    = stylesheet_link_tag    'check_radio/skins/square/aero.css', media: 'all'
    / Toggle Switch
    = stylesheet_link_tag    'jquery.switch.css', media: 'all'
    / Owl Carousel Assets
    = stylesheet_link_tag    'owl.carousel.css', media: 'all'
    = stylesheet_link_tag    'owl.theme.css', media: 'all'
    / Google web font
    %link{:href => "http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800,300", :rel => "stylesheet", :type => "text/css"}/
    /[if lt IE 9]
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    / Jquery

    = javascript_include_tag 'jquery-1.10.2.min.js'
    = javascript_include_tag 'jquery-ui-1.8.22.min.js'
    / Wizard
    = javascript_include_tag 'jquery.wizard.js'
    / Radio and checkbox styles
    = javascript_include_tag 'check_radio/jquery.icheck.js'
    / HTML5 and CSS3-in older browsers
    = javascript_include_tag 'modernizr.custom.17475.js'
    / Support media queries for IE8
    = javascript_include_tag 'respond.min.js'
  %body
    = render 'partials/header'
    = yield
    #toTop Back to Top
    / Modal About
    #myModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
      .modal-dialog
        .modal-content
          .modal-header
            %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
            %h4#myModalLabel.modal-title About us
          .modal-body
            %p
              Lorem ipsum dolor sit amet, in porro albucius qui, in nec quod novum accumsan, mei ludus tamquam dolores id. No sit debitis meliore postulant, per ex prompta alterum
              sanctus, pro ne quod dicunt sensibus.
            %p
              Lorem ipsum dolor sit amet, in porro albucius qui, in nec quod novum accumsan, mei ludus tamquam dolores id. No sit debitis meliore postulant, per ex prompta alterum
              sanctus, pro ne quod dicunt sensibus. Lorem ipsum dolor sit amet, in porro albucius qui, in nec quod novum accumsan, mei ludus tamquam dolores id. No sit debitis meliore postulant, per ex prompta alterum
              sanctus, pro ne quod dicunt sensibus.
          .modal-footer
            %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
        / /.modal-content
      / /.modal-dialog
    / /.modal
    / Modal About
    #terms-txt.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "termsLabel", :role => "dialog", :tabindex => "-1"}
      .modal-dialog
        .modal-content
          .modal-header
            %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
            %h4#termsLabel.modal-title Terms and conditions
          .modal-body
            %p
              Lorem ipsum dolor sit amet, in porro albucius qui, in
              = succeed "," do
                %strong nec quod novum accumsan
            %p
              Lorem ipsum dolor sit amet, in porro albucius qui, in nec quod novum accumsan, mei ludus tamquam dolores id. No sit debitis meliore postulant, per ex prompta alterum
              sanctus, pro ne quod dicunt sensibus. Lorem ipsum dolor sit amet,
              = succeed "," do
                %strong in porro albucius qui
            %p
              Lorem ipsum dolor sit amet, in porro albucius qui, in nec quod novum accumsan, mei ludus tamquam dolores id. No sit debitis meliore postulant, per ex prompta alterum
              sanctus, pro ne quod dicunt sensibus.
          .modal-footer
            %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
        / /.modal-content
      / /.modal-dialog
    / /.modal

    / CUSTOM JS
    = javascript_include_tag 'custom.js'
    
    / OTHER JS
    = javascript_include_tag 'jquery.validate.js'
    = javascript_include_tag 'jquery.placeholder.js'
    = javascript_include_tag 'jquery.tweet.min.js'
    = javascript_include_tag 'jquery.bxslider.min.js'
    = javascript_include_tag 'quantity-bt.js'
    = javascript_include_tag 'bootstrap.js'
    = javascript_include_tag 'retina.js'
    = javascript_include_tag 'owl.carousel.min.js'
    = javascript_include_tag 'functions.js'
    = javascript_include_tag 'jquery.validate.js'

    / Fancybox
    = javascript_include_tag 'fancybox/source/jquery.fancybox.pack.js'
    = javascript_include_tag 'fancybox/source/helpers/jquery.fancybox-media.js'
    = javascript_include_tag 'fancy_func.js'