!!!
%html{:lang => "nl"}
  %head
    = csrf_meta_tags

    -# Google Tag Manager
    :javascript
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-5257WHS');

    %meta{:charset => "utf-8"}/
    / Responsive Meta
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    / IE Compatibility Meta
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    -#  toolbar color for chrome on android
    %meta{:content => "#ABDBEA", :name => "theme-color"}/
    / Page Title
    %title Tenzen | Matras Samenstellen
    / Favicon
    %link{:href => "images/favicon.ico", :rel => "shortcut icon"}/
    / Bootstrap Stylesheet
    = stylesheet_link_tag    'home/bootstrap.css', media: 'all'
    = stylesheet_link_tag    'home/font-awesome.min.css', media: 'all'
    = stylesheet_link_tag    'home/flaticon.css', media: 'all'
    = stylesheet_link_tag    'home/owl.carousel.min.css', media: 'all', type: "text/css"

    / Google font
    %link{:href => "https://fonts.googleapis.com/css?family=Poppins:300,400,600,700", :rel => "stylesheet"}/
    %link{:href => "https://fonts.googleapis.com/css?family=Montserrat:200,700,800", :rel => "stylesheet"}/

    = stylesheet_link_tag    'home/style.css', media: 'all'
    = stylesheet_link_tag    'home/colors/color-1.css', media: 'all'
    / Google Font
    /[if lt IE 9]
      <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  %body
    -# Google Tag Manager
    %noscript
      %iframe{:height => "0", :src => "https://www.googletagmanager.com/ns.html?id=GTM-5257WHS", :style => "display:none;visibility:hidden", :width => "0"}

    / Page Holder
    .page-holder
      %nav.navbar.main-navigation.navbar-fixed-top.has-shadow
        .container
          .navbar-header
            %button.navbar-toggle.collapsed{"data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
              %span.sr-only Navigatie
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
            %a.navbar-brand{href: "/"}
              = image_tag('LogoHuisstijl.svg', width: '150px', height: '50px')
          .collapse.navbar-collapse#navbar
            %ul.nav.navbar-nav.navbar-right
              %li
                %a.js-scroll-trigger{href: new_mattress_url} EENPERSOONSMATRAS
              %li
                %a.js-scroll-trigger{href: root_url} TWEEPERSOONSMATRAS
              %li
                %a.js-scroll-trigger{href: over_ons_url} OVER ONS
              %li
                %a.js-scroll-trigger{href: veelgestelde_vragen_url} FAQ's

      #home.header-1.demo-1.has-gradient
        .moving-bg
        .container
          .header-1-content.row
            .col-md-7.col-sm-12.mt-63.home-question-1
              %h1 Stel nu je eigen matras samen
              %br/
              %p.lead
                Elk lichaam is anders, dus waarom zou jouw matras dat niet zijn? Stel binnen twee minuten jouw persoonlijke matras samen en geniet van slaapcomfort als nooit tevoren!
                %hr/
                %strong Kies je maatvoering en begin direct.
              .download
                %a.download-btn{href: new_mattress_url}
                  Eenpersoons
                %a.download-btn.show-home-question-2
                  Tweepersoons
            .col-md-7.col-sm-12.mt-63.home-question-2
              %h1.has-line Hoeveel personen slapen er op?
              .download
                %a.download-btn{href: new_double_mattress_one_url}
                  1 Persoon
                %a.download-btn{href: new_double_mattress_two_url}
                  2 Personen
            .col-md-5.hidden-sm.hidden-xs.mt-63
              .center-block= image_tag("tenzen.png", alt: 'Tenzen Matras Samenstellen')

      %section#how-it-work.how-it-work
        .container.text-center
          %header.text-center
            %h2.has-line-center
              Droomservice
            %p.lead
              Bij Tenzen draait alles om jou. ‘Wij slapen pas lekker, als jij lekker slaapt’ is ons motto. Je hoeft alleen maar online te bestellen. Wij zorgen ervoor dat jij daarna nergens naar om hoeft te kijken. Wij stellen het beste matras voor jou samen en bezorgen het gratis tot in je slaapkamer.
          .how-one-container
            .how-box-one.col-md-4.col-sm-6.col-xs-12
              .inner-box
                .icon-box
                  %i
                    = image_tag("persoonlijk.png", alt: 'Persoonlijk comfort', style: "height: 50px; width:50px")
                %h3
                  %a{:href => "#"} Persoonlijk comfort
                .text
                  Elk matras wordt bij ons op basis van persoonlijke voorkeuren geproduceerd. Jij moet je niet aan je matras aanpassen, maar je matras moet zich aan jou aanpassen! Je krijgt
                  %strong gegarandeerd
                  het perfecte matras voor jou. Wij nemen al je zorgen weg en laten je lekker slapen.
            .how-box-one.col-md-4.col-sm-6.col-xs-12
              .inner-box
                .icon-box
                  %i
                    = image_tag("bezorging.png", alt: 'Gratis bezorging', style: "height: 50px; width:50px")
                %h3
                  %a{:href => "#"} Gratis verzend- en ophaalservice
                .text
                  Je matras wordt gratis thuisbezorgd, tot in je slaapkamer. Mocht je het matras
                  %strong terug willen sturen
                  ,dan komen wij het ook weer gratis bij je ophalen. Geen zorgen dus.
            .how-box-one.col-md-4.col-sm-6.col-xs-12
              .inner-box
                .icon-box
                  %i
                    = image_tag("garantie.png", alt: 'Niet Tevreden = Geld Terug', style: "height: 50px; width:50px")
                %h3
                  %a{:href => "#"} Niet goed, geld terug
                .text
                  Je kunt honderd dagen proefslapen op je matras. Mocht het niet zijn wat je had gewenst, dan komen wij het gratis ophalen en krijg je het volledige aankoopbedrag terug. Daar doen we niet moeilijk over.

      %section#services.what-we-do.has-gradient
        %span.img-bg
        .container.text-center
          %header.text-center.mb-70
            %h2.has-line-center
              Jouw Tenzen-matras
            %p.lead
              Wij laten al onze matrassen onder strenge kwaliteitscontroles speciaal produceren in Duitsland. Hierdoor weet je zeker dat je altijd op een kwalitatief goede, en vooral ook een veilige matras slaapt.
          .outer
            / Logo
            .inner-circle
              =image_tag("tenzen-matrassen.png", alt: "Tenzen Matrassen", class: "mattress")
            .row.clearfix
              / Left Column
              .left-column.col-lg-4.col-md-6.col-sm-6.col-xs-12

                .service-box-three
                  .inner-box
                    .icon-box
                      %span= image_tag("icon-aanpassend-vermogen.png", alt: "kwaliteit matrassen")
                    %h3{style: "color: white"} Corrigerend
                    .text
                      Je Tenzen-matras heeft een aanpassend vermogen. Het matras kan zich volledig aan jouw lichaam en slaapstijl aanpassen.
                .service-box-three
                  .inner-box
                    .icon-box
                      %span= image_tag("icon-ademend.png", alt: "kwaliteit matrassen")
                    %h3{style: "color: white"} Ademend
                    .text
                      Je Tenzen-matras heeft een optimaal ademend vermogen. Zo zul je het nooit meer te warm of koud hebben in bed.
                .service-box-three
                  .inner-box
                    .icon-box
                      %span= image_tag("icon-gevoel.png", alt: "kwaliteit matrassen")
                    %h3{style: "color: white"} Comfortabel
                    .text
                      Je Tenzen-matras wordt speciaal voor jou gemaakt om je de perfecte slaaphouding te geven. Zo weet je zeker dat je matras het juiste comfort biedt voor een heerlijke nachtrust.
              / Right Column
              .right-column.col-lg-4.col-md-6.col-sm-6.col-xs-12

                .service-box-four
                  .inner-box
                    .icon-box
                      %span= image_tag("icon-veilig.png", alt: "kwaliteit matrassen")
                    %h3{style: "color: white"} Veilig en vertrouwd
                    .text
                      Al het schuim dat gebruikt wordt in je Tenzen-matras is vrij van schadelijke chemicaliën en wordt compleet milieuvriendelijk geproduceerd.
                .service-box-four
                  .inner-box
                    .icon-box
                      %span= image_tag("icon-kwaliteit.png", alt: "kwaliteit matrassen")
                    %h3{style: "color: white"} Kwaliteit
                    .text
                      Tenzen gebruikt alleen de beste kwaliteit materialen. Je hebt dan ook altijd minimaal twee jaar
                      %strong garantie
                      op je aankoop.

                .service-box-four
                  .inner-box
                    .icon-box
                      %span= image_tag("icon-stevig.png", alt: "kwaliteit matrassen")
                    %h3{style: "color: white"} Duurzaam
                    .text
                      Jouw Tenzen-matras heeft precies de juiste stevigheid voor jouw lichaam. Hierdoor slaap je beter en wordt de levensduur van je matras langer.

      = render 'partials/footer'

    / End Page Holder
    = javascript_include_tag "home/jquery.min.js"
    = javascript_include_tag "home/bootstrap.js"
    = javascript_include_tag "home/jquery.counterup.min.js"
    = javascript_include_tag "home/owl.carousel.min.js"
    = javascript_include_tag "home/owl.carousel.min.js"
    = javascript_include_tag "home/jquery.easing.min.js"
    = javascript_include_tag "home/script.js"
