!!!
%html{:lang => "nl"}
  %head
    = csrf_meta_tags

    -# Google Tag Manager
    :javascript
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-5257WHS');
    %meta{:charset => "utf-8"}/

    %title= @page_title
    %meta{:content => "#{@meta_title}", :name => "title"}/
    %meta{:content => "#{@meta_description}", :name => "description"}/
    %meta{:content => "Tenzen.nl", :name => "author"}/

    / Responsive Meta
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    / IE Compatibility Meta
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    -#  toolbar color for chrome on android
    %meta{:content => "#5777ab", :name => "theme-color"}/
    / Favicon
    %link{:href => "favicon.ico", :rel => "shortcut icon"}/
    / Bootstrap Stylesheet
    = stylesheet_link_tag    'home/bootstrap.css', media: 'all'
    = stylesheet_link_tag    'home/font-awesome.min.css', media: 'all'
    = stylesheet_link_tag    'home/flaticon.css', media: 'all'
    = stylesheet_link_tag    'home/owl.carousel.min.css', media: 'all', type: "text/css"

    / Google font
    %link{:href => "https://fonts.googleapis.com/css?family=Poppins:300,400,600,700", :rel => "stylesheet"}/
    %link{:href => "https://fonts.googleapis.com/css?family=Montserrat:200,700,800", :rel => "stylesheet"}/

    = stylesheet_link_tag    'home/style.css', media: 'all'
    = stylesheet_link_tag    'home/colors/color-1.css', media: 'all'
    / Google Font
    /[if lt IE 9]
      <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>

  %body
    -# Google Tag Manager
    %noscript
      %iframe{:height => "0", :src => "https://www.googletagmanager.com/ns.html?id=GTM-5257WHS", :style => "display:none;visibility:hidden", :width => "0"}

    = yield
    = render 'partials/footer'

    / End Page Holder
    = javascript_include_tag "home/jquery.min.js"
    = javascript_include_tag "home/bootstrap.js"
    = javascript_include_tag "home/jquery.counterup.min.js"
    = javascript_include_tag "home/owl.carousel.min.js"
    = javascript_include_tag "home/owl.carousel.min.js"
    = javascript_include_tag "home/jquery.easing.min.js"
    = javascript_include_tag "home/script.js"

    / CUSTOM JS
    = javascript_include_tag 'custom.js'

    :javascript
      var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
      (function(){
      var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
      s1.async=true;
      s1.src='https://embed.tawk.to/5a2c0b6cd0795768aaf8e4fa/default';
      s1.charset='UTF-8';
      s1.setAttribute('crossorigin','*');
      s0.parentNode.insertBefore(s1,s0);
      })();

    :javascript
      (function(h,o,t,j,a,r){
      h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
      h._hjSettings={hjid:885611,hjsv:6};
      a=o.getElementsByTagName('head')[0];
      r=o.createElement('script');r.async=1;
      r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
      a.appendChild(r);
      })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
